﻿@{
    ViewBag.Title = "CustomError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
  <div class="fondo-sin-submenu transaparencia-rojo">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp; Ocurrió un error &nbsp;&nbsp;</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var IndexUrl = '@Url.Action("Index", "Principal", new {Id = 1 })';
    setTimeout(function () {
      window.location.href = IndexUrl;
    }, 2500);
  });
</script>