﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
  <meta name="google-site-verification" content="cir0Bx6WvRa_M_Ht-xEfuE_lIEKzy7XI3ur0HQiHZ_8" />
  <link rel="shortcut icon" href="~/Images/Iconos/Bnb.ico">
  <title>BNB Valores Peru S.A.</title>
  @Styles.Render("~/Content/bootstrapcss")
  @Styles.Render("~/Content/portalcss")
  @Styles.Render("~/Content/animatedcss")
  @Styles.Render("~/Content/aoscss")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
  <link href="~/Content/bnb-style.css" rel="stylesheet" />
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1502057909838117');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=1502057909838117&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

</head>
<body>
    @{Html.RenderAction("_Header", "Principal", new { logo = ViewBag.logoHeader });}
    <div class="container-fluid">
        @RenderBody()
    </div>
    @*<div class="container">
            <div id="floater">
                <a href="http://m.me/ChatBotBNB" target="_blank">
                    <img class="img-responsive" src="~/Images/IconosSocial/botChat.png" />
                    <span>Hola, Soy Carlitos BNB<br />¿Quieres chatear conmigo?</span>
                </a>
            </div>
        </div>*@
    <!--Ventana Modal-->
    <div class="modal fade" id="ModalGenerico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin:0px; width:100%;top:15%">
            <div class="modal-content" id="ModalGenericoContent" style="width:fit-content;margin:auto;padding:0px;background:none;border:none;">
            </div>
        </div>
    </div>
    <!--/Ventana Modal-->
    <div id="procesando">
        <div class="body-content">
            <div id="divLoading">
                <div id="divLoadingsub">
                    <img src="~/Images/Loading.gif" />
                    <p id="mensaje" class="textoverde4a d15">
                    </p>
                    <p class="textoverde4a d14">
                        En caso de obtener una falla por favor comuniquese con el banco:
                        <br />
                        <a href="mailto:bnbsoporte@bnb.com.bo">BNB-Soporte@bnb.com.bo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    @{Html.RenderAction("_Footer", "Principal");}
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/portaljs")
    @Scripts.Render("~/bundles/aosjs")
    @Scripts.Render("~/bundles/html5shiv2")
    @Scripts.Render("~/bundles/html5shiv-p")
    @Scripts.Render("~/bundles/css8")

    @*@Scripts.Render("~/bundles/html5shiv2")*@


    @RenderSection("scripts", required: false)
</body>
<script src="~/Scripts/borders.js" type="text/javascript"></script>
<script src="~/Scripts/sweetalert2.js"></script>
</html>
<script>
  AOS.init();
  //Obtener la informacion de la tarjeta y el link del detalle
  function MostrarPopUp(event, obj, accion, controlador) {
    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
    $.ajax({
      url: '@Url.Action("accion", "controlador")'.replace('accion', accion).replace('controlador',controlador),
      type: "POST",
      dataType: "html",
      traditional: true,
      contentType: "application/json; charset=utf-8",
      success: function (data) {
        $('#ModalGenericoContent').html(data)
        $('#ModalGenerico').modal('show');
      },
      error: function () {
        alert("En este momento no podemos mostrar la información que solicitaste");
      }
    });
    }
    if ($('#bnbSubMenu').length)         // use this if you are using id to check
    {
        $('#bnbMenu').css('height', '50px');
    }


</script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-82207782-2', 'auto');
  ga('send', 'pageview');
</script>