﻿@{
  Layout = null;
}

<fieldset class="fieldset-verde" style="padding:0px;border:0px solid #27A238 !important; background:white;">
  <div class="row">
    <div class="col-sm-12 text-justify popupinicio">
      <button type="button" class="close-derecha" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      @*<img id="imgAviso" class="img-responsive img-center containerForm" src="~/Images/Banners/popup_nuevos_horarios.jpg" alt="" style="border-radius: unset; max-height:630px">*@
      <img src="~/Images/logo-verde.png" />
      <p>Estimados clientes:</p>      
      <p>
          Les informamos que, a partir del <b>12 de febrero de 2025</b>, entrarán en vigencia los cambios en el tarifario correspondiente al servicio de <b>custodia física de valores.</b>
      </p>
      <p>
          Esta actualización tiene como objetivo mantener la calidad y sostenibilidad de nuestros servicios, adaptándonos a las necesidades del mercado y cumpliendo con los estándares del sector.
      </p>
      <p>
          Los nuevos valores podrán ser consultados a través de nuestro sitio web en la sección de <a onclick="openPDFs();" style="cursor:pointer;">Tarifario</a> o directamente con su Representante.
      </p>
      
      <br />
      <div class="text-center">
        <img src="~/Images/logo-verde-2.PNG" />
      </div>

    </div>
  </div>
</fieldset>

<script>
    function openPDFs() {
        window.open('@Url.Content("~/Documentos/TARIFARIO_BNB_VALORES_PERU.pdf")');
    }
</script>