﻿@{
  Layout = null;
}

<fieldset class="fieldset-verde">
  <div class="row">
      <div class="col-sm-12 text-center">
          <button type="button" class="close-derecha" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="textoverde d44">
              CONTACT CENTER
          </div>
          <hr class="lineaverde" />
          <div class="textoverde d30 fuente-bold">
              INFORMACIÓN DE CONTACTO
          </div>
          <br />
          <img class="img-center img-responsive" src="~/Images/Iconos/contact-center.png" />
          <br />
          <br />
          <div class="textoverde d44">
              BNB 24 (24/7)
          </div>
          <div>
              <a class="d22 fuente-bold linkprincipal" href="tel:800107272">800-10-7272</a>
          </div>
          <br />
          <div class="textoverde d44">
              WHATSAPP
          </div>
          <div>
              <a class="d22 fuente-bold linkprincipal" href="tel:69831317">698-31317</a>
          </div>
          <br />
          <div class="textoverde d44">
              SKYPE
          </div>
          <div class="textoplomo d22 fuente-bold">
              BANCO NACIONAL <BR />DE BOLIVIA S.A.
          </div>
      </div>
  </div>
</fieldset>

