﻿@{
    Layout = null;
}
<button type="button" class="close-derecha" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<fieldset class="fieldset-verde">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="textoverde d44">
                BNB Firmas-Formulario
            </div>
            <hr class="lineaverde" />
            <div class="textoverde d30 fuente-bold">
                Actualización Aplicación BNB Firmas
            </div>

            <div class='seccion'>
                <h5 class="textoverde d44">Firmas</h5>
                @*<a class="textoplomo d22 fuente-bold" href='http://www.bnb.com.bo/Portal/Documento/doc201524_204447765_aplicacionesproxybnbfirmas.doc'>Actualizacion Aplicación BNBFirmas </a><br />
            <a class="textoplomo d22 fuente-bold" href='http://www.bnb.com.bo/Portal/Documento/doc201524_204510640_bnbfirmasactualizacion.zip'>Manual de Instalación y de Usuario</a><br />
            <a class="textoplomo d22 fuente-bold" href='http://www.bnb.com.bo/Portal/Documento/doc201524_204527421_manualconsolafirmas.zip'>Manual de Configuracion de Proxy</a><br />*@
                <a class="textoplomo d22 fuente-bold" href='~/Documentos/Firmas/MAN0053_Manual_de_instalación_Consola_de_Firmas.pdf' target="_blank">Manual de Instalación BNB Firmas </a><br />
                <a class="textoplomo d22 fuente-bold" href='~/Documentos/Firmas/dotnetfx.exe'>Instalador .NET FrameWork</a><br />
                <a class="textoplomo d22 fuente-bold" href='~/Documentos/Firmas/FirmasBNB_2015.msi'>Instalador BNB Firmas</a><br />
            </div>
            <div class='seccion'>
                <h5 class="textoverde d44">Formulario</h5>
                <a class="textoplomo d22 fuente-bold" href='http://www.bnb.com.bo/Portal/Documento/doc201524_20236531_formulario_solicitud_boletas_de_garantia.xls'>Formularios</a><br /><br />
            </div>
        </div>
    </div>
</fieldset>