﻿@{
  Layout = null;
}

@Styles.Render("~/Content/footer-sectioncss")
<style>
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white !important;
    color: #26B460 !important;
  }
</style>


<div>
  <div class="container">
      <br />
      <p class="text-center violetClr">Al seleccionar los enlaces de Memorias, Hechos de importancia y Estados financieros será redireccionado a la Superintendencia de Mercado de Valores donde se encuentra publicada nuestra información.</p>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav" id="navHeader">
        <li>
          <a href="https://www.smv.gob.pe/SIMV/Frm_Memorias?data=50E136CCE2FF3C66E6FE7CD166FA7A35912F8BCBBC" target="_blank" class="linkHeader" style="color:#7b7b7b;border-right: 0.5px solid #7b7b7b;">
            Memorias
          </a>
        </li>
        @*<li>
          <a href="http://www.smv.gob.pe/Frm_HechosDeImportancia.aspx?data=57005F8B993A897114B99B61415580A09C55C2EAED" target="_blank" class="linkHeader" style="color:#7b7b7b;border-right: 0.5px solid #7b7b7b;">
            Hechos de importancia
          </a>
        </li>*@        
        <li>
          <a href="~/Documentos/TARIFARIO_BNB_VALORES_PERU.pdf?v1" target="_blank" class="linkHeader" style="color:#7b7b7b;border-right: 0.5px solid #7b7b7b;">
            Tarifario
          </a>
        </li>
        <li>
          <a href="https://www.smv.gob.pe/SIMV/frm_infofinansab?data=9F66C3F5B9644DE309B1F968DDA1C3081E18B666A2" target="_blank" class="linkHeader" style="color:#7b7b7b;border-right: 0.5px solid #7b7b7b;">
            Estados financieros
          </a>
        </li>
        <li>
          <a href="~/Documentos/politicaDividendos.pdf?v1" target="_blank" class="linkHeader" style="color:#7b7b7b;border-right: 0.5px solid #7b7b7b;">
            Política de dividendos
          </a>
        </li>
          <li>
          <a href="@Url.Action("FormReclamo","Principal")" class="linkHeader" style="color:#7b7b7b;">
            Formulario de reclamos
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<br />

<div class="container text-center">
  <div class="row">
    <div class="col-sm-12" style="height:56px">
      <div class="text-center greenClr">
        <h5 class="d14">Todos los Derechos Reservados @DateTime.Now.Year - BNB Valores Peru S.A.</h5>
        @*<h5 class="d14">Entidad supervisada por ASFI.</h5>*@
      </div>
    </div>
  </div>
</div>

