﻿@model List<BNB_PortalExterno.Models.Menu>
@{
  Layout = null;
}

<div>
  <nav class="navbar navbar-default navbar-bnb greenBg" role="navigation" style="height:140px;border-radius:0px">
    <div class="container">
      <div class="row">
        @*<div class="col-md-12" style="padding:0px">
            <ul class="nav navbar-nav navbar-right" style="margin-right:-17px;font-family: WorkSans-Light;font-size:10px">
              <li>
                <a href='http://www.evaluatest.com/banconacionaldebolivia/evaluate/IUEvaluacion/BancoNacionalDeBoliviaBolsaTrabajo.asp' target='_blank'>
                  Trabaja con nosotros&nbsp;<i class='glyphicon glyphicon-lock'></i>
                </a>
              </li>
              <li id='separadores'><a href='#' style='padding-left: 0px;padding-right: 0px;'>|</a>
              <li>
                <a href='#' onclick="MostrarPopUp(event, this, '_ContactCenter', 'Principal')">
                  Atención al cliente&nbsp;<i class='glyphicon glyphicon-headphones'></i>
                </a>
              </li>
              <li id='separadores'>
                <a href='#' style='padding-left: 0px;padding-right: 0px;'>|</a>
              <li>
                <a href='@Url.Action("Canales","Principal")'>
                  Agencias y Sucursales&nbsp;<i class='glyphicon glyphicon-map-marker'></i>
                </a>
              </li>
              <li id='separadores'>
                <a href='#' style='padding-left: 0px;padding-right: 0px;'>|</a>
              </li>
              <li>
                <a href='@Url.Action("Mapa","Principal")'>
                  Mapa del Sitio&nbsp;<i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;&nbsp;
                </a>
              </li>
            </ul>
          </div>*@
        <div class="col-sm-9 col-md-9" style="padding-right: 0px;padding-left: 0px;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index","Principal")">
              @if (ViewBag.logoHeader == null)
              {
                <img id="headerLogo" class="img-responsive" src="~/Images/Logo.png" style="width:350px;margin-top:7%" />
              }
              else
              {
                <img id="headerLogo" class="img-responsive" src="~/Images/@ViewBag.logoHeader" style="width:250px;margin-top:-1%" />
              }
            </a>
            <div class="contenedorbotones-responsive">
              <div class="text-right">
                <div style="padding-right:5px;padding-bottom:5px;right: 0px;">
                  <a class="btnheader btnWhite" href="https://bancadigital.bnb.com.bo/HazteCliente/" target="_blank">Hazte cliente</a>
                </div>

                <div style="padding-right:5px;padding-bottom:5px;">
                  <a class="btnheader btnViolet" href="https://portal.bnb.com.pe/DazModLogon-DazModLogonViewController-context-root/faces/Gen/Logon/Pages/DazModLogonPrincipal.jsf" target="_blank">
                    Acceso cliente
                  </a>
                </div>
              </div>
            </div>
          </div>
          @*<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
              <ul class="nav navbar-nav" id="navHeader">
                <li>
                  <a href="@Url.Action("BancaPersonas","Principal")" class="linkHeader">
                    Personas
                  </a>
                </li>
                <li>
                  <a href="@Url.Action("BancaEmpresas","Principal")" class="linkHeader">
                    Empresas
                  </a>
                </li>
                <li>
                  <a href="@Url.Action("GrupoBNB","Principal")" class="linkHeader">
                    Grupo
                  </a>
                </li>
              </ul>
            </div>*@
        </div>
        <div class="col-sm-3 col-md-3 text-right" id="contenedorbotones" style="padding-right:0px">
          <div class="navbarbtn" style="padding-top:23%">
            @*<div style="padding-right:5px;padding-bottom:5px;right: 0px;">
                <a class="btnheader btnWhite" href="https://bancadigital.bnb.com.bo/HazteCliente/" target="_blank">Hazte cliente</a>
              </div>*@

            <div style="padding-right:5px;padding-bottom:5px;">
              <a class="btnheader btnViolet" href="https://portal.bnb.com.pe/DazModLogon-DazModLogonViewController-context-root/faces/Gen/Logon/Pages/DazModLogonPrincipal.jsf" target="_blank">
                Acceso cliente
              </a>
            </div>
            <div style="padding-left:20px;text-align:right;font-size: 12px;margin: 2px 0px;">
              @*Desde<br /><strong style="letter-spacing:3px;">1872</strong>*@
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
</div>

<script>
  var IsWide = false;
  var IsWideActual = false;
  $(document).ready(function (e) {
    if ($(window).width() < 767) {
      IsWide = false;
    } else {
      IsWide = true;
    }
    if (!IsWide) {
      RebuildMenu(e);
    }
    $(".dropdown").click(function () {
      if ($(this).hasClass('open')) {
        $(this).find('.dropdown-menu').hide();
      } else {
        $('.dropdown-menu').hide();
        $(this).find(".dropdown-menu").slideToggle(500);
      }
    });
  });
  $(window).resize(function (e) {
    if ($(window).width() < 767) {
      IsWideActual = false;
    } else {
      IsWideActual = true;
    }
    if (IsWide != IsWideActual) {
      IsWide = IsWideActual;
      RebuildMenu(event);
    }
  });
  function RebuildMenu(event) {
    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
    if ($(window).width() < 767)
    {
      //Ocultar los items del menu
      $(".nav.navbar-nav.navbar-right li").each(function () {
        $(this).hide();
      });
      $(".nav.navbar-nav.navbar-left li").each(function () {
        $(this).hide();
      });
      //Adicional items
      $(".nav.navbar-nav.navbar-left li:last").before(
        "<li class='dropdown'>" +
        "<a href='#' class='dropdown-toggle textoplomo8c' data-toggle='dropdown' role='button' aria-haspopup='false' aria-expanded='false'>Banca Personas<i class='glyphicon glyphicon-left glyphicon-chevron-down'></i></a>" +
        "<ul class='dropdown-menu'>" +
        "<li><a href='@Url.Action("BancaPersonas", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/InicioVerde2.png")'>&nbsp;Inicio</a></li>" +
        "<li><a href='@Url.Action("Index", "Creditos", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_CREDITOS })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/BolsaDineroVerde2.png")'>&nbsp;Créditos</a></li>" +
        "<li><a href='@Url.Action("Index", "TarjetasCredito", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_TARJETAS_CREDITO })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/TarjetaVerde2.png")'>&nbsp;Tarjetas de Crédito</a></li>" +
        "<li><a href='@Url.Action("Index", "AhorroInversion", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_AHORRO_INVERSION })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/AlcanciaVerde2.png")'>&nbsp;Ahorro e Inversión</a></li>" +
        "<li><a href='@Url.Action("Index", "Servicios", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_SERVICIOS })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/ServiciosVerde2.png")'>&nbsp;Servicios</a></li>" +
        "<li><a href='@Url.Action("Index", "Seguros", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_SEGUROS })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/SegurosVerde2.png")'>&nbsp;Seguros</a></li>" +
        "<li><a href='@Url.Action("Index", "Servicios", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SERVICIOS_DIGITALES })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/ServiciosDigitalesVerde2.png")'>&nbsp;Servicios Digitales</a></li>" +
        "</ul>" +
        "</li>" +
        "<li class='dropdown'>" +
        "<a href='#' class='dropdown-toggle textoplomo8c' data-toggle='dropdown' role='button' aria-haspopup='false' aria-expanded='false'>Banca Empresas<i class='glyphicon glyphicon-left glyphicon-chevron-down'></i></a>" +
        "<ul class='dropdown-menu'>" +
        "<li><a href='@Url.Action("BancaEmpresas", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_EMPRESAS })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/InicioVerde2.png")'>&nbsp;Inicio</a></li>" +
        "<li><a href='@Url.Action("Index", "Corporativo", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_CORPORATIVO })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/LeasingVerde2.png")'>&nbsp;Corporativo</a></li>" +
        "<li><a href='@Url.Action("Index", "Pyme", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_PYME })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/PymeVerde2.png")'>&nbsp;BNB Pyme</a></li>" +
        "<li><a href='@Url.Action("Index", "Mype", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_MYPE })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/MypeVerde2.png")'>&nbsp;BNB Mype</a></li>" +
        "</ul>" +
        "</li>" +
        "<li class='dropdown'>" +
        "<a href='#' class='dropdown-toggle textoplomo8c' data-toggle='dropdown' role='button' aria-haspopup='false' aria-expanded='false'>Grupo BNB<i class='glyphicon glyphicon-left glyphicon-chevron-down'></i></a>" +
        "<ul class='dropdown-menu'>" +
        "<li><a href='@Url.Action("GrupoBNB", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_GRUPO })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/InicioVerde2.png")'>&nbsp;Inicio</a></li>" +
        "<li><a href='@Url.Action("Bnb", "Grupo", new { Id = BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_BNB })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/BnbVerde2.png")'>&nbsp;Somos BNB</a></li>" +
        "<li><a href='@Url.Action("Safi", "Grupo", new { Id = BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_SAFI })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/SafiVerde2.png")'>&nbsp;BNB Safi S.A.</a></li>" +
        "<li><a href='@Url.Action("Leasing", "Grupo", new { Id = BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_LEASING })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/LeasingVerde2.png")'>&nbsp;BNB Leasing S.A.</a></li>" +
        "<li><a href='@Url.Action("Valores", "Grupo", new { Id = BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_VALORES })'><img width='35' height='35' src='@Url.Content("~/Images/IconosSeccion/ValoresVerde2.png")'>&nbsp;BNB Valores S.A.</a></li>" +
        "</ul>" +
        "</li>" +
         "<li class='dropdown'>" +
        "<a href='#' class='dropdown-toggle textoplomo8c' data-toggle='dropdown' role='button' aria-haspopup='false' aria-expanded='false'>Más +<i class='glyphicon glyphicon-left glyphicon-chevron-down'></i></a>" +
        "<ul class='dropdown-menu'>" +
        "<li><a href='http://www.evaluatest.com/banconacionaldebolivia/evaluate/IUEvaluacion/BancoNacionalDeBoliviaBolsaTrabajo.asp' target='_blank'><i class='glyphicon glyphicon-lock' style='float:left;left: 0px;'></i>&nbsp;Trabaja con nosotros</a></li>" +
        "<li><a href='#' onclick='MostrarConsejos(this)'><i class='glyphicon glyphicon-headphones' style='float:left;left: 0px;'></i>&nbsp;Atención al cliente</a></li>" +
        //"<li><a href='https://www.youtube.com/user/BancoBNBSA/videos' target='_blank' title='Visualiza nuestros videos'><i class='glyphicon glyphicon-facetime-video'></i>&nbsp;Videos Tutoriales</a></li>" +
        "<li><a href='@Url.Action("Canales","Principal")' ><i class='glyphicon glyphicon-map-marker' style='float:left;left: 0px;'></i>&nbsp;Agencias y Sucursales</a></li>" +
        "<li><a href='@Url.Action("Mapa", "Principal")'><i class='glyphicon glyphicon-globe' style='float:left;left: 0px;'></i>&nbsp;Mapa del Sitio</a></li>" +
        "</ul>" +
        "</li>");
    } else {
      $('.nav.navbar-nav.navbar-right li.dropdown').remove();
      $('.nav.navbar-nav.navbar-left li.dropdown').remove();
      $(".nav.navbar-nav.navbar-right li").each(function () {
        $(this).show();
      });
      $(".nav.navbar-nav.navbar-left li").each(function () {
        $(this).show();
      });
    }
  }
  function MostrarConsejos(event) {
    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
    MostrarPopUp(event, this, '_ContactCenter', 'Principal')
  }
</script>