﻿@model  BNB_PortalExterno.Models.Menu
@{
    Layout = null;
}
@Styles.Render("~/Content/header-sectioncss")

<div id="bnbMenu" class="navbarsectionbackground">
    <div class="container">
        <div id="menu" class="navbarsection">
            <table style="width:80%;margin-top:3px;margin-left:13%">
                <tr>
                    @if (Model != null)
                    {
                        string menuSel = string.Empty;
                        var MenuItems = (HttpContext.Current.Session[BNB_PortalExterno.Models.Constantes.MENU] as List<BNB_PortalExterno.Models.Menu>).FindAll(x => x.IdSuperior == Model.Id);
                        if (MenuItems != null)
                        {
                            menuSel = MenuItems.Exists(x => x.EstaSeleccionado) ? string.Empty : "navbarsubsection-seleccionado";
                            Model.RutaIcono = MenuItems.Exists(x => x.EstaSeleccionado) ? Model.RutaIcono.Replace("Verde", "Blanco") : Model.RutaIcono.Replace("Blanco", "Verde");
                        }
                        <td class="elementos-centrados">
                            <a id="@Model.Id" href="@Url.Action(Model.Accion,Model.Controlador, new { Id = Model.Id })" onmouseover="CambiarColor(event,this)" onmouseout="RestaurarColor(event,this)" class="borde-derecha-blanco @menuSel">
                                <div class="contenedor-menu-section">
                                    @if (Model.TieneIcono)
                                    {
                                        <img style="height:21px" class="img-center" src="@Url.Content(Model.RutaIcono)" />
                                    }
                                </div>
                            </a>
                        </td>

                        foreach (var item in MenuItems)
                        {
                            string menuSeleccionado = item.EstaSeleccionado ? "navbarsubsection-seleccionado" : string.Empty;
                            item.RutaIcono = item.EstaSeleccionado ? item.RutaIcono.Replace("Blanco", "Verde") : item.RutaIcono.Replace("Verde", "Blanco");

                            string border = item.Id == MenuItems.Last().Id ? string.Empty : "borde-derecha-blanco";

                            <td class="elementos-centrados">
                                <a id="@item.Id" href="@Url.Action(item.Accion,item.Controlador, new { Id = item.Id })" onmouseover="CambiarColor(event,this)" onmouseout="RestaurarColor(event,this)" class="@border @menuSeleccionado">
                                    <div class="contenedor-menu-section">
                                        @if (!string.IsNullOrEmpty(item.Nombre))
                                        {
                                            <span class="texto-menu-section">
                                                @Html.Raw(item.Nombre)
                                            </span>
                                        }
                                        &nbsp;
                                        @if (item.TieneIcono)
                                        {
                                            <img style="height:20px" class="img-center @menuSeleccionado" src="@Url.Content(item.RutaIcono)">
                                        }
                                    </div>
                                </a>
                            </td>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>
    @if (HttpContext.Current.Session[BNB_PortalExterno.Models.Constantes.SUBMENU] != null)
    {
        List<BNB_PortalExterno.Models.Menu> SubMenu = HttpContext.Current.Session[BNB_PortalExterno.Models.Constantes.SUBMENU] as List<BNB_PortalExterno.Models.Menu>;
        <div id="bnbSubMenu" class="navbarsubsection" style="height:20px">
            <div class="container">
                <table width="100%">
                    <tr>
                        @foreach (var item in SubMenu)
                        {
                            string menuSeleccionado = item.EstaSeleccionado ? "navbarsubsection-seleccionado" : string.Empty;
                            item.RutaIcono = item.EstaSeleccionado ? item.RutaIcono.Replace("Blanco", "Verde") : item.RutaIcono.Replace("Verde", "Blanco");

                            <td class="elementos-centrados">
                                <a id="@item.Id" href="@Url.Action(item.Accion, item.Controlador, new {Id = item.Id }) " onmouseover="CambiarColor(event,this)" onmouseout="RestaurarColor(event,this)" class="@menuSeleccionado">
                                    <div class="contenedor-menu-section">
                                        @if (item.TieneIcono)
                                        {
                                            <img src="@Url.Content(item.RutaIcono)" width="15px" height="15px">
                                        }
                                        &nbsp;
                                        @if (!string.IsNullOrEmpty(item.Nombre))
                                        {
                                            <span class="texto-menu-section">
                                                @Html.Raw(item.Nombre.Replace("<strong>", "").Replace("</strong>", ""))
                                            </span>
                                        }
                                    </div>
                                </a>
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/header-sectionjs")