﻿@model BNB_PortalExterno.Models.TipoCambio

<div class="container d15">
  <div class="row" style="min-height:40px;padding-top:15px;">
    <div class="col-sm-12 text-center no-padding-lateral">
      @if (Model.Correcto)
      {
        <span class="textoverde3c fuente-bold">
          Tipos de Cambio
        </span>
        <span class="calbold textoplomo8c">
          Dólar Compra
        </span>
        <span class="textoplomo8c">
          @Model.DolarCompra
        </span>
        <span class="fuente-bold textoplomo8c">
          Dólar Venta
        </span>
        <span class="textoplomo8c">
          @Model.DolarVenta
        </span>
        <span class="fuente-bold textoplomo8c">
          UFV
        </span>
        <span class="textoplomo8c">
          @Model.UFVCompra
        </span> 
        <span class="textoverde3c fuente-bold">
          Tasa Referencial TRe&nbsp;
        </span>
        <span class="fuente-bold textoplomo8c">
          M.N.&nbsp;
        </span>
        <span class="textoplomo8c">
          @Model.TreMN
        </span>
        <span class="fuente-bold textoplomo8c">
          M.V.&nbsp;DOL.
        </span>
        <span class="textoplomo8c">
          @Model.TreMVDOL
        </span>
        <span class="fuente-bold textoplomo8c">
          M.N. UFV&nbsp;
        </span>
        <span class="textoplomo8c">
          @Model.TreMNUFV
        </span>
        <span class="fuente-bold textoplomo8c">
          M.E.&nbsp;
        </span>
        <span class="textoplomo8c">
          @Model.TreME
        </span>
      }
    </div>
  </div>
</div>
