﻿@model BNB_PortalExterno.Models.Menu
@{
  ViewBag.Title = "BancaInversiones";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.Id : 2;
}
@Styles.Render("~/Content/occss")
@Scripts.Render("~/bundles/ocjs")
@Styles.Render("~/Content/swcss")
@Styles.Render("~/Content/fccss")
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}


<div class="swiper-container swiper-hero">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div id="Banner1" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div class="notice notice-success">
                <h1 class="d44 no-margin-horizontal wsBold">
                  .PYME
                </h1>
                <h1 class="d44 no-margin-horizontal wsBold">
                  CRECER
                </h1>
                @*<h1 class="d60 fuente-bold no-margin-horizontal">
                      DE FACTURAS
                  </h1>
                  <h3 class="d44 no-margin-horizontal">
                      FACTORING
                  </h3>*@
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="Banner2" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div class="notice notice-success">
                <h1 class="d44 no-margin-horizontal wsBold">
                  .PYME
                </h1>
                <h1 class="d44 no-margin-horizontal wsBold">
                  IMPULSAR
                </h1>
                @*<h1 class="d44 fuente-bold no-margin-horizontal">
                      MARCHA LOS PROYECTOS O
                  </h1>
                  <h1 class="d44 fuente-bold no-margin-horizontal">
                      INVERSIONES QUE PLANEA
                  </h1>
                  <h1 class="d44 fuente-bold no-margin-horizontal">
                      REALIZAR
                  </h1>*@
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="Banner3" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="card-izquierda">
            <div class="notice notice-success">
              <h1 class="d44 no-margin-horizontal wsBold">
                .SERVICIOS
              </h1>
              @*<h3 class="d44 no-margin-horizontal">
                    CRÉDITO PRODUCTIVO
                </h3>
                <h3 class="d44 no-margin-horizontal">
                    AYUDAMOS A QUE
                </h3>
                <h1 class="d60 fuente-bold no-margin-horizontal">
                    TU NEGOCIO
                </h1>
                <h1 class="d60 fuente-bold no-margin-horizontal">
                    CREZCA
                </h1>*@
            </div>
            @*<div class="col-sm-12 text-center">
                  <a class="btn btn-verdeclaro btn-lg" href="@Url.Action("Index","Pyme",new {Id =BNB_PortalExterno.Models.Constantes.MENU_SECCION_PYME })">
                      <strong>
                          Más Información
                      </strong>
                  </a>
              </div>*@
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="Banner4" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="card-izquierda">
            <div class="notice notice-success">
              <h1 class="d44 no-margin-horizontal wsBold">
                .NEGOCIOS
              </h1>
              @*<h3 class="d44" style="margin-top:0px;margin-bottom:0px">
                    EMPRESARIAL
                </h3>
                <h1 class="fuente-bold d60 no-margin-horizontal">
                    UNA TARJETA A
                </h1>
                <h1 class="fuente-bold d60 no-margin-horizontal">
                    A LA MEDIDA DE
                </h1>
                <h1 class="fuente-bold d60 no-margin-horizontal">
                    TU NEGOCIO
                </h1>*@
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  @*<div class="swiper-pagination hero-pagination">*@
</div>

@*<div class="container">
      <div class="row">
          @{Html.RenderAction("_TipoCambio", "Principal");}
      </div>
  </div>*@
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="font-size:1.3em;padding:10px;color:#694780;">
      Tenemos el <strong>producto para tí</strong>
    </div>
  </div>
</div>
<div class="container-fluid greenBg">
  <div class="row" style="padding-top:40px">
    <div class="container">
      <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
        <div class="swiper-wrapper" style="margin-top:10px;margin-bottom:15px">
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 2px;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Corporativo</div>
              <img style="width:100px" src="~/Images/Personas/servicios.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Index","Corporativo", new {Id =BNB_PortalExterno.Models.Constantes.MENU_SECCION_CORPORATIVO })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">BNB Mype</div>
              <img style="width:100px" src="~/Images/BancaEmpresas/mype.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Index","Mype", new {Id =BNB_PortalExterno.Models.Constantes.MENU_SECCION_MYPE })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
        </div>
        <br />
        @*<div class="swiper-pagination"></div>*@
      </div>
    </div>
  </div>
</div>

<div class="container-fluid greenBg">
  <div class="row">
    <div class="container">
      <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
        <div class="swiper-wrapper" style="margin-top:10px;margin-bottom:25px">
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">BNB Pyme</div>
              <img style="width:100px" src="~/Images/BancaEmpresas/pyme.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Index","Pyme", new {Id =BNB_PortalExterno.Models.Constantes.MENU_SECCION_PYME })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Servicios</div>
              <img style="width:100px" src="~/Images/Personas/servicios.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href=''">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
        </div>
        <br />
        @*<div class="swiper-pagination"></div>*@
      </div>
    </div>

  </div>
</div>
<br />


@Scripts.Render("~/bundles/swjs")
<script>
  var IsWideImage = false;
  var IsWideImageActual = false;
  var swiper = new Swiper('.swiper-hero', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 0,
    loop: false,
    autoplay: 3000,
    grabCursor: true,
    autoplayDisableOnInteraction: false
  });
  var swiper = new Swiper('.s1', {
    pagination: '.swiper-pagination',
    slidesPerView: 2,
    slidesPerColumn: 1,
    paginationClickable: true,
    spaceBetween: 30,
    breakpoints: {
      1024: {
        slidesPerView: 2,
        spaceBetween: 15
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      640: {
        slidesPerView: 1.5,
        spaceBetween: 10,
      },
      420: {
        slidesPerView: 1.1,
        spaceBetween: 10
      }
    }
  });

  $(document).ready(function (e) {
    //Verificar si se debe cambiar el menu
    if ($(window).width() < 768) {
      IsWideImage = false;
    } else {
      IsWideImage = true;
    }
    VerificarAnchoPantalla(e, $(window).width());
  });
  $(window).resize(function (e) {
    if ($(window).width() < 768) {
      IsWideImageActual = false;
    } else {
      IsWideImageActual = true;
    }
    if (IsWideImage != IsWideActual) {
      IsWideImage = IsWideImageActual;
      VerificarAnchoPantalla(e, $(window).width());
    }
  });

  function VerificarAnchoPantalla(event, ancho) {
    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
    if (ancho < 768) {
      $("#Banner1").css({"background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/pymeCrecer.jpg")) center center" , "background-size" : "cover"});
      $("#Banner2").css({"background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/pymeImpulsar.jpg")) center center", "background-size": "cover" });
      $("#Banner3").css({"background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/pagoServicios.jpg")) center center" , "background-size": "cover" });
      $("#Banner4").css({"background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/mypeNegocios.jpg")) center center" , "background-size": "cover" });
    }
    else
    {
      $("#Banner1").css({ "background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/pymeCrecer.jpg")) center center", "background-size": "cover" });
      $("#Banner2").css({ "background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/pymeImpulsar.jpg")) center center", "background-size": "cover" });
      $("#Banner3").css({ "background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/pagoServicios.jpg")) center center", "background-size": "cover" });
      $("#Banner4").css({ "background": "url(@Url.Content("~/Images/BancaEmpresas/Banners/mypeNegocios.jpg")) center center", "background-size": "cover" });
    }
  }
</script>