﻿@{
  ViewBag.Title = "Canales";
  Layout = "~/Views/Shared/_Layout.cshtml";
  
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS });}
@Styles.Render("~/Content/canalescss")
@Scripts.Render("~/bundles/canalesjs")
<div id="homepage-feature" class="carousel">
  <div class="item" style="background-image:url(../Images/bg-canales.jpg);background-position:center"></div>
  <div class="izquierda">
    <div class="card-izquierda">
      <div class="notice notice-success">
        <br />
        <h1 class="d60 fuente-bold" style="margin-top:0px;margin-bottom:0px">
          AGENCIAS Y
        </h1>
        <h1 class="d60 fuente-bold" style="margin-top:0px;margin-bottom:0px">
          SUCURSALES
        </h1>
        <br />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <hr class="colored">
</div>

@*<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <h3 class="textoverde4a">&nbsp;&nbsp;&nbsp;Sucursales, Agencias y Cajeros Automáticos&nbsp;&nbsp;&nbsp;</h3>
      </div>
    </div>
  </div>
</div>
<br />*@
<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      <a class="textoplomo8c-bc d16" href="@Url.Action("BancaPersonas" ,"Principal" )">
        Inicio&nbsp;
      </a>
      <span>|</span>
      <span class="greenClr d16 fuente-bold">
        Agencias y Sucursales
      </span>
    </div>
    <br />
  </div>
</div>

<div class="container  " id="ContenidoPaginaPrincipal">
  <div id='ContenidoCanalesBNB'>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h3 class="greenClr d38">CIUDAD:<span id="titPagina" class="violetClr d38 ">LA PAZ</span></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <!-- Opciones ciudades -->
        @if (Model.Ciudades != null)
      {
        <!-- Opciones para resolucion alta -->
          <div id="ListaCiudades" class="hidden-xs hidden-sm visible-md visible-lg ">
            @foreach (var objCiudad in Model.Ciudades)
        {
          if (objCiudad.Descripcion_Oficina.Trim() == "LA PAZ")
          {
                <div class="Ciudad menu-ciudad float-left ">
                  <a class="Elegido" href="#_@objCiudad.Cod_ciudad">
                    <span class="greenClr d14"> @objCiudad.Descripcion_Oficina</span></a></div>
              }
              else if (objCiudad.Descripcion_Oficina.Trim() == "PANDO")
              {
                <div class="Ciudad menu-ciudad-sin-borde float-left "><a href="#_@objCiudad.Cod_ciudad"><span class="greenClr d14"> @objCiudad.Descripcion_Oficina</span></a>
            </div>
              }
              else
              {
                <div class="Ciudad menu-ciudad float-left "><a href="#_@objCiudad.Cod_ciudad"><span class="greenClr d14"> @objCiudad.Descripcion_Oficina</span></a></div>
              }

            }
          </div>

        <!-- Opciones ciudad para movil -->
          <div class="visible-xs visible-sm hidden-md hidden-lg ">
            <select id="cmbCiudad" class="combo-verde-in  ">
              @foreach (var objCiudad in Model.Ciudades)
              {
                if (objCiudad.Descripcion_Oficina.Trim() == "LA PAZ")
                {
                  <option class="greenClr" selected="selected" value="#_@objCiudad.Cod_ciudad">@objCiudad.Descripcion_Oficina</option>
                }
                else
                {
                  <option class="greenClr" value="#_@objCiudad.Cod_ciudad">@objCiudad.Descripcion_Oficina</option>
                }
              }
            </select>
          </div>
        }

      </div>

    </div>

    <div id='DetalleCanalesBNB'>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
          <br />
          <!-- Seccion de grupos -->
          <div class="seccion">

            <div id="divPanelCanalesBNB_FiltrosSubTipos" class="FiltrosSubTipos">

              <div id="divValorFiltro" class="ValorFiltro  ">

                <select id="ddlFiltroGrupos" class="selectpicker" style="border-radius:0 5px 0px 5px">
                  @foreach (var objGrupo in Model.GrupoSucursales)
                  {
                    if (objGrupo.Valor.Trim() == "Oficina Principal")
                    {
                      <option selected="selected" value="@objGrupo.Clave">@objGrupo.Valor</option>
                    }
                    else
                    {
                      <option value="@objGrupo.Clave">@objGrupo.Valor</option>
                    }
                  }
                </select>
              </div>

            </div>
          </div>

          <br class="espacio-seccion" />
        </div>

        <!-- Buscador -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left ">

          <div class="seccion">
            <br />
            <input type="text" placeholder="¿Que buscas?" value="" id="txtBuscador" style="border-radius:0 5px 0px 5px"/>

          </div>

          <script>
            // Filtro de busqueda de sucursales agencia
            $("#txtBuscador").keyup(function () {
              var valBusqueda = $("#txtBuscador").val();

              // Recorre items de sucursal o agencia
              $("#cntItem .Contenido .Celda50").each(function (index) {
                var titSucursal = "";

                $(this).children('a').children('div').each(function (j) {
                  // Asigna texto de sucursal
                  titSucursal = titSucursal + " " + $(this).html();
                });

                // Verifica si texto de busqueda esta en items
                if (titSucursal.toUpperCase().indexOf(valBusqueda.toUpperCase()) > -1) {
                  $(this).removeClass("no-visible-in");
                } else {
                  $(this).addClass("no-visible-in");
                }
              });
            });
          </script>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <div id="MensajeCargandoMapa" class="seccion" style="width:250px; margin-left:auto;margin-right:auto; text-align:center;"><span>Obteniendo mapa</span>&nbsp;<img width="25" height="25" src="~/Images/Loading.gif" alt="" /></div>
        </div>
      </div>
      <div class="row border-verde-in margen-abajo-20-in " style="border-radius:0px 20px 0px 20px">
        <!-- Sección Mapa  -->
        <div class="seccion seccion-mapa-in ">
          <!--<span class="Titulo">Mapa / Ubicación</span>-->
          <div class="col-md-4 col-md-push-8   scroll-item">
            <div id="ListaEntidades" class="seccion">
              <!-- Agencia sucursal   -->
              <!--<span id="spanddlItemSeleccionado" class="Titulo">Oficina Principal</span>-->
              <div id="cntItem" class="Items">
              </div>
              <div class="Paginacion">
                <a id="Atras" href="#" style="display:inline-block;">Anterior</a>
                &nbsp;
                <span id="NroPagina" style="display:none;">0</span>
                <span id="SeparadorPaginacion" style="vertical-align:top; color: #bfbfbf;">|</span>
                &nbsp;
                <a id="Siguiente" href="#" style="display:inline-block;">Siguiente</a>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-pull-4  no-padding-lateral  ">
            <div id="MapaGoogle"></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border-verde-arriba-in ">
            <!-- Detalle de entidad seleccionada y mostrada en mapa -->
            <div id="DetalleEntidad" class="seccion padding-10">
              <div class="Detalle "></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

