﻿@{
    ViewBag.Title = "BancaInversiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IdMenu = Model != null ? Model.Id : 1;
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
@Styles.Render("~/Content/tabioncss")
<div class="container-fluid">
    <div class="fondo-sin-submenu transaparencia-verde">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="text-center">
                    <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp; CONSEJOS DE SEGURIDAD &nbsp;&nbsp;</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Generar el Breadcrumb-->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <br />
        <div class="text-center">
            <a class="textoplomo8c-bc d16" href="@Url.Action("BancaPersonas" ,"Principal" )">
                Inicio&nbsp;
            </a>
            <span>|</span>
            <span class="textoverde3c d16 fuente-bold">
                Concejos de Seguridad
            </span>
        </div>
        <br />
    </div>
</div>
<!--/Generar el Breadcrumb-->
<div class="container">
    <ul class="tabion height-500">
        <li>
            <input type="radio" name="tabion" id="tab1" class="none" checked>
            <div>
                <!-------------------------------------->
                <label for="tab1" class="tabtile tabtile-small solid-white hovershadow-gray light-text">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-consejos-verde.png" />
                    <span class="textoverde4a">Consejos generales </span>
                </label>
                <!-------------------------------------->
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">

                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">Consejos Generales</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                El Banco Nacional de Bolivia, ha implementado diversos mecanismos para su seguridad, tome en cuenta las siguientes recomendaciones.
                            </p>
                            <h3 class="textoverde4a fuente-bold">TE RECOMENDAMOS</h3>
                            <p class="textoplomo8c text-justify">

                                <ul class="textoplomo8c">
                                    <li>
                                        La utilización de las claves secretas es personal y las mismas son intransferibles.
                                    </li>
                                    <li>
                                        La conservación y utilización de las claves secretas es responsabilidad tuya por lo que no debes anotarlas, debes memorizarlas.
                                    </li>
                                    <li>
                                        Cambia periódica y frecuentemente tus claves secretas.
                                    </li>
                                    <li>
                                        Nunca hagas "clic" en enlaces incluidos en correos electrónicos ni confirmes información financiera, personal u otra, sólo ignórala y elimina el mensaje.
                                    </li>
                                </ul>
                            </p>
                            <p class="textoplomo8c text-justify">
                                Si tu tarjeta de crédito o de débito es robada, extraviada, retenida o ha ocurrido algún hecho extraño con ella, bloquéala inmediatamente llamando a los teléfonos:<br />
                                <ul class="textoplomo8c">
                                    <li>
                                        Administradora de Tarjetas de Crédito S.A. (ATC): 800-10-3060
                                    </li>
                                    <li>
                                        Banco Nacional de Bolivia (BNB): 800-10-7272
                                    </li>
                                </ul>
                            </p>
                            <p class="textoplomo8c text-justify">
                                Y si estás en el exterior llama a:<br />
                                MasterCard Internacional:
                                <ul class="textoplomo8c">
                                    <li>
                                        Estados Unidos y Canadá: 1-800-307-7309
                                    </li>
                                    <li>
                                        Resto del mundo:  636-722-7111
                                    </li>
                                </ul>

                            </p>
                            <p class="textoplomo8c text-justify">
                                Visa Internacional
                                <ul class="textoplomo8c">
                                    <li>
                                        Estados Unidos y Canadá: 1-800-704-0545
                                    </li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>
                                        El Banco NUNCA te solicitara tu información confidencial por correo electrónico, teléfono , u otro medio de comunicación. No compartas, divulgues o muestres ninguno de los siguientes datos:
                                        <ul class="textoplomo8c">
                                            <li>
                                                Números PIN
                                            </li>
                                            <li>
                                                Nombre de Usuario
                                            </li>
                                            <li>
                                                Contraseña
                                            </li>
                                            <li>
                                                Claves secretas
                                            </li>
                                            <li>Datos personales</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Si notas algo raro, diferente o sospecho en cualquiera de los medios electrónicos, abstente de realizar operaciones y ponte en contacto con el banco.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab2" class="none">
            <div>
                <label for="tab2" class="tabtile tabtile-small solid-white hovershadow-gray light-text pos-top-100">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-tarjeta-verde.png" />
                    <span class="textoverde4a">Tarjetas de Créditos</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">Tarjetas de Crédito</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Cuida en todo momento tus tarjetas de crédito y débito al realizar transacciones físicas y virtuales.
                            </p>
                            <h3 class="textoverde38 fuente-bold">TE RECOMENDAMOS</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>Personaliza tu tarjeta puedes fírmala en el reverso o añadir marcas personales, así podrás distinguirla si alguien te la cambia. </li>                                    
                                    <li>Porta contigo solamente las tarjetas que piensas utilizar y llévalas contigo en un lugar seguro fuera del alcance de terceros. </li>
                                    <li>Siempre mantén a la vista tu tarjeta mientras realiza compras o consumos; no la entregues a un tercero para que realice la transacción. </li>
                                    <li>En caso de requerirse el número PIN para la transacción, cerciórate que nadie lo vea cuando lo digitas en el POS. </li>
                                    <li>Revisa que no haya artefactos extraños ni ajenos al POS. </li>
                                    <li>Antes de firmar y aceptar el comprobante, cerciórate que la información en él corresponde a la compra, transacción u operación que estás realizando. </li>
                                    <li>Rompe y destruye los tickets/vouchers de compra antes de deshacerte de ellos. </li>
                                    <li>Si tu tarjeta fue robada, extraviada o retenida, debes bloquearla inmediatamente llamando a ATC (800-10-3060). </li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>Cuando cambies el número PIN no utilices números relacionados a fechas de nacimiento, documentos de identidad, teléfono u otros que puedan ser deducidos por terceras personas.                  </li>
                                    <li>No registres ni anotes el número PIN en la tarjeta ni en ningún otro papel o documento, memorízalo                  </li>
                                    <li>No prestes tu tarjeta y no permitas que nadie la examine                  </li>
                                    <li>Cuando estas realizando una transacción en un comercio no permitas que nadie se acerque, se ponga a tu lado o detrás o converse contigo ni con el funcionario de cajas.                  </li>
                                    <li>No divulgues tu número PIN al vendedor o al cajero del establecimiento donde utilizas tu tarjeta                  </li>
                                    <li>En ningún caso debes solicitar o aceptar ayuda de personas extrañas, tampoco les entregues tu tarjeta.                  </li>
                                    <li>Si detectas algo extraño o alguna situación irregular, denuncia el hecho al supervisor del establecimiento y comunícate inmediatamente con  el banco o con la administradora de tarjetas de crédito (ATC)                  </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab3" class="none">
            <div>
                <label for="tab3" class="tabtile tabtile-small solid-white hovershadow-gray light-text pos-top-200">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/contacto-verde.png" />
                    <span class="textoverde4a">Plataforma de Caja</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">Plataforma de Caja</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Prepara y revisa los datos para realizar tus transacciones, mantente alerta ante cualquier conducta sospechosa.
                            </p>
                            <h3 class="textoverde38 fuente-bold no-margin-horizontal">TE RECOMENDAMOS</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>Prevé tus operaciones y lleva todo listo, números de cuenta anotados, los cheques endosados y toda la información correctamente anotada. Es más fácil y rápido para ti, para el cajero, y para todos en el banco.</li>
                                    <li>Mientras te atienden, dependiendo de las operaciones que hagas es posible que los cajeros necesiten autorizaciones o tengan que hacer consultas.</li>
                                    <li>ANTES de retirarte de la ventanilla REVISA tus comprobantes y asegúrate que los movimientos que realizaste coinciden. Si hay algún error INMEDIATAMENTE solicita la corrección.</li>
                                    <li>Antes de retirarte si estas llevándote efectivo cuéntalo de manera rápida pero discreta.</li>
                                    <li>Recuerda también cumplir las reglas de seguridad:</li>
                                    <li>No usar lentes oscuros.</li>
                                    <li>No usar el celular ni otra forma de comunicación.</li>
                                    <li>No usar gorra.</li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold no-margin-horizontal">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>No te acerques a la ventanilla si todavía hay alguien, aunque ya sea tu turno, solo acércate a la ventanilla y empieza tus operaciones cuando la persona antes que tú se haya retirado.  </li>
                                    <li>Si alguna persona se acerca a la ventanilla mientras te atienden, explícale que por seguridad lo mejor es que espere y pídele que se retire.  </li>
                                    <li>Si necesitas acercarte a la ventanilla fuera de tu turno, por ejemplo para hacer una pregunta, mejor recurre a los escritorios de plataforma de atención a clientes.  </li>
                                    <li>No confíes en la memoria, si no estás seguro de los datos de alguna cuenta NO hagas la operación.  </li>
                                    <li>Cuando termines tu turno, antes de salir de la sucursal, espera un momento. No salgas inmediatamente, espera a ver si alguien tiene alguna reacción, te mira insistentemente, se prepara para salir junto contigo o algo que pueda parecerte sospechoso. Casi siempre solo parece sospechoso, pero mas vale estar seguro.  </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab4" class="none">
            <div>
                <label for="tab4" class="tabtile tabtile-small solid-white hovershadow-gray light-text pos-top-300">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-billetera.png" />
                    <span class="textoverde4a">Billetera Electrónica</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">BILLETERA ELECTRÓNICA</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Resguardar el dispositivo móvil para evitar robos y no almacenar en la memoria la clave de tu Billetera Electrónica.
                            </p>
                            <h3 class="textoverde38 fuente-bold no-margin-horizontal">TE RECOMENDAMOS</h3>
                            <p class="textoplomo8c text-justify">
                                <br />
                                En caso de pérdida, sustracción, hurto, robo de su dispositivo móvil mediante el cual se opera el servicio de Billetera Electrónica, éste podrá proceder de la siguiente manera:
                            </p>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>El Suscriptor podrá notificar el extravío de su dispositivo móvil a Nuevatel.</li>
                                    <li>El Suscriptor podrá notificar el extravío de su dispositivo móvil al Banco a través del servicio de Contact Center, las 24 horas del día, los 7 días de la semana, o de manera presencial en la Plataforma de Atención al Cliente, solicitando el bloqueo de la Billetera Electrónica.</li>                                   
                                </ul>
                            </p>
                            <p class="textoplomo8c text-justify">                               
                                El Banco Nacional de Bolivia te envía a tu dispositivo móvil un mensaje SMS para recomendarte cambiar periódicamente el PIN de tu Billetera Electrónica.
                            </p>
                            <h3 class="textoverde38 fuente-bold no-margin-horizontal">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>En la medida de lo posible, no divulgues a terceros que son extraños el número de tu teléfono celular.</li>
                                    <li>Cuando realices una transacción procura que sea en un lugar seguro, evita hacerlo en la calle y lejos de personas que podrían arrebatarte el aparato o ver el número de teléfono y la clave.</li>
                                    <li>En lo posible, no prestes tu teléfono celular y no permitas que nadie lo examine.</li>
                                    <li>En ningún caso debes solicitar o aceptar ayuda de personas extrañas.</li>
                                    <li>Nunca respondas a mensajes SMS sospechosos de origen desconocido.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab8" class="none">
            <div>
                <label for="tab8" class="tabtile tabtile-small solid-white hovershadow-gray light-text pos-top-400">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-facebanking.png" />
                    <span class="textoverde4a">Facebanking</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">FACEBANKING BNB</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Facebanking es una aplicación para Facebook, para realizar tus transacciones de manera segura ten cuidado al incluir un nuevo amigo.
                            </p>
                            <h3 class="textoverde38 fuente-bold no-margin-horizontal">TE RECOMENDAMOS</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>Acceder a la aplicación Facebanking BNB, desde un dispositivo móvil  o computador seguro.</li>
                                    <li>No almacenar tu usuario y clave en la memoria de tu dispositivo móvil.</li>
                                    <li>En caso de presentarse algún inconveniente con la aplicación Facebanking, deberás comunicarte con la línea gratuita 800 107272.</li>
                                    <li>El usuario y clave para el ingreso al Facebanking BNB, son confidenciales no divulgarlas bajo ninguna circunstancia.</li>                                    
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold no-margin-horizontal">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>Cuando realices una transacción procura que sea en un lugar seguro, evita hacerlo en la calle y lejos de personas que podrían arrebatarte el aparato o ver el número de teléfono y la clave.</li>
                                    <li>En lo posible, no prestes tu teléfono celular y no permitas que nadie lo examine.</li>
                                    <li>En ningún caso debes solicitar o aceptar ayuda de personas extrañas.</li>
                                    <li>Nunca respondas a mensajes SMS sospechosos de origen desconocido.</li>                                    
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!--Elementos derecha-->
        <li>
            <input type="radio" name="tabion" id="tab5" class="none">
            <div>
                <!-------------------------------------->
                <label for="tab5" class="tabtile tabtile-small-right solid-white hovershadow-gray light-text">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-bnbnet-verde.png" />
                    <span class="textoverde4a">Transacciones por BNB Net</span>
                </label>
                <!-------------------------------------->
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">Transacciones por BNB Net</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Las transacciones por internet son seguras, solo observa los detalles durante tu navegación.
                            </p>
                            <h3 class="textoverde38 fuente-bold">TE RECOMENDAMOS</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>
                                        Entra a tus servicios bancarios por internet preferentemente desde la computadora de tu casa o un equipo de confianza.
                                    </li>
                                    <li>
                                        Utiliza un navegador actualizado (Internet Explorer, Firefox, Opera, etc). para contar con las medidas de seguridad más recientes y vigentes.
                                    </li>
                                    <li>
                                        Utiliza software antivirus actualizado y verifica que este se encuentre en correcto funcionamiento cuando ingreses a internet.
                                        <ul class="textoplomo8c">
                                            <li>
                                                Al ingresar a BNBNet Plus, verifica las siguientes características en el navegador:
                                            </li>
                                            <li>
                                                En la barra de navegación verifica que la dirección esté escrita exactamente de esta manera: https://www.bnb.com.bo/BNBNETPlus, el nombre bnb.com.bo debe estar resaltado en negrillas.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Observa que la dirección comienza por https que indica que se trata de una conexión segura, también aparezca un candado en la parte derecha continua a la dirección del Banco, adicionalmente el fondo de la barra de direcciones cambiara a un color Verde lo cual que significa que el sitio es identificado por la autoridad de certificación VeriSign, estas características deben ser visibles en todo momento.
                                    </li>
                                    <li>
                                        Utiliza una contraseña compleja difícil de adivinar, es aconsejable el uso de más de 8 caracteres alfanuméricos y caracteres especiales.
                                    </li>
                                    <li>
                                        Comprueba que tu imagen de seguridad "Site Key" y el nombre de la imagen es el mismo que ingresaste en el alta de tu cuenta en nuestro sistema.
                                    </li>
                                    <li>
                                        Guarda bien los datos de tu tarjeta de coordenadas BNB Clave Maestra mismos que solo te serán pedidos al momento de realizar una transacción.
                                    </li>
                                    <li>
                                        Habilita la opción "Avisos de Movimientos en Cuenta" el cual te informará inmediatamente a tu correo o celular acerca de los movimientos en tu cuenta.
                                    </li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold">
                                ¡TEN CUIDADO!
                            </h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>En  caso de acceder a los servicios de BNB Net desde lugares públicos como: Cafés-Internet, Universidades, Colegios, etc. evita que otras personas se ubiquen cerca tuyo, de forma que puedan observar el ingreso de tus datos confidenciales, recuerda cerrar la sesión y todas las ventanas abiertas. Adicionalmente puedes eliminar los archivos temporales y los cookies antes de cerrar por completo tu sesión.</li>
                                    <li>De ninguna manera prestes a otra persona  tu tarjeta de coordenadas o tu dispositivo Token, ya que este es personal e intransferible.</li>
                                    <li>No divulgues estos datos (nombre de usuario, contraseña, Site Key, BNB Clave Maestra), el Banco NUNCA solicita estos datos, en caso de pérdida o si sospecha que alguno de estos datos fue comprometido llama a la línea  800 - 107272  para tu respectivo bloqueo.</li>
                                    <li>
                                        Los criminales utilizan diversas formas de fraude para robar tu información, una de ellas es el Phishing, en este fraude los criminales usualmente te pedirán información confidencial a través de correos electrónicos solicitando:
                                        <ul class="textoplomo8c">
                                            <li>Participa en el sorteo de un auto, computadora, etc...</li>
                                            <li>Ganaste dinero! ingresa tus datos en el siguiente link...</li>
                                            <li>Debe actualizar su información...</li>
                                            <li>Cerraremos su cuenta si no actualiza sus datos...</li>
                                            <li>Su cuenta ha sido bloqueada, para reactivarla ingrese sus datos...</li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab6" class="none">
            <div>
                <label for="tab6" class="tabtile tabtile-small-right solid-white hovershadow-gray light-text pos-top-100">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-cajero-verde.png" />
                    <span class="textoverde4a">Cajeros Automáticos</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">Cajeros Automáticos</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Ten cuidado de las personas a tu alrededor y revisa el cajero automático antes de realizar cualquier transacción
                            </p>
                            <h3 class="textoverde38 fuente-bold">TE RECOMENDAMOS</h3>
                            <p class="text-justify">
                                <ul class="textoplomo8c">
                                    <li>Utiliza cajeros automáticos que estén en lugares que, a tu criterio, sean seguros.</li>
                                    <li>Mientras estés conectado al cajero automático no abandones ni desatiendas la terminal.</li>
                                    <li>Si el cajero automático te informa (Clave de Seguridad Incorrecta) no intentes ingresar el mismo número de PIN por más de tres veces consecutivas, tu tarjeta será bloqueada.</li>
                                    <li>Oculta el teclado del cajero automático con la otra mano al momento de ingresar tu PIN.</li>
                                    <li>Si tu tarjeta es retenida por el cajero automático debes esperar por la impresión del comprobante de retención; si no hay impresión, sin abandonar el lugar, debes llamar de inmediato a ATC para comunicar lo ocurrido y para bloquear tu tarjeta.</li>
                                    <li>Después de cada transacción en el cajero automático, no olvides retirar tu dinero, el comprobante y tu tarjeta.</li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>No permitas que otras personas observen tus acciones en el cajero automático mientras realizas una transacción.</li>
                                    <li>Mantente alerta de las personas que organizan filas o solicitan ayuda para utilizar el cajero.</li>
                                    <li>Nunca aceptes ayuda, consejos o indicaciones de extraños.</li>
                                    <li>Si notas o percibes algo raro, diferente o extraño en las pantallas o entorno del cajero automático, abstente de realizar transacciones, abandona la sesión y comunica el hecho al Banco.</li>
                                    <li>Si detectas la existencia en el ATM de dispositivos extraños o diferentes (especialmente en el dispositivo de seguridad de la puerta de entrada a un recinto o en la ranura de ingreso de la tarjeta del ATM) o existe actividad sospechosa de terceros, abstente de realizar la transacción y aléjate del lugar.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab7" class="none">
            <div>
                <label for="tab7" class="tabtile tabtile-small-right solid-white hovershadow-gray light-text pos-top-200">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-movil-verde.png" />
                    <span class="textoverde4a">Banca Móvil</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">Banca Móvil</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Cuida tu celular contra pérdidas, robos o préstamos y protege sus datos contra el acceso no autorizado.
                            </p>
                            <h3 class="textoverde38 fuente-bold">TE RECOMENDAMOS</h3>
                            <p class="text-justify">
                                <ul class="textoplomo8c">
                                    <li>Aplica las recomendaciones de BNBNet Plus, para el ingreso al portal de Banca Movil: http://wap.bnb.com.bo</li>
                                    <li>Una vez que concluyas con tu transacción, cerciórate de cerrar la sesión.</li>
                                    <li>En caso de utilizar la opción de SMS, una vez concluida la transacción debes borrar inmediatamente todos los mensajes de la bandeja de enviados de tu teléfono.</li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>En la medida de lo posible, no divulgues a terceros que son extraños el número de tu teléfono celular.</li>
                                    <li>Cuando realices una transacción procura que sea en un lugar seguro, evita hacerlo en la calle y lejos de personas que podrían arrebatarte el aparato o ver el número de teléfono y la clave.</li>
                                    <li>En lo posible, no prestes tu teléfono celular y no permitas que nadie lo examine.</li>
                                    <li>En ningún caso debes solicitar o aceptar ayuda de personas extrañas.</li>
                                    <li>Nunca respondas a mensajes SMS sospechosos de origen desconocido.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabion" id="tab9" class="none">
            <div>
                <label for="tab9" class="tabtile tabtile-small-right solid-white hovershadow-gray light-text pos-top-300">
                    <img class="img-center img-responsive" src="~/Images/IconosTabs/seguridad-carlitos.png" />
                    <span class="textoverde4a">Carlitos BNB</span>
                </label>
                <div class="tab-content animated tab-bounceIn solid-gray pos-left-100 pos-right-100 height-500">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="textoverde38 fuente-bold">CARLITOS BNB</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="textoplomo8c text-justify">
                                Cuando ingreses de un dispositivo móvil o equipo público, recuerda cerrar tu sesión de Facebook.
                            </p>
                            <h3 class="textoverde38 fuente-bold">TE RECOMENDAMOS</h3>
                            <p class="text-justify">
                                <ul class="textoplomo8c">
                                    <li>Carlitos BNB te pedirá tu documento de identidad para verificar tu identidad.</li>
                                    <li>Si te llega un mensaje SMS cuando no está chateando con Carlitos BNB favor reportarlo.</li>
                                    <li>Carlitos BNB nunca te pedirá que envíes tu usuario y clave en una conversación.</li>
                                </ul>
                            </p>
                            <h3 class="textoverde38 fuente-bold">¡TEN CUIDADO!</h3>
                            <p class="textoplomo8c text-justify">
                                <ul class="textoplomo8c">
                                    <li>En la medida de lo posible, no divulgues a terceros que son extraños el número de tu teléfono celular.</li>
                                    <li>Cuando realices una transacción procura que sea en un lugar seguro, evita hacerlo en la calle y lejos de personas que podrían arrebatarte el aparato o ver el número de teléfono y la clave.</li>
                                    <li>En lo posible, no prestes tu teléfono celular y no permitas que nadie lo examine.</li>
                                    <li>En ningún caso debes solicitar o aceptar ayuda de personas extrañas.</li>
                                    <li>Nunca respondas a mensajes SMS sospechosos de origen desconocido.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <input type="radio" name="tabion" class="none" id="close_tabion">
    <div class="clearspace"></div>
</div>
<br />




