﻿
@{
    ViewBag.Title = "FormReclamo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IdMenu = Model != null ? Model.IdSuperior : 1;
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
<div class="container">
    <h1 class="greenClr d20" style="padding:15px;">Ingreso de Reclamos</h1>
    <form class="form-reclamos">
        <h1 class="d16 violetClr" style="padding:0 15px;"><b>Datos Personales</b></h1>
        <div class="row no-padding-lateral">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="formgroup">
                    <label>Nombres o Razón Social</label>
                    <input id="nombres" maxlength="30" type="text" onkeypress="return OnlyText(event)" />
                    <div class="text-danger" id="nombres"></div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div class="formgroup">
                    <label>Tipo de documento de identidad</label>
                    <select id="tipodocumento">
                        <option value="">Seleccione</option>
                        <option value="DNI">DNI</option>
                        <option value="RUC">RUC</option>
                        <option value="Carnet de identidad">Carnet de identidad</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Carnet de Extranjería">Carnet de Extranjería</option>
                    </select>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6  ">
                <div class="formgroup">
                    <label>Número de Documento de identidad</label>
                    <input id="numerodocumento" maxlength="15" type="text" onkeypress="return OnlyNumbers(event)" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6  ">
                <div class="formgroup">
                    <label>Email</label>
                    <input id="email" maxlength="30" type="text"  onkeypress="return OnlyEmail(event)" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6  ">
                <div class="formgroup">
                    <label>Dirección</label>
                    <input id="direccion" maxlength="50" type="email" onkeypress="return OnlyText(event)" />
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6  ">
                <div class="formgroup">
                    <label>Teléfono</label>
                    <input id="telefono" maxlength="15" type="text" onkeypress="return OnlyNumbers(event)" />
                </div>

            </div>

        </div>

        <h1 class="d16 violetClr" style="padding:0 15px;"><b>Datos del reclamo</b></h1>
        <div class="row no-padding-lateral text-left">

            <div class="col-lg-6 col-md-6 col-sm-6  ">
                <div class="formgroup">
                    <label>Fecha de incidencia</label>
                    <input id="fechaincidencia" max="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" />
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12  ">
                <div class="formgroup">
                    <label>Detalle del reclamo</label>
                    <p class="d12 textoplomo">(0-1000 caracteres)</p>
                    <textarea id="detallereclamo" maxlength="1000" onkeypress="return OnlyText(event)"></textarea>
                </div>
            </div>



        </div>
        <br />
        <div class="text-center">
            <a class="btnGreen" style="padding:5px 25px; cursor:pointer;" onclick="Registrar()">Enviar</a>
        </div>
    </form>

    <br /><br /><br />
</div>

<script>
    function Registrar() {
        var nombres = $('#nombres').val();
        var tipodocumento = $('#tipodocumento').val();
        var numerodocumento = $('#numerodocumento').val();
        var email = $('#email').val();
        var direccion = $('#direccion').val();
        var telefono = $('#telefono').val();
        var fechaincidencia = $('#fechaincidencia').val();
        var detallereclamo = $('#detallereclamo').val();




        if (nombres == "" || tipodocumento==""||numerodocumento==""||email==""||direccion==""||telefono==""||fechaincidencia==""||detallereclamo=="") {

             Swal.fire({
                type: 'error',
                title: 'Error',
                 text: "Debe llenar todos los campos del formulario",
                confirmButtonColor: '#26B460',
                showConfirmButton: true
            });
            return;
        }

        var Objeto = {
            a0: nombres,
            a1: tipodocumento,
            a2: numerodocumento,
            a3: email,
            a4: direccion,
            a5: telefono,
            a6: fechaincidencia,
            a7: detallereclamo
        }

        $.ajax({
                    async: true,
                    cache: false,
                    dataType: "json",
                    data: Objeto,
                    type: 'POST',
                    url: '@Url.Action("RegistrarReclamo", "Principal")',
            success: function (respuesta) {


                        if (respuesta.Correcto == true) {
                            Swal.fire({

                                type: 'success',
                                title: 'Registro completado',
                                text: respuesta.Mensaje,
                                confirmButtonColor: '#26B460',
                                showConfirmButton: true

                            }).then((result) => {
                                if (result.value) {
                                    location.href = '@Url.Action("Index","Principal")';
                                }
                            });
                        }
                        else {
                            Swal.fire({

                                type: 'error',
                                title: 'Error',
                                text: 'Ocurrió un error en el registro, por favor intenta nuevamente',
                                confirmButtonColor: '#26B460',
                                showConfirmButton: true

                            })
                        }
                    }

                });



    }






    function OnlyText(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8||tecla==32) {
            return true;
        }

        // Patron de entrada, en este caso solo acepta numeros y letras
        patron = /[A-Za-z0-9ÁÉÍÓÚáéíóú.,@@_-]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
    function OnlyNumbers(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }

        // Patron de entrada, en este caso solo acepta numeros y letras
        patron = /[0-9]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }
    function OnlyEmail(e) {
        tecla = (document.all) ? e.keyCode : e.which;

        //Tecla de retroceso para borrar, siempre la permite
        if (tecla == 8) {
            return true;
        }

        // Patron de entrada, en este caso solo acepta numeros y letras
        patron = /[A-Za-z0-9.@@_-]/;
        tecla_final = String.fromCharCode(tecla);
        return patron.test(tecla_final);
    }


</script>

