﻿@model BNB_PortalExterno.Models.Menu
@{
  ViewBag.Title = "Grupo BNB";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.Id : 3;
}
@Styles.Render("~/Content/occss")
@Scripts.Render("~/bundles/ocjs")
@Styles.Render("~/Content/swcss")
@Styles.Render("~/Content/fccss")
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
<div class="swiper-container swiper-hero">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swiper-slide__img" style="background:url(../../Images/bg-c1.jpg) center center;background-size:cover;"></div>
      <div class="container">
        <div class="swiper-slide__content_center">
          <div class="content__wrapper">
            <div class="card-center notice-success">
              <div class="text-center">
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  BANCO NACIONAL
                </h1>
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  DE BOLIVIA S.A.
                </h1>
              </div>
              <br />
              <div class="col-sm-12 text-center">
                <a href="@Url.Action("Bnb","Grupo",new {Id= BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_BNB })" class="btn btn-verdeclaro btn-lg">
                  Quienes&nbsp;<strong>Somos</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide__img" style="background:url(../../Images/bg-c2.jpg) center center;background-size:cover;"></div>
      <div class="container">
        <div class="swiper-slide__content_center">
          <div class="content__wrapper">
            <div class="card-center">
              <div class="text-center notice-success">
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  BNB
                </h1>
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  LEASING S.A.
                </h1>
              </div>
              <br />
              <div class="col-sm-12 text-center">
                <a href="@Url.Action("Leasing","Grupo",new {Id= BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_LEASING})" class="btn btn-verdeclaro btn-lg">
                  Más&nbsp;<strong>Información</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide__img" style="background:url(../../Images/bg-c3.jpg) center center;background-size:cover;"></div>
      <div class="container">
        <div class="swiper-slide__content_center">
          <div class="content__wrapper">
            <div class="card-center notice-success">
              <div class="text-center">
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  BNB
                </h1>
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  SAFI S.A.
                </h1>
              </div>
              <br />
              <div class="col-sm-12 text-center">
                <a href="@Url.Action("Safi","Grupo",new {Id= BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_SAFI })" class="btn btn-verdeclaro btn-lg">
                  Más&nbsp;<strong>Información</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="swiper-slide__img" style="background:url(../../Images/bg-c4.jpg) center center;background-size:cover;"></div>
      <div class="container">
        <div class="swiper-slide__content_center">
          <div class="content__wrapper">
            <div class="card-center notice-success">
              <div class="text-center">
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  BNB
                </h1>
                <h1 class="d60" style="margin-top:0px;margin-bottom:0px">
                  VALORES S.A.
                </h1>
              </div>
              <br />
              <div class="col-sm-12 text-center">
                <a href="@Url.Action("Valores","Grupo",new {Id= BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_VALORES })" class="btn btn-verdeclaro btn-lg">
                  Más&nbsp;<strong>Información</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  @*<div class="swiper-pagination hero-pagination">*@
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="font-size:1.3em;padding:10px;color:#694780;">
      Somos el grupo BNB
    </div>
  </div>
</div>
<div class="container-fluid greenBg">
  <div class="row" style="padding-top:40px">
    <div class="container">
      <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
        <div class="swiper-wrapper" style="margin-top:10px;margin-bottom:15px">
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px; max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Grupo</div>
              <img style="width:100px" src="~/Images/Personas/grupo.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Bnb","Grupo",new {Id =BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_BNB})'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Leasing</div>
              <img style="width:100px" src="~/Images/Personas/creditos.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Leasing","Grupo",new {Id =BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_LEASING})'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
        </div>
        <br />
        @*<div class="swiper-pagination"></div>*@
      </div>
    </div>
  </div>
</div>
<div class="container-fluid greenBg">
  <div class="row">
    <div class="container">
      <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
        <div class="swiper-wrapper" style="margin-top:10px;margin-bottom:25px">
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Safi</div>
              <img style="width:100px" src="~/Images/GrupoBnb/safi.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Index","Safi",new {Id =400 })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9px">
              </div>
              <div class="text-left greenCardText">Valores</div>
              <img style="width:100px" src="~/Images/Personas/valores.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Valores","Grupo",new {Id = BNB_PortalExterno.Models.Constantes.ITEM_GRUPO_VALORES })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
        </div>
        <br />
        @*<div class="swiper-pagination"></div>*@
      </div>
    </div>
  </div>
</div>

@Scripts.Render("~/bundles/swjs")
<script>
  var swiper = new Swiper('.swiper-hero', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 0,
    loop: true,
    autoplay: 3000,
    grabCursor: true,
    autoplayDisableOnInteraction: false
  });
  var swiper = new Swiper('.s1', {
    pagination: '.swiper-pagination',
    slidesPerView: 2,
    slidesPerColumn: 1,
    paginationClickable: true,
    spaceBetween: 30,
    breakpoints: {
      1024: {
        slidesPerView: 2,
        spaceBetween: 15
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      640: {
        slidesPerView: 1.5,
        spaceBetween: 10,
      },
      420: {
        slidesPerView: 1.1,
        spaceBetween: 10
      }
    }
  });
</script>