﻿@model BNB_PortalExterno.Models.Menu
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.Id : BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS;
}
@Styles.Render("~/Content/occss")
@Scripts.Render("~/bundles/ocjs")
@Styles.Render("~/Content/swcss")
@Styles.Render("~/Content/fccss")
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
<div class="swiper-container swiper-hero">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div id="VivienaSocial" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper" style="background-color:none !important">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div class="notice notice-success" id="VivienaSocialContent">
                <h3 class="d38 wsBold bnrTitle">
                  Asesoramiento para 
                </h3>
                <h3 class="d38 wsBold">
                  Inversiones
                </h3>
                <p class="d20 bnrpadTop">Planeamiento de estrategias financieras</p>
                <p class="d20">enfocadas en incrementar el valor de su portafolio.</p>
                <p class="d26 fuente-bold hazclick">Haz click</p>
              </div>
              <div>
                <a class="btnGreen btn-lg" href="@Url.Action("AsesoriaInversiones","ValoresPeru", new {Id =103 })" target="_blank">
                  <strong>
                    Para mas información
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="BienesAdjudicados" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div class="notice notice-success" id="VivienaSocialContent">
                <h3 class="d38 wsBold bnrTitle">
                  Clientes
                </h3>
                <h3 class="d38 wsBold">
                  Naturales
                </h3>
                <p class="d20 bnrpadTop">Intermediación bursátil, custodia, </p>
                <p class="d20">Desmaterialización de títulos.</p>
                <p class="d26 fuente-bold hazclick">Haz click</p>
              </div>
              <div>
                <a class="btnGreen btn-lg" href="@Url.Action("Naturales","ValoresPeru", new {Id =10 })" target="_blank">
                  <strong>
                    Para mas información
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="BNBMovilQR" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div id="icon-img" class="notice notice-success">
                <h3 class="d38 wsBold bnrTitle">
                  Clientes
                </h3>
                <h3 class="d38 wsBold">
                  Corporativos
                </h3>
                <p class="d20 bnrpadTop">Estructuraciones, Finanzas corporativa, Colocación de valores,</p>
                <p class="d26 fuente-bold hazclick">Haz click</p>
              </div>
              <div>
                <a class="btnGreen btn-lg" href="@Url.Action("Corporativos","ValoresPeru", new {Id =11 })" target="_blank">
                  <strong>
                    Para mas información
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="BannerOnOff" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div id="icon-img" class="notice notice-success">
                <h3 class="d38 wsBold bnrTitle">
                  Negociación
                </h3>
                <h3 class="d38 wsBold">
                  valores
                </h3>
                <p class="d20 bnrpadTop">Somos especialistas en el asesoramiento personalizado </p>
                <p class="d26 fuente-bold hazclick">Haz click</p>
              </div>
              <div>
                <a class="btnGreen btn-lg" href="@Url.Action("NegociacionValoresCorp","ValoresPeru", new {Id =126})" target="_blank">
                  <strong>
                    Para mas información
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div id="BannerBancaSenior" class="swiper-slide__img"></div>
      <div class="swiper-slide__content">
        <div class="content__wrapper">
          <div class="slide-content_box">
            <div class="card-izquierda">
              <div id="icon-img" class="notice notice-success">
                <h3 class="d38 wsBold bnrTitle">
                  Asesoría
                </h3>
                <h3 class="d38 wsBold">
                  Patrimonial
                </h3>
                <p class="d20 bnrpadTop">Especialistas en gestión </p>
                <p class="d20">de patrimonios</p>
                <p class="d26 fuente-bold hazclick">Haz click</p>
              </div>
              <div>
                <a class="btnGreen btn-lg" href="@Url.Action("AsesoriaPatrimonial","ValoresPeru", new {Id =104 })" target="_blank">
                  <strong>
                    Para mas información
                  </strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="font-size:1.3em;padding:10px;color:#694780;">
      Tenemos el <strong>producto para tí</strong>
    </div>
  </div>
</div>
<div class="container-fluid greenBg">
  <div class="row" style="padding-top:40px">
    <div class="container">
      <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
        <div class="swiper-wrapper" style="margin-top:10px;margin-bottom:15px">
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 2px;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Nosotros</div>
              <img style="width:100px" src="~/Images/nosotros.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Nosotros","ValoresPeru", new {Id =7 })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Nuestros servicios</div>
              <img style="width:100px" src="~/Images/servicios.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("NuestrosServicios","ValoresPeru", new {Id =5 })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
        </div>
        <br />
        @*<div class="swiper-pagination"></div>*@
      </div>
    </div>
  </div>
</div>
<div class="container-fluid greenBg">
  <div class="row">
    <div class="container">
      <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
        <div class="swiper-wrapper" style="margin-top:10px;margin-bottom:25px">
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Regístro de cliente</div>
              <img style="width:100px" src="~/Images/registro.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("RegistroClientes","ValoresPeru", new {Id =6 })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="text-center" style="border:1px solid white;border-radius:0px 20px 0px 20px;padding:10px;height:170px;    max-width: 315px; min-width: 230px; margin:auto">
              <div class="violetBg" style="height: 10px;width: 70px;left: 0;margin-top: -10px;margin-left:-9.5px">
              </div>
              <div class="text-left greenCardText">Contactos</div>
              <img style="width:100px" src="~/Images/contactos.png" />
              <div style="width: 95px;color:white; margin-top:50px;margin-left:210px;cursor:pointer" onclick="window.location.href='@Url.Action("Contactos","ValoresPeru", new {Id =8 })'">
                Saber más <span class="glyphicon glyphicon-menu-right" aria-hidden="true" style="background-color:white;color:green;"></span>
              </div>
            </div>
          </div>
        </div>
        <br />
        @*<div class="swiper-pagination"></div>*@
      </div>
    </div>

  </div>
</div>
<br />


@Scripts.Render("~/bundles/swjs")
<script>
  var IsWideImage = false;
  var IsWideImageActual = false;
  var swiper = new Swiper('.swiper-hero', {
    pagination: '.swiper-pagination',
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    slidesPerView: 1,
    paginationClickable: true,
    spaceBetween: 0,
    loop: false,
    autoplay: 3000,
    grabCursor: true,
    autoplayDisableOnInteraction: false
  });
  var swiper = new Swiper('.s1', {
    pagination: '.swiper-pagination',
    slidesPerView: 2,
    slidesPerColumn: 1,
    paginationClickable: true,
    spaceBetween: 30,
    breakpoints: {
      1024: {
        slidesPerView: 2,
        spaceBetween: 15
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      640: {
        slidesPerView: 1.5,
        spaceBetween: 10,
      },
      420: {
        slidesPerView: 1.1,
        spaceBetween: 10
      }
    }
  });

  $(document).ready(function (e) {
    //Verificar si se debe cambiar el menu
    if ($(window).width() < 768) {
      IsWideImage = false;
    } else {
      IsWideImage = true;
    }
      VerificarAnchoPantalla(e, $(window).width());

      MostrarPopUp(e, this, '_AvisoInicio', 'Principal');
  });
  $(window).resize(function (e) {
    if ($(window).width() < 768) {
      IsWideImageActual = false;
    } else {
      IsWideImageActual = true;
    }
    if (IsWideImage != IsWideActual) {
      IsWideImage = IsWideImageActual;
      VerificarAnchoPantalla(e, $(window).width());
    }
  });

  function VerificarAnchoPantalla(event, ancho) {
    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
    if (ancho < 768) {
      $("#VivienaSocial").css({"background": "url(@Url.Content("~/Images/Banners/asesoriaInversiones.jpg")) center center" , "background-size" : "cover"});
      $("#BienesAdjudicados").css({"background": "url(@Url.Content("~/Images/Banners/corporativos.jpg")) center center", "background-size": "cover" });
      $("#BNBMovilQR").css({"background": "url(@Url.Content("~/Images/Banners/negociacionValores.jpg")) center center" , "background-size": "cover" });
      $("#BannerOnOff").css({ "background": "url(@Url.Content("~/Images/Banners/AsesoriaPatrimonial.jpg")) center center", "background-size": "cover" });
      $("#BannerBancaSenior").css({ "background": "url(@Url.Content("~/Images/Banners/servicioRepresentante.jpg")) center center", "background-size": "cover" });
      
    }
    else
    {
      $("#VivienaSocial").css({ "background": "url(@Url.Content("~/Images/Banners/asesoriaInversiones.jpg")) center center", "background-size": "cover" });
      $("#BienesAdjudicados").css({ "background": "url(@Url.Content("~/Images/Banners/corporativos.jpg")) center center", "background-size": "cover" });
      $("#BNBMovilQR").css({ "background": "url(@Url.Content("~/Images/Banners/negociacionValores.jpg")) center center", "background-size": "cover" });
      $("#BannerOnOff").css({ "background": "url(@Url.Content("~/Images/Banners/AsesoriaPatrimonial.jpg")) center center", "background-size": "cover" });
      $("#BannerBancaSenior").css({ "background": "url(@Url.Content("~/Images/Banners/servicioRepresentante.jpg")) center center", "background-size": "cover" });
    }
    }


</script>