﻿@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS });}
<div class="container-fluid">
    @*<div class="fondo-sin-submenu transaparencia-verde">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="text-center">
                <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp; MAPA DEL <strong>SITIO</strong> &nbsp;&nbsp;</h2>
              </div>
            </div>
          </div>
        </div>*@
    <h2 class="textolinea-blanco greenClr text-center" style="font-family:WorkSans-Bold">Mapa del Sitio</h2>
    <span class="violetBg" style="height: 7px;width: 4%;position: absolute;margin-top: -10px;left:48.5%"></span>
</div>
<div class="container">
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <button class="btn btn-verde-oscuro btn-lg" onclick="location.href='@Url.Action("BancaPersonas","Principal", new {Id= BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS })';">&nbsp;&nbsp;www.bnb.com.bo&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>
  <br />
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" data-aos="zoom-out-up" data-aos-duration="1000">
      <img class="img-responsive img-center" src="~/Images/site-map.jpg" />
    </div>
  </div>
</div>