﻿@model BNB_PortalExterno.Models.Noticia

@{
  ViewBag.Title = "Noticias";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS });}
@if (Model != null)
{
  <div class="container-fluid">
    <div class="fondo-sin-submenu transaparencia-verde">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="text-center">
            <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp;@Model.Titular&nbsp;&nbsp;</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <fieldset class="fieldset-verde">
        <div class="row">
          @if (!string.IsNullOrEmpty(Model.SubTitular))
          {
            <div class="col-sm-10 text-left d22 textoverde3c fuente-bold">
              @Model.SubTitular
            </div>
            @*<div class="col-sm-2 text-right d17 textoplomo8c">
                <span class="badge badge-secondary">Fecha de publicación<br> @Model.FechaPublicacion.ToString("dd/MM/yyyy")</span>
              </div>*@
          }
          else
          {
            @*<div class="col-sm-12 text-right d17 textoplomo8c">
                <span class="badge badge-secondary">Fecha de publicación<br />@Model.FechaPublicacion.ToString("dd/MM/yyyy")</span>
              </div>*@
          }
        </div>
        <br />
        <div class="row">
          <div class="col-sm-12 textoplomo8c d17">
            <span class="text-left textoverde3c fuente-bold">
              Detalle
            </span><br />
            @Model.Descripcion
          </div>
        </div>
        <br />
        @if (Model.Contenido != null)
        {
          <hr />
          <div class="row" style="height:200px;overflow-y:auto">
            @foreach (var Contenido in Model.Contenido)
            {
              <div class="col-sm-12 textoplomo8c d17">
                <span class="text-left textoverde3c fuente-bold">
                  @Contenido.Encabezado
                </span><br />
                @Html.Raw(Contenido.Descripcion)<br />
                @if (Contenido.Contenidos != null)
                {
                  <ul class="textoplomo8c">
                    @foreach (var item in Contenido.Contenidos)
                    {
                      <li>@item</li>
                    }
                  </ul>
                }
              </div>
            }
          </div>
        }
        <br />
        @if (Model.UrlImagenes != null)
        {
          <hr />
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              @foreach (var Imagen in Model.UrlImagenes)
              {
                <img class="img-center img-responsive" src="@Url.Content(Imagen)" />
              }
            </div>
            <div class="col-sm-3"></div>
          </div>
        }

        @if (Model.UrlVideos != null)
        {
          <hr />
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              @foreach (var Video in Model.UrlVideos)
              {
                <div class="vid">
                  <!-- Copy & Pasted from YouTube -->
                  <iframe width="560" height="315" src="@Video" allowfullscreen=""></iframe>
                </div>
              }
            </div>
            <div class="col-sm-2"></div>
          </div>
        }
        <br />
      </fieldset>
    </div>
    <div class="col-sm-1"></div>

  </div>
  <!--Generar el Breadcrumb-->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <br />
      <div class="text-center">
        <a class="textoplomo8c-bc d16" href="@Url.Action("BancaPersonas" ,"Principal" )">
          Inicio&nbsp;
        </a>
        <span>|</span>
        <span class="textoverde3c d16 fuente-bold">
          Noticia:@Model.Titular
        </span>
      </div>
      <br />
    </div>
  </div>
  <!--/Generar el Breadcrumb-->
}
else
{
  <div class="container-fluid">
    <div class="fondo-con-submenu transaparencia-verde">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="text-center">
            <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp;Noticia no disponible&nbsp;&nbsp;</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!--Generar el Breadcrumb-->
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <br />
      <div class="text-center">
        <a class="textoplomo8c-bc d16" href="@Url.Action("BancaPersonas" ,"Principal" )">
          Inicio&nbsp;
        </a>
        <span>|</span>
        <span class="textoverde3c d16 fuente-bold">
          Noticias
        </span>
      </div>
      <br />
    </div>
  </div>
}

