﻿@using reCAPTCHA.MVC
@model BNB_PortalExterno.Models.Register
@{
  ViewBag.Title = "Punto de reclamo";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS });}
@Styles.Render("~/Content/frcss")
@Styles.Render("~/Content/sweetalertcss")
@Scripts.Render("~/bundles/sweetalertjs")
@Scripts.Render("~/bundles/ajaxjs")
@Scripts.Render("~/bundles/ajaxjs")
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script>
  $(document).ready(function () {
    $("#monto").val(0);
    $("#PersonaNatural").show();
    $("#PersonaJuridica").hide();
    $("#celular").keypress(function (tecla) {
      if (tecla.charCode < 48 || tecla.charCode > 57) return false;
    });
    $("#codigoVerificacion").keypress(function (tecla) {
      if (tecla.charCode < 48 || tecla.charCode > 57) return false;
    });
    $("#numeroDocumento").keypress(function (tecla) {
      if (tecla.charCode < 48 || tecla.charCode > 57) return false;
    });
    var fecha = new Date();
    var day = ('0' + fecha.getDate()).slice(-2).toString();
    var month = ('0' + (fecha.getMonth() + 1)).slice(-2).toString();
    var year = fecha.getFullYear();
    $("#fechaHecho").val(day + '/' + month + '/' + year);
    $('#fechaHecho').datepicker({
      useCurrent: false,
      format: 'dd/mm/yyyy',
      todayHighlight: true,
      autoclose: true,
      endDate: "today",
      language: 'es'
    });

    $("#tipoDocCI").change(function () {
      if ($("#tipoDocCI").is(':checked')) {
        $("#PersonaNatural").show();
        $("#PersonaJuridica").hide();
        $("#nombreCompleto").val("");
        $("#txtDocumento").text("Numero de documento");
      }
    });
    $("#tipoDocNIT").change(function () {
      if ($("#tipoDocNIT").is(':checked')) {
        $("#PersonaNatural").hide();
        $("#PersonaJuridica").show();
        $("#nombres").val("");
        $("#apellidos").val("");
        $("#txtDocumento").text("Nit");
      }
    });

    $("select[name=categoria]").change(function () {
      $("#subCategoria").empty();
      var categoryValue = $('#categoria').val();
      var arrayDefault = { '': 'SELECCIONE' };
      if (categoryValue == '') {
        $.each(arrayDefault, function (id, value) {
          $("#subCategoria").append("<option value=\"" + id + "\">" + value + "</option>");
        });
      }
      else {
        var modelInformation = JSON.parse($("#ModelInformation").val());
        $("#subCategoria").append($("<option>").attr('value', '').text('SELECCIONE'));
        $.each(modelInformation.listaSubCategorias, function (idx, obj) {
          if (obj.categoriaId == categoryValue)
          $("#subCategoria").append("<option value=\"" + obj.id + "\">" + obj.descripcion + "</option>");
        });
      }
    });
    $("#EnviarCodigo").click(function () {
      $("#EnviarCodigo").attr("disabled", "disabled");
      var parametro = "";
      if ($("#tipoDocCI").is(':checked'))
        parametro = $("#tipoDocCI").val();
      else
        if ($("#tipoDocNIT").is(':checked'))
          parametro = $("#tipoDocNIT").val();
      var dataString = 'Correo=' + $('#correoElectronico').val() + '&numeroDoc=' + $('#numeroDocumento').val() + '&Complemento=' + $('#complemento').val() + '&tipoDoc=' + parametro;
      $.ajax({
        type: "POST",
        dataType: "json",
        url: '@Url.Action("MandarCorreo", "Principal")',
        data: dataString,
        success: function (respuesta) {
          $("#codigoVerificacion").focus();
          if (respuesta.Correcto == true) {
            swal("Atención!", "Se envió correctamente el código a su correo electrónico, por favor revisar.", "success");
          }
          if (respuesta.Correcto == false) {
            swal("Atención!", respuesta.Mensaje, "error");
          }
          $("#EnviarCodigo").removeAttr("disabled");
        }
      });
    });
    $("#formulario_Form").submit(function (e) {
      e.preventDefault ? e.preventDefault() : (e.returnValue = false);
      var form = $('#formulario_Form');
      form.validate();
      if (form.valid()) {
        $("#enviarReclamo").attr("disabled", "disabled");
        $.ajax({
          url: form.attr('action'),
          type: form.attr('method'),
          dataType: "json",
          data: form.serialize(),
          success: function (respuesta) {
            if (respuesta.Correcto) {
              LimpiarData();
              swal("Atención!", "Se registro correctamente. Su numero de caso es: " + respuesta.IdResultado, "success");
            } else {
              swal("Atención!", respuesta.Mensaje, "error");
            }
            $("#enviarReclamo").removeAttr("disabled");
          },
          error: function () {
            swal("Atención!", "Ocurrío un error inesperado, intente más tarde", "error");
          },
        });
      }
    });
  });

  function fAgrega() {
    var data = $("#correoElectronico").val();
    $("#validarCorreo").text(data);
  }
  function LimpiarData() {
    $("#fechaHecho").val("");
    $("#categoria").val("");
    $("#subCategoria").val("");
    $("#monto").val("");
    $("#monedaBs").prop("checked", true);
    $("#descripcion").val("");
    $("#nombres").val("");
    $("#apellidos").val("");
    $("#nombreCompleto").val("");
    $("#numeroDocumento").val("");
    $("#tipoDocCI").prop("checked", true);
    $("#complemento").val("");
    $("#expedidoEn").val("");
    $("#celular").val("");
    $("#correoElectronico").val("");
    $("#direccion").val("");
    $("#ciudad").val("");
    $("#codigoVerificacion").val("");
    $("#subCategoria").empty();
    $('#subCategoria').append($("<option>").attr('value', '').text('SELECCIONE'));
    $("#PersonaNatural").show();
    $("#PersonaJuridica").hide();
    $("#txtDocumento").text("Numero de documento");
    $("#monto").val(0);
  }
  function filterFloat(evt, input) {
    var key = window.Event ? evt.which : evt.keyCode;
    var chark = String.fromCharCode(key);
    var tempValue = input.value + chark;
    if (key >= 48 && key <= 57) {
      if (filter(tempValue) === false) {
        return false;
      } else {
        return true;
      }
    } else {
      if (key == 8 || key == 13 || key == 0) {
        return true;
      } else if (key == 46) {
        if (filter(tempValue) === false) {
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
    }
  }
  function filter(__val__) {
    var preg = /^([0-9]+\.?[0-9]{0,2})$/;
    if (preg.test(__val__) === true) {
      return true;
    } else {
      return false;
    }

  }
</script>

<div class="container-fluid">
  <div class="fondo-sin-submenu transaparencia-verde">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp; PUNTO DE RECLAMO &nbsp;&nbsp;</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      <a class="textoplomo8c-bc d16" href="@Url.Action("BancaPersonas", "Principal")">
        Inicio&nbsp;
      </a>
      <span>|</span>
      <span class="textoverde3c d16 fuente-bold">
        Punto de Reclamo
      </span>
    </div>
    <br />
  </div>
</div>
<!--/Generar el Breadcrumb-->


<div class="container">
  <div class="col-md-2"></div>
  <div class="col-sm-12 col-md-12 col-md-8">
    <form class="form-horizontal" id="formulario_Form" action="@Url.Action("RegistrarReclamo", "Principal")" method="post" autocomplete="off">
      <fieldset>
        <div class="row">
          <div class="col-sm-12">
            <span class="textoplomo8c d17 fuente-bold">
              Datos Reclamo
            </span>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label for="fechaHecho" class="textoverde d14 fuente-bold">
              Fecha del hecho
            </label>
            @Html.TextBoxFor(m => m.fechaHecho, new { @class = "form-control", @id = "fechaHecho" })
            @*<input type="text" name="fechaHecho" class = "form-control" id="fechaHecho" />*@
            @Html.ValidationMessageFor(m => m.fechaHecho, "", new { @class = "text-danger" })


          </div>
          <div class="col-sm-4">
            <label for="categoria" class="textoverde d14 fuente-bold">
              Categoría
            </label>
            @Html.DropDownListFor(m => m.categoria, new SelectList(Model.listaCategorias, "Id", "Descripcion"), "SELECCIONE", new { @class = "form-control", @id = "categoria" })
            @Html.ValidationMessageFor(m => m.categoria, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-4">
            <label for="subCategoria" class="textoverde d14 fuente-bold">
              Sub categoría
            </label>
            @Html.DropDownListFor(m => m.subCategoria, new List<SelectListItem>() { }, "SELECCIONE", new { @class = "form-control", @id = "subCategoria" })
            @Html.ValidationMessageFor(m => m.subCategoria, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <label for="monto" class="textoverde d14 fuente-bold">
              Monto comprometido
            </label>
            @Html.TextBoxFor(m => m.monto, new { @class = "form-control", @id = "monto", @onkeypress = "return filterFloat(event,this);" })
            @Html.ValidationMessageFor(m => m.monto, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-4">
            <label for="moneda" class="textoverde d14 fuente-bold">
              Moneda
            </label>
            <div>
              <label for="moneda" class="textoplomo8c">Bolivianos </label>
              @Html.RadioButtonFor(m => m.moneda, "0", new { @id = "monedaBs", @checked = "checked" })
              <label for="moneda" class="textoplomo8c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dolares </label>
              @Html.RadioButtonFor(m => m.moneda, "1", new { @id = "monedaDol" })
            </div>
          </div>
          <div class="col-sm-4">
            <label for="ciudad" class="textoverde d14 fuente-bold">
              Ciudad
            </label>
            @Html.DropDownListFor(m => m.ciudad, new SelectList(Model.listaCiudades, "Id", "Descripcion"), "SELECCIONE", new { @class = "form-control", @id = "ciudad" })
            @Html.ValidationMessageFor(m => m.ciudad, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-12">
            <label for="descripcion" class="textoverde d14 fuente-bold">
              Descripción
            </label>
            @Html.TextAreaFor(m => m.descripcion, new { @class = "form-control", @rows = "6", @id = "descripcion", @maxlength = "2000" })
            @Html.ValidationMessageFor(m => m.descripcion, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-12">
            <span class="textoplomo8c d17 fuente-bold">
              Datos Personales
            </span>
            <hr />
          </div>
          <div class="row" id="PersonaNatural">
            <div class="col-sm-6">
              <label for="nombres" class="textoverde d14 fuente-bold">
                Nombres
              </label>
              @Html.TextBoxFor(m => m.nombres, new { @class = "form-control", @id = "nombres", @maxlength = "100" })
              @Html.ValidationMessageFor(m => m.nombres, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
              <label for="apellidos" class="textoverde d14 fuente-bold">
                Apellidos
              </label>
              @Html.TextBoxFor(m => m.apellidos, new { @class = "form-control", @id = "apellidos", @maxlength = "100" })
              @Html.ValidationMessageFor(m => m.apellidos, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="col-sm-12" id="PersonaJuridica">
            <label for="nombreCompleto" class="textoverde d14 fuente-bold">
              Razón Social
            </label>
            @Html.TextBoxFor(m => m.nombreCompleto, new { @class = "form-control", @id = "nombreCompleto", @maxlength = "100" })
            @Html.ValidationMessageFor(m => m.nombreCompleto, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <label for="numeroDocumento" class="textoverde d14 fuente-bold" id="txtDocumento">
              Numero de documento
            </label>
            @Html.TextBoxFor(m => m.numeroDocumento, new { @class = "form-control", @type = "tel", @id = "numeroDocumento", @maxlength = "10" })
            @Html.ValidationMessageFor(m => m.numeroDocumento, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-4">
            <label for="tipoDocumento" class="textoverde d14 fuente-bold">
              Tipo de documento
            </label>
            <div>
              <label for="tipoDocumento" class="textoplomo8c">C.I. </label>
              @Html.RadioButtonFor(m => m.tipoDocumento, "1", new { @id = "tipoDocCI", @checked = "checked" })
              <label for="tipoDocumento" class="textoplomo8c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NIT </label>
              @Html.RadioButtonFor(m => m.tipoDocumento, "12", new { @id = "tipoDocNIT" })
              @*@Html.HiddenFor(m => m.tipoDocumento)*@
            </div>
          </div>
          <div class="col-sm-4">
            <label for="complemento" class="textoverde d14 fuente-bold">
              Complemento
            </label>
            @Html.TextBoxFor(m => m.complemento, new { @class = "form-control", @id = "complemento", @maxlength = "4" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-4">
            <label for="expedidoEn" class="textoverde d14 fuente-bold">
              Expedido en
            </label>
            @Html.DropDownListFor(m => m.expedidoEn, new SelectList(Model.listaExpedidos, "Id", "Descripcion"), "SELECCIONE", new { @class = "form-control", @id = "expedidoEn" })
            @Html.ValidationMessageFor(m => m.expedidoEn, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-4">
            <label for="celular" class="textoverde d14 fuente-bold">
              Celular
            </label>
            <div class="input-group">
              @Html.TextBoxFor(m => m.celular, new { @class = "form-control", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @type = "tel", @id = "celular", @maxlength = "10" })
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.celular, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-4">
            <label for="correoElectronico" class="textoverde d14 fuente-bold">
              Correo Electrónico
            </label>
            <div class="input-group">
              @Html.TextBoxFor(m => m.correoElectronico, new { @class = "form-control", @onkeyup = "fAgrega();", @id = "correoElectronico", @maxlength = "100" })
              <span class="input-group-addon"><i class="glyphicon ">@@</i></span>
            </div>
            @Html.ValidationMessageFor(m => m.correoElectronico, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-12">
            <label for="direccion" class="textoverde d14 fuente-bold">
              Dirección
            </label>
            @Html.TextBoxFor(m => m.direccion, new { @class = "form-control", @id = "direccion", @maxlength = "200" })
            @Html.ValidationMessageFor(m => m.direccion, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              Para registrar tu reclamo debes validar el correo electrónico que ingresaste : <label class="control-label success" id="validarCorreo"></label>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <label class="textoverde d14 fuente-bold">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </label>
              <p class="pull-right">
                <a class="btnheader btn-verde" id="EnviarCodigo">
                  Enviar <strong>Código</strong>&nbsp;
                </a>
              </p>
            </div>
            <div class="col-sm-4">
              <label for="codigoVerificacion" class="textoverde d14 fuente-bold">
                Ingresar código
              </label>
              @Html.TextBoxFor(m => m.codigoVerificacion, new { @class = "form-control", @maxlength = "25", @id = "codigoVerificacion" })
              @Html.ValidationMessageFor(m => m.codigoVerificacion, "", new { @class = "text-danger" })
            </div>
          </div>
          <br />
        </fieldset>
        <br />
        <div class="row">
          <div class="col-sm-12 text-right">
            <button type="submit" class="btnheader btn-verde" id="enviarReclamo">Enviar <strong>Reclamo</strong></button>
          </div>
        </div>
      </fieldset>
    </form>
    @Html.Hidden("ModelInformation", @Html.Raw(Json.Encode(Model)))
  </div>
  <div class="col-md-2"></div>
</div>
<br />
