﻿@using reCAPTCHA.MVC
@model BNB_PortalExterno.Models.FormularioReclamo
@{
  ViewBag.Title = "Punto de reclamo";
  Layout = "~/Views/Shared/_Layout.cshtml";
  //Obtener la informacion de los parametros
  List<BNB_PortalExterno.Models.Parametro> pDepartamento = (HttpContext.Current.Application[BNB_PortalExterno.Models.Constantes.PARAMETROS] as List<BNB_PortalExterno.Models.Parametro>).FindAll(m => m.GrupoParametro == BNB_PortalExterno.Models.Enumeradores.Parametros.PRM_Departamentos).ToList();
  List<BNB_PortalExterno.Models.Parametro> PTipoComentario = (HttpContext.Current.Application[BNB_PortalExterno.Models.Constantes.PARAMETROS] as List<BNB_PortalExterno.Models.Parametro>).FindAll(m => m.GrupoParametro == BNB_PortalExterno.Models.Enumeradores.Parametros.PRM_Tipo_Comentario).ToList();
  List<BNB_PortalExterno.Models.Parametro> pTipoTema = (HttpContext.Current.Application[BNB_PortalExterno.Models.Constantes.PARAMETROS] as List<BNB_PortalExterno.Models.Parametro>).FindAll(m => m.GrupoParametro == BNB_PortalExterno.Models.Enumeradores.Parametros.PRM_Tipo_Tema).ToList();
  List<BNB_PortalExterno.Models.Parametro> pExtensionDocumento = (HttpContext.Current.Application[BNB_PortalExterno.Models.Constantes.PARAMETROS] as List<BNB_PortalExterno.Models.Parametro>).FindAll(m => m.GrupoParametro == BNB_PortalExterno.Models.Enumeradores.Parametros.PRM_Extencion_Documento).ToList();
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS });}
<!--adicion de compoonentes bundles(Funciones especificas de la pantalla)-->
@Styles.Render("~/Content/frcss")
@Styles.Render("~/Content/sweetalertcss")
@Scripts.Render("~/bundles/sweetalertjs")
@Scripts.Render("~/bundles/ajaxjs")
@Scripts.Render("~/bundles/ajaxjs")
<!--/adicion de compoonentes bundles(Funciones especificas de la pantalla)-->


<div class="container-fluid">
  <div class="fondo-sin-submenu transaparencia-verde">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
          <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp; PUNTO DE RECLAMO &nbsp;&nbsp;</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      <a class="textoplomo8c-bc d16" href="@Url.Action("BancaPersonas" ,"Principal" )">
        Inicio&nbsp;
      </a>
      <span>|</span>
      <span class="textoverde3c d16 fuente-bold">
        Punto de Reclamo
      </span>
    </div>
    <br />
  </div>
</div>
<!--/Generar el Breadcrumb-->


<div class="container">
  <div class="col-md-2"></div>
  <div class="col-sm-12 col-md-12 col-md-8">
    <fieldset>
      <form class="form-horizontal" id="Reclamo_Form">
        <div class="row">
          <div class="col-sm-12">
            <div class="textoverde d22">
              Punto de Reclamo (Reclamos, quejas, sugerencias, elogios)
            </div>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            @Html.LabelFor(m => m.TipoComentario, new { @class = "control-label" })
            <div>
              @foreach (var TipoComentario in PTipoComentario)
              {
                @Html.RadioButtonFor(m => m.TipoComentario, TipoComentario.Codigo, new { @class = "checkbox-inline" })
                <label for="@Model.TipoComentario" class="textoplomo8c">@TipoComentario.Descripcion </label>
              }
            </div>
            @Html.ValidationMessageFor(m => m.TipoComentario, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            @Html.LabelFor(m => m.TemaComentario, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.TemaComentario, new SelectList(pTipoTema, "Codigo", "Descripcion"), "SELECCIONE", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.TemaComentario, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-6">
            @Html.LabelFor(m => m.Departamento, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Departamento, new SelectList(pDepartamento, "Codigo", "Descripcion"), "SELECCIONE", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Departamento, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-12">
            @Html.LabelFor(m => m.Comentario, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Comentario, new { @class = "form-control", @maxlength = "200", @rows = "3" })
            @Html.ValidationMessageFor(m => m.Comentario, "", new { @class = "text-danger" })
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-sm-12">
            <span class="textoplomo8c d17">
              Datos Personales
            </span>
            <hr />

          </div>
          <div class="col-sm-12" style="padding:0;margin:0">
            @Html.LabelFor(m => m.Persona.NombreCompleto, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Persona.NombreCompleto, new { @class = "form-control", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.Persona.NombreCompleto, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            @Html.LabelFor(m => m.Persona.NumeroDocumento, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Persona.NumeroDocumento, new { @class = "form-control", @maxlength = "15", @type = "tel" })
            @Html.ValidationMessageFor(m => m.Persona.NumeroDocumento, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-6">
            @Html.LabelFor(m => m.Persona.CodigoExtencionDocumento, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.Persona.CodigoExtencionDocumento, new SelectList(pExtensionDocumento, "Codigo", "Descripcion"), "SELECCIONE LUGAR", new { @class = "form-control  input-sm" })
            @Html.ValidationMessageFor(m => m.Persona.CodigoExtencionDocumento, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            @Html.LabelFor(m => m.Persona.Celular, new { @class = "control-label" })
            <div class="input-group">
              @Html.TextBoxFor(m => m.Persona.Celular, new { @class = "form-control", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @maxlength = "8", @type = "tel" })
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            </div>
            @Html.ValidationMessageFor(m => m.Persona.Celular, "", new { @class = "text-danger" })
          </div>
          <div class="col-sm-6">
            @Html.LabelFor(m => m.Persona.CorreoElectronico, "Correo electrónico", new { @class = "control-label" })
            <div class="input-group">
              @Html.TextBoxFor(m => m.Persona.CorreoElectronico, new { @class = "form-control", @maxlength = "50" })
              <span class="input-group-addon"><i class="glyphicon ">@@</i></span>
            </div>
            @Html.ValidationMessageFor(m => m.Persona.CorreoElectronico, "", new { @class = "text-danger" })
          </div>
        </div>
      </form>
      <br />
      <div class="row">
        <div class="col-sm-12">
          @Html.Recaptcha()
          @Html.ValidationMessage("ReCaptcha")
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12 text-right">
          <button class="btn btn-blanco" onclick="EnviarReclamo(event)">Enviar</button>
          <button class="btn btn-rojo" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-md-2"></div>
</div>
<br />


<script>
  function EnviarReclamo(event) {
    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
    var v = grecaptcha.getResponse();
    if (v.length == 0) {
      swal("Punto de Reclamo", "Por favor realice la verificación de seguridad.", "error");
      return;
    }
    var form = $("#Reclamo_Form");
    form.validate();
    if (form.valid()) {
      var Objeto = {
        a1: $('#TipoComentario:checked').val(),
        a2: $('#TemaComentario').val(),
        a3: $('#Departamento').val(),
        a4: $('#Comentario').val(),
        a5: $('#Persona_NombreCompleto').val(),
        a6: $('#Persona_NumeroDocumento').val(),
        a7: $('#Persona_CodigoExtencionDocumento').val(),
        a8: $('#Persona_Celular').val(),
        a9: $('#Persona_CorreoElectronico').val()
      }
      mostrarcargando("Estamos procesando su solicitud, por favor espere");
      $.ajax({
        async: true,
        cache: false,
        dataType: "html",
        data: Objeto,
        type: 'POST',
        url: '@Url.Action("PuntoReclamo", "Principal")',
        success: function (respuesta) {
          ocultarcargando();
          respuesta = JSON.parse(respuesta);
          if (respuesta.correcto == true) {
            //fbq('track', 'Lead');
            swal({
              title: "Punto de reclamo",
              text: respuesta.mensaje,
              type: "success",
              showCancelButton: false,
              confirmButtonText: 'Aceptar',
            }).then(function () {
              var IndexUrl = '@Url.Action("BancaPersonas", "Principal", new {Id = 1 })';
              window.location.href = IndexUrl;
            });
          }
          else {
            swal({
              title: "Punto de reclamo",
              text: respuesta.mensaje,
              type: "error",
              showCancelButton: false,
              confirmButtonText: 'Aceptar',
            }).then(function () {

            });
          }
        },
        error: function (request, status, error) {
          ocultarcargando();
          var IndexUrl = '@Url.Action("BancaPersonas", "Principal", new {Id = 1 })';
          window.location.href = IndexUrl;
        }
      });
    } else {
      // Muestra mensajes no validos
      MostrarMensajeNoValido();
    }

  }

  function MostrarMensajeNoValido() {
    // Datos no validos
    var blNoValido = false;
    var strError = '';

    if ($('#TipoComentario').valid() == blNoValido) {
      strError += 'Por favor seleccione la clase de comentario'
      $('#TipoComentario').focus();
    } else if ($('#TemaComentario').valid() == blNoValido) {
      strError += 'Por favor seleccione el tema de su comentario'
      $('#TemaComentario').focus();
    } else if ($('#Departamento').valid() == blNoValido) {
      strError += 'Por favor seleccione la ciudad donde se encuentra';
      $('#Departamento').focus();
    } else if ($('#Comentario').valid() == blNoValido) {
      strError += 'Por favor ingrese sus comentarios';
      $('#Comentario').focus();
    } else if ($('#Persona_NombreCompleto').valid() == blNoValido) {
      strError += 'Por favor ingrese nombre completo';
      $('#Persona_NombreCompleto').focus();
    } else if ($('#Persona_NumeroDocumento').valid() == blNoValido) {
      strError += 'Por favor ingrese número de documento';
      $('#Persona_NumeroDocumento').focus();
    } else if ($('#Persona_CodigoExtencionDocumento').valid() == blNoValido) {
      strError += 'Por favor seleccione extención';
      $('#Persona_CodigoExtencionDocumento').focus();
    } else if ($('#Persona_Celular').valid() == blNoValido) {
      strError += 'Por favor ingrese telefono celular';
      $('#Persona_Celular').focus();
    } else if ($('#Persona_CorreoElectronico').valid() == blNoValido) {
      strError += 'Por favor ingrese correo electronico';
      $('#Persona_CorreoElectronico').focus();
    }

    // Verifica si mensaje de error es diferente a vacio
    if (strError != '') {
      swal({
        title: "Punto de reclamo",
        text: strError,
        type: "error",
        showCancelButton: false,
        confirmButtonText: 'Aceptar',
      }).then(function () {
      });
    }
  }

</script>
