﻿@model BNB_PortalExterno.Models.Menu

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.Id : BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS;
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}

@Styles.Render("~/Content/occss")
@Scripts.Render("~/bundles/ocjs")
@Styles.Render("~/Content/swcss")
@Styles.Render("~/Content/fccss")
@if (Model != null)
{
  if (!string.IsNullOrEmpty(Model.Banner))
  {
    <div id="homepage-feature" class="carousel">
      <div class="item" style="background-image:url('@Url.Content(Model.Banner)');background-position:center"></div>
      <div class="izquierda">
        <div class="card-izquierda">
          <div class="notice notice-success">
            <br />
            <img src="~/Images/Rse/Banners/rse-logo.png" />
            <div class="text-center">
              @Html.Raw(Model.TituloBanner)
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <hr class="colored">
    </div>
  }
  else
  {
    <div class="container-fluid">
      <div class="fondo-con-submenu transaparencia-verde">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="text-center">
              <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp;@Html.Raw(Model.TituloBanner) &nbsp;&nbsp;</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <h3 class="textoverde4a">&nbsp;<img src="~/Images/Iconos/rse.png" />&nbsp;BNB <strong>Responsabilidad Social Empresarial</strong>&nbsp;&nbsp;&nbsp;</h3>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="textoplomo8c">
        El Banco Nacional de Bolivia S.A. (BNB) se caracteriza por ser una institución sólida que invariablemente ha actuado eficiente, responsable y transparentemente frente a sus accionistas y clientes, procurando el desarrollo profesional y personal de sus funcionarios y ejecutando proyectos sociales con miras a contribuir al desarrollo del país.
      </p>
      <p class="textoplomo8c">
        A partir de su adhesión al Pacto Global de las Naciones Unidas en el año 2006; de la elaboración de la primera Memoria de Responsabilidad Social Empresarial 2006, publicada en la gestión 2007; y de la aprobación de un Plan Estratégico de RSE elaborado por el BNB con la colaboración de la Fundación COBORSE en 2008, la dirección del banco, asumió el reto de profesionalizar de manera transversal la gestión de la Responsabilidad Social Empresarial (RSE) en la organización.
      </p>
      <p class="textoplomo8c">
        Desde entonces trabaja en la aplicación y gestión de buenas prácticas con miras a cumplir los compromisos asumidos ante sus principales grupos de interés.
      </p>
      <p class="textoplomo8c">
        A través de este espacio, el BNB difunde y promueve sus principales iniciativas en materia de RSE.
      </p>
    </div>
  </div>
</div>

<br />
<div class="container">
  <div class="row">
    <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="snip">
            <img src="~/Images/Inicio/rse/Normativa.jpg" alt="Normativa" />
            <figcaption>
              <img height="70px" width="70px" src="~/Images/Inicio/rse/Normativa-Blanco.png" />
              <div class="col-sm-12">
                <span class="textoplomo78 text-center contenido-inicio">Normativa</span>
              </div>
            </figcaption>
          </figure>
          <div class="snip-detail">
            <h3 class="d20 textoplomo78 text-center"><strong>Normativa</strong></h3>
            <div class="text-center">
              <button class="btn btn-blanco" onclick="window.location.href='@Url.Action("Normativa","Rse",new {Id =BNB_PortalExterno.Models.Constantes.MENU_RSE_NORMATIVA})'">
                <span class="d15">
                  Informate&nbsp;<strong>aquí</strong>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="snip">
            <img src="~/Images/Inicio/rse/Programas.jpg" alt="Programas" />
            <figcaption>
              <img height="70px" width="70px" src="~/Images/Inicio/rse/Programas-Blanco.png" />
              <div class="col-sm-12">
                <span class="textoplomo78 text-center contenido-inicio">Programas</span>
              </div>
            </figcaption>
          </figure>
          <div class="snip-detail">
            <h3 class="d20 textoplomo78 text-center"><strong>Programas</strong></h3>
            <div class="text-center">
              <button class="btn btn-blanco" onclick="window.location.href='@Url.Action("Programas","Rse",new {Id =BNB_PortalExterno.Models.Constantes.MENU_RSE_PROGRAMAS})'">
                <span class="d15">
                  Informate&nbsp;<strong>aquí</strong>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="swiper-container s1" data-aos="fade-up" data-aos-duration="1000">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="snip">
            <img src="~/Images/Inicio/rse/Publicaciones.jpg" alt="Publicaciones" />
            <figcaption>
              <img height="70px" width="70px" src="~/Images/Inicio/rse/Publicaciones-Blanco.png" />
              <div class="col-sm-12">
                <span class="textoplomo78 text-center contenido-inicio">Publicaciones</span>
              </div>
            </figcaption>
          </figure>
          <div class="snip-detail">
            <h3 class="d20 textoplomo78 text-center"><strong>Publicaciones</strong></h3>
            <div class="text-center">
              <button class="btn btn-blanco" onclick="window.location.href='@Url.Action("Publicaciones","Rse",new {Id =BNB_PortalExterno.Models.Constantes.MENU_RSE_PUBLICACIONES })'">
                <span class="d15">
                  Informate&nbsp;<strong>aquí</strong>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <figure class="snip">
            <img src="~/Images/Inicio/rse/PactoGlobal.jpg" alt="Pacto Global" />
            <figcaption>
              <img height="70px" width="70px" src="~/Images/Inicio/rse/PactoGlobal-Blanco.png" />
              <div class="col-sm-12">
                <span class="textoplomo78 text-center contenido-inicio">Pacto Global</span>
              </div>
            </figcaption>
          </figure>
          <div class="snip-detail">
            <h3 class="d20 textoplomo78 text-center"><strong>Pacto Global</strong></h3>
            <div class="text-center">
              <button class="btn btn-blanco" onclick="window.location.href='@Url.Action("PactoGlobal","Rse",new {Id = BNB_PortalExterno.Models.Constantes.MENU_RSE_PACTO_GLOBAL })'">
                <span class="d15">
                  Informate&nbsp;<strong>aquí</strong>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

@Scripts.Render("~/bundles/swjs")
<script>
  var swiper = new Swiper('.s1', {
    pagination: '.swiper-pagination',
    slidesPerView: 2,
    slidesPerColumn: 1,
    paginationClickable: true,
    spaceBetween: 30,
    breakpoints: {
      1024: {
        slidesPerView: 2,
        spaceBetween: 15
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30
      },
      640: {
        slidesPerView: 1.5,
        spaceBetween: 10,
      },
      420: {
        slidesPerView: 1.1,
        spaceBetween: 10
      }
    }
  });
</script>