/*========== START SHADOW LIST ==========*/
.shadow-white,
.shadow-black,
.shadow-blue,
.shadow-green,
.shadow-red,
.shadow-orange {
	text-decoration:none;
}
.shadow-white {
	box-shadow:0px 0px 6px 3px #fff;
	-webkit-box-shadow:0px 0px 6px 3px #fff;
	-moz-box-shadow:0px 0px 6px 3px #fff;
	-o-box-shadow:0px 0px 6px 3px #fff;
	-ms-box-shadow:0px 0px 6px 3px #fff;
}
.shadow-blue {
	box-shadow:0px 0px 6px 3px #38D1F7;
	-webkit-box-shadow:0px 0px 6px 3px #38D1F7;
	-moz-box-shadow:0px 0px 6px 3px #38D1F7;
	-o-box-shadow:0px 0px 6px 3px #38D1F7;
	-ms-box-shadow:0px 0px 6px 3px #38D1F7;
}
.shadow-green {
	box-shadow:0px 0px 6px 3px #AACA37;
	-webkit-box-shadow:0px 0px 6px 3px #AACA37;
	-moz-box-shadow:0px 0px 6px 3px #AACA37;
	-o-box-shadow:0px 0px 6px 3px #AACA37;
	-ms-box-shadow:0px 0px 6px 3px #AACA37;
}
.shadow-red {
	box-shadow:0px 0px 6px 3px #E81750;
	-webkit-box-shadow:0px 0px 6px 3px #E81750;
	-moz-box-shadow:0px 0px 6px 3px #E81750;
	-o-box-shadow:0px 0px 6px 3px #E81750;
	-ms-box-shadow:0px 0px 6px 3px #E81750;
}
.shadow-black {
	box-shadow:0px 0px 6px 3px #444;
	-webkit-box-shadow:0px 0px 6px 3px #444;
	-moz-box-shadow:0px 0px 6px 3px #444;
	-o-box-shadow:0px 0px 6px 3px #444;
	-ms-box-shadow:0px 0px 6px 3px #444;
}
.shadow-orange {
	box-shadow:0px 0px 6px 3px #FF6600;
	-webkit-box-shadow:0px 0px 6px 3px #FF6600;
	-moz-box-shadow:0px 0px 6px 3px #FF6600;
	-o-box-shadow:0px 0px 6px 3px #FF6600;
	-ms-box-shadow:0px 0px 6px 3px #FF6600;
}
/*========== END SHADOW LIST ==========*/
/*========== START HOVER SHADOW LIST ==========*/

.hovershadow-white, .hovershadow-black, .hovershadow-blue, .hovershadow-green, .hovershadow-red, .hovershadow-orange {
	text-decoration:none;
}
.hovershadow-white:hover {
	box-shadow:0px 0px 6px 3px #fff;
	-webkit-box-shadow:0px 0px 6px 3px #fff;
	-moz-box-shadow:0px 0px 6px 3px #fff;
	-o-box-shadow:0px 0px 6px 3px #fff;
	-ms-box-shadow:0px 0px 6px 3px #fff;
}
.hovershadow-blue:hover {
	box-shadow:0px 0px 6px 3px #38D1F7;
	-webkit-box-shadow:0px 0px 6px 3px #38D1F7;
	-moz-box-shadow:0px 0px 6px 3px #38D1F7;
	-o-box-shadow:0px 0px 6px 3px #38D1F7;
	-ms-box-shadow:0px 0px 6px 3px #38D1F7;
}
.hovershadow-green:hover {
	box-shadow:0px 0px 6px 3px #AACA37;
	-webkit-box-shadow:0px 0px 6px 3px #AACA37;
	-moz-box-shadow:0px 0px 6px 3px #AACA37;
	-o-box-shadow:0px 0px 6px 3px #AACA37;
	-ms-box-shadow:0px 0px 6px 3px #AACA37;
}
.hovershadow-red:hover {
	box-shadow:0px 0px 6px 3px #E81750;
	-webkit-box-shadow:0px 0px 6px 3px #E81750;
	-moz-box-shadow:0px 0px 6px 3px #E81750;
	-o-box-shadow:0px 0px 6px 3px #E81750;
	-ms-box-shadow:0px 0px 6px 3px #E81750;
}
.hovershadow-black:hover {
	box-shadow:0px 0px 6px 3px #444;
	-webkit-box-shadow:0px 0px 6px 3px #444;
	-moz-box-shadow:0px 0px 6px 3px #444;
	-o-box-shadow:0px 0px 6px 3px #444;
	-ms-box-shadow:0px 0px 6px 3px #444;
}
.hovershadow-orange:hover {
	box-shadow:0px 0px 6px 3px #FF6600;
	-webkit-box-shadow:0px 0px 6px 3px #FF6600;
	-moz-box-shadow:0px 0px 6px 3px #FF6600;
	-o-box-shadow:0px 0px 6px 3px #FF6600;
	-ms-box-shadow:0px 0px 6px 3px #FF6600;
}

.hovershadow-gray:hover {
	box-shadow:0px 0px 3px 1px #f5f5f5;
	-webkit-box-shadow:0px 0px 3px 1px #f5f5f5;
	-moz-box-shadow:0px 0px 3px 1px #f5f5f5;
	-o-box-shadow:0px 0px 3px 1px #f5f5f5;
	-ms-box-shadow:0px 0px 3px 1px #f5f5f5;
  background-color:#f5f5f5;
  opacity:1;
}

.hover-green:hover {
  color: #AACA37;
}

.hover-orange:hover {
  color: #FF6600;
}
/*========== END HOVER SHADOW LIST ==========*/
/*========== START BACKGROUND LIST ==========*/
/* Solid Colors */
.solid-lightblue { background:#E4F0F7; }
.solid-blue { background:#00BBE2; }
.solid-blue-2 { background:#2C84EE; }
.solid-darkblue { background:#044E94; }
.solid-violetred { background:#781766; }
.solid-red { background:#E51400;}
.solid-red-2 { background:#E81750; }
.solid-pink { background:#FF539B; }
.solid-purple { background:#D02090; }
.solid-orange { background:#FB8F02; }
.solid-orange-2 { background:#FF6600; }
.solid-orange-3 { background:#DD5F37; }
.solid-coral { background:#CD5B45; }
.solid-lightgreen { background:#F5FFFA; }
.solid-green { background:#67B239; }
.solid-green-2 {background:#96BF01; }
.solid-darkgreen { background:#016C38; }
.solid-olive { background:#999900}
.solid-grass { background:#CDCD00; }
.solid-darkred { background:#5F0000; }
.solid-gold { background:#FEE9AE; }
.solid-yellow { background:#F7D100; }
.solid-black { background:#000; }
.solid-smoke { background:#F5F5F5; }
.solid-white { background:#fff; }
.solid-jade { background:#00CE9B; }
.solid-gray { background:#f5f5f5; }
/* End Solid Colors */
/* Transparent Colors */
.transparent-deepsea {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003564, endColorstr=#33003564);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33003564, endColorstr=#33003564)";/* For IE 8*/
	background: rgba(0,53,100,0.2);/* Modern browser */
}
.transparent-smoke {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5f5f5, endColorstr=#33f5f5f5);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5f5f5, endColorstr=#33f5f5f5)";/* For IE 8*/
	background: rgba(245,245,245,0.2);/* Modern browser */
}
.transparent-grass {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CDCD00, endColorstr=#33CDCD00);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CDCD00, endColorstr=#33CDCD00)";/* For IE 8*/
	background: rgba(205,250,0,0.2);/* Modern browser */
}
.transparent-black {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";/* For IE 8*/
	background: rgba(0,0,0,0.2);/* Modern browser */
}
.transparent-red {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000)";/* For IE 8*/
	background: rgba(255,0,0,0.2);/* Modern browser */
}
.transparent-violetred {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33D02090, endColorstr=#33D02090);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33D02090, endColorstr=#33D02090)";/* For IE 8*/
	background: rgba(208,32,144,0.2);/* Modern browser */
}
.transparent-green {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3367B239, endColorstr=#3367B239);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3367B239, endColorstr=#3367B239)";/* For IE 8*/
	background: rgba(103,178,57,0.2);/* Modern browser */
}
.transparent-yellow {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFF00, endColorstr=#33FFFF00);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFF00, endColorstr=#33FFFF00)";/* For IE 8*/
	background: rgba(255,255,0,0.2);/* Modern browser */
}
.transparent-orange { 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FB8F02, endColorstr=#33FB8F02);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FB8F02, endColorstr=#33FB8F02)";/* For IE 8*/
	background: rgba(251,143,2,0.2);/* Modern browser */
}
.transparent-coral {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CD5B45, endColorstr=#33CD5B45);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33CD5B45, endColorstr=#33CD5B45)";/* For IE 8*/
	background: rgba(205,91,69,0.2);/* Modern browser */
}
.transparent-wheat {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33EED8AE, endColorstr=#33EED8AE);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33EED8AE, endColorstr=#33EED8AE)";/* For IE 8*/
	background: rgba(238,216,174,0.2);/* Modern browser */
}
.transparent-redwine {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#338B0000, endColorstr=#338B0000);/* For IE 5.5 - 7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#338B0000, endColorstr=#338B0000)";/* For IE 8*/
	background: rgba(139,0,0,0.2);/* Modern browser */
}
/* End Transparent Colors */
/* Background Images */
.img-wood { background:#FB8F02 url(../images/bg/wood_pattern.jpg) repeat; }
.img-purtywood { background:#FB8F02 url(../images/bg/purty_wood.jpg) repeat; }
.img-woodtexture { background:#FB8F02 url(../images/bg/wood_texture.jpg) repeat; }
.img-darkwood { background:#000 url(../images/bg/dark_wood.jpg) repeat; }
.img-retinawood { background:#FB8F02 url(../images/bg/retina_wood.png) repeat; }
.img-nastyfabric { background:#999 url(../images/bg/nasty_fabric.png) repeat; }
.img-wildoliva { background:#555 url(../images/bg/wild_oliva.png) repeat; }
.img-darkbrick { background:#555 url(../images/bg/dark_brick_wall.png) repeat; }
.img-navyblue { background:#555 url(../images/bg/navy_blue.png) repeat; }
/* End Background Images */
/*========== END BACKGROUND LIST ==========*/
/*========== START TABION ==========*/
.tabion {
	margin:10px 0 20px 0;
	padding:10px 0;
	list-style:none;
	width:100%;
	position:relative;
}
.tabion > li {
	list-style:none;
	display:block;
	position:relative;
	/*width:960px;*/
  width:960px;
	top:0px;
}
.tabtile-small {
	text-align:center;
	cursor:pointer;
	width:90px;
	height:90px;
	margin:0 10px 10px 0;
}

.tabtile-small-right {
  right:0;
	text-align:center;
	cursor:pointer;
	width:90px;
	height:90px;
	margin:0 0 10px 10px;
}


.tabtile-small > i, .tabtile-small > img {
	height:55px !important;
	width:55px !important;
	margin:5px auto 0px;
	position:relative;
	display:block;
}

.tabtile-small-right > i, .tabtile-small-right > img {
	height:55px !important;
	width:55px !important;
	margin:5px auto 0px;
	position:relative;
	display:block;
}


.tabtile-small > span {
	padding-bottom:0px;
	display:block;
	font-size:14px;
	line-height:1;
}
.tabtile-med {
	width:190px;
	height:90px;
	line-height:90px;
	text-align:center;
	cursor:pointer;
	margin:0 10px 10px 0;
}
.tabtile-med > i, .tabtile-med > img {
	vertical-align: middle;
	margin:auto;
	padding:0px 10px;
	position:relative;
	width:48px;
	height:48px !important;
	line-height:1;
}
.tabtile-med > span {
	vertical-align: middle;
	display:inline;
	font-size:18px;
	line-height:1;
}
.tabtile {
	position:absolute;
	display:inline-block;
}
/* Left Positions */
.pos-left-100 { left:100px; }
.pos-left-200 { left:200px; }
.pos-left-300 { left:300px; }
.pos-left-400 { left:400px; }
.pos-left-500 { left:500px; }
.pos-left-600 { left:600px; }
.pos-left-700 { left:700px; }
.pos-left-800 { left:800px; }
.pos-left-900 { left:900px; }

/* rigth Positions */
.pos-right-100 { right:100px; }
.pos-right-200 { right:200px; }
.pos-right-300 { right:300px; }
.pos-right-400 { right:400px; }
.pos-right-500 { right:500px; }
.pos-right-600 { right:600px; }
.pos-right-700 { right:700px; }
.pos-right-800 { right:800px; }
.pos-right-900 { right:900px; }


/* Top Position */
.pos-top-50 { top:50px; }
.pos-top-100 { top:100px; }
.pos-top-150 { top:150px; }
.pos-top-200 { top:200px; }
.pos-top-250 { top:250px; }
.pos-top-300 { top:300px; }
.pos-top-400 { top:400px; }
.pos-top-500 { top:500px; }
.pos-top-600 { top:600px; }
.pos-top-700 { top:700px; }
.pos-top-800 { top:800px; }
.pos-top-900 { top:900px; }
.tab-content {
	position:absolute;
	padding-bottom:20px;
	display:none;
	overflow:hidden;
}
.tab-content > p {
	padding:10px 10px 0 10px;
	font-size:14px;
	/*line-height:1.5;*/
}
.tab-content > .title { 
	font-size:30px;
	text-transform:uppercase;
}
/* Start Clickable Tab */
.tabion > li > input[type=radio]:checked  + div > .tab-content {
	display:block;
  overflow-y:auto;
}

/* Set Active/InActive Tab Button */
.tabtile { /* InActive */
	opacity:0.5;
}
.tabion > li > input[type=radio]:checked + div > .tabtile { /* Active */
	opacity:1;
  background-color: #f5f5f5;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-black {
	box-shadow:0px 0px 6px 3px #111;
	-webkit-box-shadow:0px 0px 6px 3px #111;
	-moz-box-shadow:0px 0px 6px 3px #111;
	-o-box-shadow:0px 0px 6px 3px #111;
	-ms-box-shadow:0px 0px 6px 3px #111;
}

.tabion > li > input[type=radio]:checked + div > .active-sd-white {
	box-shadow:0px 0px 6px 3px #fff;
	-webkit-box-shadow:0px 0px 6px 3px #fff;
	-moz-box-shadow:0px 0px 6px 3px #fff;
	-o-box-shadow:0px 0px 6px 3px #fff;
	-ms-box-shadow:0px 0px 6px 3px #fff;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-blue {
	box-shadow:0px 0px 6px 3px #38D1F7;
	-webkit-box-shadow:0px 0px 6px 3px #38D1F7;
	-moz-box-shadow:0px 0px 6px 3px #38D1F7;
	-o-box-shadow:0px 0px 6px 3px #38D1F7;
	-ms-box-shadow:0px 0px 6px 3px #38D1F7;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-green {
	box-shadow:0px 0px 6px 3px #AACA37;
	-webkit-box-shadow:0px 0px 6px 3px #AACA37;
	-moz-box-shadow:0px 0px 6px 3px #AACA37;
	-o-box-shadow:0px 0px 6px 3px #AACA37;
	-ms-box-shadow:0px 0px 6px 3px #AACA37;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-red {
	box-shadow:0px 0px 6px 3px #E81750;
	-webkit-box-shadow:0px 0px 6px 3px #E81750;
	-moz-box-shadow:0px 0px 6px 3px #E81750;
	-o-box-shadow:0px 0px 6px 3px #E81750;
	-ms-box-shadow:0px 0px 6px 3px #E81750;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-orange {
	box-shadow:0px 0px 6px 3px #FF6600;
	-webkit-box-shadow:0px 0px 6px 3px #FF6600;
	-moz-box-shadow:0px 0px 6px 3px #FF6600;
	-o-box-shadow:0px 0px 6px 3px #FF6600;
	-ms-box-shadow:0px 0px 6px 3px #FF6600;
}
.tabion > li > input[type=radio]:checked + div > .active-sd-gray {
	box-shadow:0px 0px 6px 3px #F5F5F5;
	-webkit-box-shadow:0px 0px 6px 3px #F5F5F5;
	-moz-box-shadow:0px 0px 6px 3px #F5F5F5;
	-o-box-shadow:0px 0px 6px 3px #F5F5F5;
	-ms-box-shadow:0px 0px 6px 3px #F5F5F5;
}
/* CSS3 Animation Effects */
.tabion > li > input[type=radio]:checked + div > .tab-flip {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flip;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flip;
	backface-visibility: visible !important;
	animation-name: flip;
}
.tabion > li > input[type=radio]:checked + div > .tab-flipInX {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInX;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInX;
	backface-visibility: visible !important;
	animation-name: flipInX;
}
.tabion > li > input[type=radio]:checked + div > .tab-flipInY {
	-webkit-backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	-moz-backface-visibility: visible !important;
	-moz-animation-name: flipInY;
	-o-backface-visibility: visible !important;
	-o-animation-name: flipInY;
	backface-visibility: visible !important;
	animation-name: flipInY;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}
.tabion > li > input[type=radio]:checked + div > .tab-fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}

.tabion > li > input[type=radio]:checked + div > .tab-bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	animation-name: bounceIn;
}

.tabion > li > input[type=radio]:checked + div > .tab-bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	animation-name: bounceInUp;
}
.tabion > li > input[type=radio]:checked + div > .tab-bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	animation-name: bounceInDown;
}
.tabion > li > input[type=radio]:checked + div > .tab-bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.tabion > li > input[type=radio]:checked + div > .tab-bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.tabion > li > input[type=radio]:checked + div > .tab-rotateIn {
	-webkit-animation-name: rotateIn;
	-moz-animation-name: rotateIn;
	-o-animation-name: rotateIn;
	animation-name: rotateIn;
}
.tabion > li > input[type=radio]:checked + div > .tab-rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	-moz-animation-name: rotateInUpLeft;
	-o-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft;
}
.tabion > li > input[type=radio]:checked + div > .tab-rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	-moz-animation-name: rotateInDownLeft;
	-o-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft;
}
.tabion > li > input[type=radio]:checked + div > .tab-rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	-moz-animation-name: rotateInUpRight;
	-o-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight;
}
.tabion > li > input[type=radio]:checked + div > .tab-rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	-moz-animation-name: rotateInDownRight;
	-o-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
}
.tabion > li > input[type=radio]:checked + div > .tab-lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    -moz-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}
.tabion > li > input[type=radio]:checked + div > .tab-rollIn {
	-webkit-animation-name: rollIn;
	-moz-animation-name: rollIn;
	-o-animation-name: rollIn;
	animation-name: rollIn;
}
/* End Clickable Tab */
/* Set Height */
.height-380 { height:380px; }
.height-400 { height:400px; }
.height-470 { height:470px; }
.height-490 { height:490px; }
.height-500 { height:500px; }
.height-600 { height:600px; }
/* Close Button */
.closebt {
	position:absolute;
	top:0;
	right:0;
}
.closebt img, .closebt i {
	cursor:pointer;
}
/*===== START RESPONSIVE =====*/
@media screen and (max-width:446px) {
  	.tabion {
		width:100%;
    padding-left:15px;
    padding-right:15px;
    height:auto;
    position:relative;
    overflow:hidden;
	}




    .tab-content {
	position:absolute;
	padding-bottom:0px;
	display:none;
	overflow:hidden;
}

    	.tabion > li {
		position:relative;
		width:100%;
		height:auto;
	}
     .tabtile-small-right, .tabtile-small, .tabtile-med {
		text-align:left;
		width:100%;
		height:38px;
		line-height: normal;
		margin:0;
	}
      .tabtile-small-right > i, .tabtile-small-right > img, 
	.tabtile-small > i, .tabtile-small > img, .tabtile-med > i, .tabtile-med > img {
		vertical-align: middle;
		margin:auto;
		/*padding:0px 10px;*/
		position:relative;
		width:30px !important;
		height:30px !important;
		line-height:1;
		display:inline-block;
	}
	.tabtile-small > span, .tabtile-med > span,.tabtile-small-right > span {
		vertical-align: middle;
		display:inline;
		font-size:18px;
		line-height:1;
	}
	.tabtile {
		position:relative;
		left:0px;
		top:5px;
    padding-top:2px;
	}
	.tab-content {
		position:relative;
		height:250px;
		top:0px;
		left:0px;
    overflow-y:auto;
	}
	.hovershadow-gray:hover {
     box-shadow: 0px 0px 0px 0px #9A9A9A; 
    -webkit-box-shadow: 0px 0px 0px 0px #9A9A9A;
    -moz-box-shadow: 0px 0px 0px 0px #9A9A9A;
    -o-box-shadow: 0px 0px 0px 0px #9A9A9A;
    -ms-box-shadow: 0px 0px 0px 0px #9A9A9A;
}
}


@media screen and (min-width:447px) and (max-width:959px) {
  .tabion {
		width:100%;
    padding-left:10px;
    padding-right:10px;
		height:auto;
		position:relative;
		overflow:hidden;
	}

    .tab-content {
	position:absolute;
	padding-bottom:0px;
	display:none;
	overflow:hidden;
}

    	.tabion > li {
		position:relative;
		width:100%;
		height:auto;
	}
     .tabtile-small-right, .tabtile-small, .tabtile-med {
		text-align:left;
		width:100%;
		height:50px;
		line-height: normal;
		margin:0;
	}
	.tabtile-small- > i, .tabtile-small-right > img,.tabtile-small > i, .tabtile-small > img, .tabtile-med > i, .tabtile-med > img {
		vertical-align: middle;
		margin:auto;
		/*padding:0px 10px;*/
		position:relative;
		width:40px !important;
		height:40px !important;
		line-height:1;
		display:inline-block;
    margin-left:5px;
	}
	.tabtile-small-right > span,.tabtile-small > span, .tabtile-med > span {
		vertical-align: middle;
		display:inline;
		font-size:18px;
		line-height:1;
	}
	.tabtile {
		position:relative;
		left:0px;
		top:5px;
    padding-top:3px;
	}
	.tab-content {
		position:relative;
		height:300px;
		top:0px;
		left:0px;
    overflow-y:auto;
	}
	.hovershadow-gray:hover {
     box-shadow: 0px 0px 0px 0px #9A9A9A; 
    -webkit-box-shadow: 0px 0px 0px 0px #9A9A9A;
    -moz-box-shadow: 0px 0px 0px 0px #9A9A9A;
    -o-box-shadow: 0px 0px 0px 0px #9A9A9A;
    -ms-box-shadow: 0px 0px 0px 0px #9A9A9A;
}


	/*.tabion {
		width:100%;
		height:auto;
		position:relative;
		overflow:hidden;
	}
	.tabion > li {
		position:relative;
		width:100%;
		height:auto;
	}
	
	.tabtile-small, .tabtile-med {
		text-align:left;
		width:100%;
		height:90px;
		line-height:90px;
		margin:0;
	}
	.tabtile-small > i, .tabtile-small > img, .tabtile-med > i, .tabtile-med > img {
		vertical-align: middle;
		margin:auto;
		padding:0px 10px;
		position:relative;
		width:48px !important;
		height:48px !important;
		line-height:1;
		display:inline-block;
	}
	.tabtile-small > span, .tabtile-med > span {
		vertical-align: middle;
		display:inline;
		font-size:18px;
		line-height:1;
	}
	.tabtile {
		position:relative;
		left:0px;
		top:0px;
	}
	.tab-content {
		position:relative;
		height:auto;
		top:0px;
		left:0px;
	}*/
}
/*===== END RESPONSIVE =====*/
/*========== END TABION ==========*/
/* MISC */
.clearspace { clear: both; }
.floatleft { float:left !important; }
.floatright { float:right !important; }
.none { display:none !important; }

.light-text {
	color:#fff;
}
.dark-text {
	color:#1e1e1e;
}
.gradient {
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 00%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
}