﻿@model  BNB_PortalExterno.Models.Menu
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.IdSuperior : 1;
}

@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
@Styles.Render("~/Content/tabs2css")
<link href="~/Content/accordion/accordion-horizontal.css" rel="stylesheet" />
@if (Model != null)
{

  <div id="homepage-feature" class="carousel">
    <div class="item" style="background-image:url('@Url.Content(Model.Banner)')"></div>
    <div class="izquierda">
      <div class="card-izquierda">
        <div class="notice notice-success" id="VivienaSocialContent">
          <h3 class="d38 wsBold bnrTitle">
            Contactos
          </h3>
          <p class="d20 bnrpadTop">Contáctate con nosotros para</p>
          <p class="d20">obtener atención personalizada.</p>
        </div>
      </div>
    </div>
  </div>
}

<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      @foreach (var item in Model.BreadCrumbs.OrderBy(x => x.Id))
      {
        if (item.Id == Model.BreadCrumbs.First().Id)
        {
          <span class="violetClr d16 fuente-bold">
            @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
          </span>
        }
        else
        {
          <a class="textoplomo8c-bc d16" href="@Url.Action(item.Accion, item.Controlador, new { Id = item.Id })">
            @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
          </a>
          <span>|</span>
        }
      }
    </div>
    <br />
  </div>
</div>
<!--/Generar el Breadcrumb-->
<!--Generar el contenido dinamico de acuerdo a parametros-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="tab-119">
          <br>
          <!--Detalle del item-->
          <div class="row">
            <div class="accordion">
              <ul>
                <li>
                  <input type="radio" name="select" class="accordion-select" checked="'checked'">
                  <img class="img-responsive img-accordion" src="~/Images/IconosTabs/contacto.png" />
                  <div class="accordion-title">
                    <span>Contáctanos</span>
                    <div class="caret-accordion"></div>
                  </div>
                  <div class="accordion-content">
                    <ul style=" list-style: disc; margin-left: 20px;">
                        <li>
                            Teléfono: 2079300
                        </li>
                        <li>
                            Horario de atención de Lun-Vie: 09:00 a 17:00
                        </li>
                        <li>
                            Estamos ubicados en Av. Manuel Olguin 501 Edificio Macros Of. 901 - Surco
                        </li>
                    </ul>
                  </div>
                  <div class="accordion-separator"></div>
                </li>
              </ul>
            </div>
          </div>
          <!--/Detalle del item-->

        </div>
      </div>
      <!--/Tab panes -->
    </div>
  </div>
</div>