﻿@model BNB_PortalExterno.Models.Menu
@{
  /**/

  ViewBag.Title = "MenuVivienda";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.IdSuperior : 1;
}
@*@Styles.Render("~/Content/rccss")*@

@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_SECCION_BANCA_PERSONAS });}

@if (Model != null)
{
  <div id="homepage-feature" class="carousel" style="height:350px">
    <div class="item" style="background-image:url('@Url.Content(Model.Banner)');background-position:center"></div>
    <div class="izquierda">
      <div class="card-izquierda">
        <div class="notice notice-success" id="VivienaSocialContent">
          <h3 class="d38 wsBold bnrTitle">
            Clientes
          </h3>
          <h3 class="d38 wsBold">
            Corporativos
          </h3>
        </div>
      </div>
    </div>
  </div>
}

<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      @foreach (var item in Model.BreadCrumbs.OrderBy(x => x.Id))
      {
        if (item.Id == Model.BreadCrumbs.First().Id)
        {
          <span class="violetClr d16 fuente-bold">
            @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
          </span>
        }
        else
        {
          <a class="textoplomo8c-bc d16" href="@Url.Action(item.Accion, item.Controlador, new { Id = item.Id })">
            @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
          </a>
          <span>|</span>
        }
      }
    </div>
    <br />
  </div>
</div>
<!--/Generar el Breadcrumb-->
<!--Generar el contenido dinamico de acuerdo a parametros-->
@if (Model.ItemMenu != null)
{
  int Columnas = 3;
  int Filas = Model.ItemMenu.Count / Columnas + 1;
  int item = -1;
  for (int i = 0; i < Filas; i++)
  {
    <div class="container">
      <div class="row">
        @*<div class="col-sm-2 col-md-2 col-lg-2"></div>*@

        @for (int y = 0; y < Columnas; y++)
        {
          item = item + 1;
          if (Model.ItemMenu.ElementAtOrDefault(item) != null)
          {
            var ItemMenu = Model.ItemMenu.ElementAtOrDefault(item);
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div class="FieldsetImagen" style="border-radius:0px 15px 0px 15px;">
                <h3 class="LegendImagen">
                  @if (ItemMenu.TieneImagen)
                  {
                    <img class="img-responsive img-center" src="@Url.Content(@Url.Content(@ItemMenu.RutaImagen))" />
                  }
                  @*@if (ItemMenu.TieneIcono)
                    {
                      <img class="FieldsetImagenIcon" src="@ItemMenu.RutaIcono" />
                    }*@
                </h3>
                <div class="titulo">
                  <span class="d20 textoplomo8c">
                    @Html.Raw(@ItemMenu.Nombre)
                  </span>
                </div>
                <div class="contenido-medio">
                  <span style="font-size:12px">
                    @ItemMenu.Descripcion
                  </span>
                </div>
                <div class="pie">
                  <a class="btn btnViolet btn-responsive" href="@Url.Action(ItemMenu.Accion, ItemMenu.Controlador, new { Id = ItemMenu.Id })">
                    Saber <strong>más</strong>
                  </a>
                </div>
              </div>
            </div>
          }
          else
          {
            continue;
          }
        }
        @*<div class="col-sm-2 col-md-2 col-lg-2"></div>*@
      </div>
    </div>
  }
}
<!--/Generar el contenido dinamico de acuerdo a parametros-->

<br />
<br />
<br />
