﻿@model BNB_PortalExterno.Models.Menu
@{
  ViewBag.Title = "Vivienda";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/tabs2css")
<link href="~/Content/accordion/accordion-horizontal.css" rel="stylesheet" />
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = BNB_PortalExterno.Models.Constantes.MENU_BANCA_PERSONAS });}

@if (Model != null)
{
  if (!string.IsNullOrEmpty(Model.Banner))
  {
    <div id="homepage-feature" class="carousel">
      <div class="item" style="background-image:url('@Url.Content(Model.Banner)');background-position:center"></div>
      <div class="izquierda">
        <div class="card-izquierda">
          <div class="notice notice-success" id="VivienaSocialContent">
            <h3 class="d38 wsBold bnrTitle">
              .CUSTODIA
            </h3>
            <h3 class="d38 wsBold">
              DE VALORES
            </h3>
            <p class="d16">Pre apruébalo</p>
            <p class="d16">online ahora.</p>
            <p class="d26 fuente-bold hazclick">Haz click</p>
          </div>
          <div>
            <a class="btnGreen btn-lg" href="@Url.Action("BienesAdjudicados","Servicios", new {Id =BNB_PortalExterno.Models.Constantes.ITEM_SERVICIOS_BNB_BIENES_ADJUDICADOS })" target="_parent">
              <strong>
                Para solicitarla
              </strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  }
  else
  {
    <div class="container-fluid">
      <div class="fondo-con-submenu transaparencia-verde">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="text-center">
              <h2 class="textolinea-blanco textoblanco">&nbsp;&nbsp;@Html.Raw(Model.TituloBanner) &nbsp;&nbsp;</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
}

<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      @foreach (var item in Model.BreadCrumbs.OrderBy(x => x.Id))
      {
        if (item.Id == Model.BreadCrumbs.First().Id)
        {
          <span class="textoverde3c d16 fuente-bold">
            @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
          </span>
        }
        else
        {
          <a class="textoplomo8c-bc d16" href="@Url.Action(item.Accion, item.Controlador, new { Id = item.Id })">
            @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
          </a>
          <span>|</span>
        }
      }
    </div>
    <br />
  </div>
</div>
<!--/Generar el Breadcrumb-->
<!--Contenido dinamico del detalle del item-->
@if (Model.DetalleMenuItem != null)
{
  <div class="container">
    <div class="row">
      <div class="col-sm-12">        
        <!-- Tab panes -->
        <div class="tab-content">
          @foreach (var item in Model.DetalleMenuItem.OrderBy(x => x.Id))
          {
            string Activo = string.Empty;
            string check = string.Empty;
            if (item.Id == Model.DetalleMenuItem.First().Id) { Activo = "active"; check = "checked='checked'"; }
            <div class="tab-pane @Activo" id="tab-@item.Id">
              <br />
              <!--Detalle del item-->
              <div class="row">
                <div class="accordion">
                  <ul>
                    <li>
                      <input type="radio" name="select" class="accordion-select" @check />
                      <img class="img-responsive img-accordion" src="~/Images/IconosTabs/beneficios.png" />
                      <div class="accordion-title">
                        <span>Beneficios</span>
                        <div class="caret-accordion"></div>
                      </div>
                      <div class="accordion-content">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="d14 fuente-bold textoverde3c">
                              Descripción
                            </div>
                            <div class="d14 textoplomo8c">
                              @Html.Raw(item.Descripcion)
                            </div>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-12">
                            @if (item.Beneficios != null)
                            {
                              <div class="d14 fuente-bold textoverde3c">
                                Beneficios
                              </div>
                              foreach (var Beneficio in item.Beneficios)
                              {
                                <ul class="d14 textoplomo8c ul-no-ident">
                                  <li>
                                    @Beneficio
                                  </li>
                                </ul>
                              }
                            }
                          </div>
                        </div>
                      </div>
                      <div class="accordion-separator"></div>
                    </li>
                    @if (item.Caracteristicas != null)
                    {
                      <li>
                        <input type="radio" name="select" class="accordion-select" />
                        <img class="img-responsive img-accordion" src="~/Images/IconosTabs/caracteristicas.png" />
                        <div class="accordion-title">
                          <span>Características</span>
                          <div class="caret-accordion"></div>
                        </div>
                        <div class="accordion-content">
                          @foreach (var Caracteristica in item.Caracteristicas)
                          {
                            <div class="col-sm-12 col-md-12">
                              <span class="d14 textoverde3c fuente-bold">@Caracteristica.Encabezado</span><br />
                              @foreach (var Contenido in Caracteristica.Contenidos)
                              {
                                <ul class="d14 textoplomo8c ul-no-ident">
                                  <li>
                                    @Contenido
                                  </li>
                                </ul>
                              }
                            </div>
                          }
                        </div>
                        <div class="accordion-separator"></div>
                      </li>
                    }
                    <li>
                      <input type="radio" name="select" class="accordion-select" />
                      <div class="accordion-title">
                        <img class="img-responsive img-accordion" src="~/Images/IconosTabs/descripcion.png" />
                        <span>Requisitos</span>
                        <div class="caret-accordion"></div>
                      </div>
                      <div class="accordion-content">
                        @foreach (var Requisito in item.Requisitos)
                        {
                          <div class="row">
                            <div class="col-sm-12">
                              <ul class="d14 textoplomo8c ul-no-ident">
                                <li>@Requisito</li>
                              </ul>
                            </div>
                          </div>
                        }
                      </div>
                      <div class="accordion-separator"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <!--/Detalle del item-->


            </div>
          }
        </div>
        <!--/Tab panes -->
      </div>
    </div>
  </div>
}
<!--/Contenido dinamico del detalle del item-->
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="text-center">
        <a class="btn btnViolet btn-lg" href="@Url.Action("Index","Principal")" target="_blank">
          <span class="fuente-bold">Solicita ahora</span>
        </a>
      </div>
    </div>
  </div>
</div>
<br />
@Scripts.Render("~/bundles/tabsjs")