﻿@model  BNB_PortalExterno.Models.Menu
@{ ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
  var IdMenu = Model != null ? Model.IdSuperior : 1; }

@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
@Styles.Render("~/Content/tabs2css")
<link href="~/Content/accordion/accordion-horizontal.css" rel="stylesheet" />
@if (Model != null)
{

<div id="homepage-feature" class="carousel">
  <div class="item" style="background-image:url('@Url.Content(Model.Banner)')"></div>
  <div class="izquierda">
    <div class="card-izquierda">
      <div class="notice notice-success" id="VivienaSocialContent">
        <h3 class="d38 dirtClr wsBold bnrTitle">
          Nosotros
        </h3>
        <p class="d20 bnrpadTop dirtClr">Ofrecemos a nuestros clientes un servicio </p>
        <p class="d20 dirtClr"> financiero integral y especializado.</p>
      </div>
    </div>
  </div>
</div>}

<!--Generar el Breadcrumb-->
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="text-center">
      @foreach (var item in Model.BreadCrumbs.OrderBy(x => x.Id))
      {
        if (item.Id == Model.BreadCrumbs.First().Id)
        {
<span class="violetClr d16 fuente-bold">
  @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
</span> }
else
{
<a class="textoplomo8c-bc d16" href="@Url.Action(item.Accion, item.Controlador, new { Id = item.Id })">
  @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
</a>
          <span>|</span>}
      }
    </div>
    <br />
  </div>
</div>
<!--/Generar el Breadcrumb-->
<!--Generar el contenido dinamico de acuerdo a parametros-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="tab-119">
          <br>
          <!--Detalle del item-->
          <div class="row">
            <div class="accordion">
              <ul>
                <li>
                  <input type="radio" name="select" class="accordion-select" checked="'checked'">
                  <img class="img-responsive img-accordion" src="~/Images/IconosTabs/misionVision.png" />
                  <div class="accordion-title">
                    <span>Misión, Visión y Valores</span>
                    <div class="caret-accordion"></div>
                  </div>
                  <div class="accordion-content">
                    <strong class="greenClr">Misión</strong><br />
                    Ser una sociedad agente de bolsa (SAB), integrante del grupo BNB que actúa como intermediaria en el mercado de valores local y del exterior, brindando servicios de excelencia con  alto valor agregado, cuya misión es GENERAR VALOR para:<br />
                    <strong>Para los clientes,</strong> Reconociéndolos como la razón de ser de la firma y brindándoles soluciones financieras globales, alternativas de inversión y oportunidades de financiamiento en mercados locales y del exterior con las mejores prácticas del mercado.<br />
                    <strong>
                      Para los accionistas,
                    </strong> Fortaleciendo la sociedad y haciéndola crecer, generando negocios rentables y seguros en mercados locales y del exterior<br />
                    <strong>
                      Para los colaboradores,
                    </strong> Ofreciéndoles un ambiente satisfactorio de trabajo así como oportunidades de desarrollo profesional.<br />
                    <strong>Para la sociedad-comunidad,</strong> Contribuyendo activamente al desarrollo de los mercados de valores que participamos y a la integración económica entre los países en que estamos presentes.<br />
                    <br />
                    <strong class="greenClr">Visión</strong><br />
                    Al 2018, ser la agencia de bolsa líder en el negocio de estructuración y colocación de valores para empresas medianas tanto en el mercado alternativo de valores como de otros segmentos de la BVL, ofreciendo a los inversionistas alternativas rentables y novedosas siempre manteniendo las mejores prácticas del mercado
                    <br />
                    <strong class="greenClr">Valores</strong><br />
                    Los valores institucionales que guiaran el funcionamiento y la forma de comportarse de cada uno de los miembros de la organización son los siguientes:<br />
                    <strong>Integridad</strong><br />
                    Actuamos bajo principios éticos y morales que rigen el accionar de todo el personal de la sociedad.<br />
                    <strong>Transparencia</strong><br />
                    Actuamos con claridad.<br />
                    <strong>Responsabilidad</strong><br />
                    Somos responsables por los actos, los recursos utilizados y por los resultados emergentes en el desempeño de las funciones desarrolladas.<br />
                    <strong>Respeto a las Personas</strong><br />
                    Respetamos la dignidad, la diversidad y los derechos de los seres humanos.<br />
                    <strong>Discreción</strong><br />
                    Manejamos nuestras relaciones y operaciones en un ambiente de absoluta discreción precautelando la confidencialidad que demandan nuestros clientes<br />
                    <strong>Proactividad</strong><br />
                    Actuamos con iniciativa en el desarrollo de acciones creativas y audaces para generar valor para nuestros clientes; anticipándonos a proponer alternativas que mitiguen el riesgo de inversión.<br />
                  </div>
                  <div class="accordion-separator"></div>
                </li>
                <li>
                  <input type="radio" name="select" class="accordion-select" checked="'checked'">
                  <img class="img-responsive img-accordion" src="~/Images/IconosTabs/premio.png" />
                  <div class="accordion-title">
                    <span>Emisiones</span>
                    <div class="caret-accordion"></div>
                  </div>
                  <div class="accordion-content">
                    <a class="premio" data-image="AgricolaGanaderaChavin.jpg" href="#">
                      Agricola y Ganadera Chavin
                    </a><br />
                    @*<a class="premio" data-image="Edifica.jpg" href="#">
                        EDIFICA
                      </a><br />
                      <a class="premio" data-image="EdificaCorp.jpg" href="#">
                        EDIFICA CORP.
                      </a><br />*@
                    <a class="premio" data-image="EdpymeGMG.jpg" href="#">
                      EDPYME
                    </a><br />
                    <a class="premio" data-image="FactoringTotal.jpg" href="#">
                      factoring total
                    </a><br />
                    @*<a class="premio" data-image="InmobiliariaEsperanzaReal.jpg" href="#">
                        REAL inmobiliaria y construcción
                      </a><br />*@
                    <a class="premio" data-image="JaimeRojas1.jpg" href="#">
                      A. JAIME ROJAS
                    </a><br />
                    <a class="premio" data-image="JaimeRojas2.jpg" href="#">
                      A. JAIME ROJAS
                    </a><br />
                  </div>
                  <div class="accordion-separator"></div>
                </li>
                @*<li>
                    <input type="radio" name="select" class="accordion-select" checked="'checked'">
                    <img class="img-responsive img-accordion" src="~/Images/IconosTabs/valores.png" />
                    <div class="accordion-title">
                      <span>Valores</span>
                      <div class="caret-accordion"></div>
                    </div>
                    <div class="accordion-content">
                      Los valores institucionales que guiaran el funcionamiento y la forma de comportarse de cada uno de los miembros de la organización son los siguientes:<br />
                      <strong>Integridad</strong><br />
                      Actuamos bajo principios éticos y morales que rigen el accionar de todo el personal de la sociedad.<br />
                      <strong>Transparencia</strong><br />
                      Actuamos con claridad.<br />
                      <strong>Responsabilidad</strong><br />
                      Somos responsables por los actos, los recursos utilizados y por los resultados emergentes en el desempeño de las funciones desarrolladas.<br />
                      <strong>Respeto a las Personas</strong><br />
                      Respetamos la dignidad, la diversidad y los derechos de los seres humanos.<br />
                      <strong>Discreción</strong><br />
                      Manejamos nuestras relaciones y operaciones en un ambiente de absoluta discreción precautelando la confidencialidad que demandan nuestros clientes<br />
                      <strong>Proactividad</strong><br />
                      Actuamos con iniciativa en el desarrollo de acciones creativas y audaces para generar valor para nuestros clientes; anticipándonos a proponer alternativas que mitiguen el riesgo de inversión.<br />
                    </div>
                    <div class="accordion-separator"></div>
                  </li>*@
                <li>
                  <input type="radio" name="select" class="accordion-select" checked="'checked'">
                  <img class="img-responsive img-accordion" src="~/Images/IconosTabs/directorio.png" />
                  <div class="accordion-title">
                    <span>Directorio y plana Gerencial</span>
                    <div class="caret-accordion"></div>
                  </div>
                  <div class="accordion-content">
                    @*<strong>ALVARO JAVIER ZALLES BALLIVIAN</strong> <br />
                      •	Gerente General de BNB Valores Perú SAB, cuenta con la siguiente trayectoria profesional:<br />
                      •	Más de quince años de experiencia en el sector financiero y bancario tanto en el Perú como en Bolivia; cuenta con amplia experiencia en la estructuración y administración crediticia, regulación bancaria, evaluación y gestión de riesgos y el desarrollo de productos financieros.<br />
                      •	Ha desempeñado cargos en diferentes tanto del sector público como privado iniciando su carrera en el sector bancario peruano para luego desempañar funciones en prestigiosas entidades bolivianas:<br />
                      o	Encargado nacional del negocio de Banca Pyme del BNB<br />
                      o	Jefe de crédito de Mutual La Paz.<br />
                      o	Supervisor financiero de la Superintendencia de Bancos de Bolivia.<br />
                      •	Cuenta con estudios de Economía de la Universidad Católica Santa María de Arequipa además de estudios de especialización en ESAN.<br />
                      <br />
                      <br />
                      <strong>
                          SOLANGE ELIZABETH RAMIREZ OLIVA
                      </strong> <br />
                      Cuenta con ocho (8) años de experiencia en el sector financiero. Ha participado en las estructuraciones públicas a través del Mercado Alternativo de Valores – MAV, Mercado primario y estructuraciones privadas desde el año 2013 en BNB Valores Perú. La Sra. Ramírez tiene amplia experiencia en la operativa del mercado de valores. Se desempeñó como Jefe de Operaciones y Tesorería de CA Perú SAB, participó en el proceso de adecuación de KRESE Sociedad de Intermediación de Valores-SIV a Sociedad Agente de Bolsa-SAB, así como labores de Cumplimiento, trabajó como Funcionaria de Operaciones en DIVISO SAB (antes NCF SAB). Adicionalmente ha participado en actividades de planeamiento y control y administración de fideicomisos en La Fiduciaria. Es Licenciada de Administración de Empresas de la Universidad Ricardo Palma, tiene maestría en Finanzas de la Pontificia Universidad Católica del Perú, con estudios de Análisis de Inversión en la Bolsa de Valores de Lima y cuenta con un MBA y un Máster Executive en Dirección y Liderazgo en la UPC.
                      <br />*@

                    <strong>Pablo Marcelo Bedoya Saenz</strong><br />
                    Presidente de Directorio<br />
                    Director Titular<br />
                    Masculino -  Año de nacimiento en 1965<br /><br />
                    <p>El Sr. Bedoya realizó sus estudios universitarios en Administración de Empresas en la Universidad de Jacksonville, Florida, Estados Unidos, y se incorporó al banco en 1987.  Desde entonces ejerció varios cargos en diferentes áreas.</p>
                    <p>En 1994 fue nombrado gerente Oficina La Paz, en el año 1996 gerente regional Occidente y en 1998 gerente regional Oriente. A partir del siguiente año se responsabilizó de la Subgerencia General, hasta abril del 2003, cuando fue nombrado gerente general.</p>
                    <p>En marzo del 2012, el directorio le confió la vicepresidencia ejecutiva y en enero de 2016 es designado presidente del directorio del BNB. Además de sus responsabilidades en el banco, Bedoya ha sido presidente de la Asociación de Bancos Privados de Bolivia.</p>

                    <strong>Edgar Antonio Valda Careaga</strong><br />
                    Vicepresidente del Directorio<br />
                    Director Titular<br />
                    Masculino - Año de nacimiento en 1961<br /><br />
                    <p>El Sr. Valda obtuvo el título de Licenciatura en Administración de Empresas en la Universidad de San Francisco Xavier de Chuquisaca, en Sucre Bolivia. Ha participado de diversos cursos, talleres y seminarios de especialización bancaria, tanto en el país como en el exterior.</p>
                    <p>Se unió al Banco Nacional de Bolivia S.A. en el año 1983 y hasta el año 1990, ocupó distintos cargos operativos y comerciales  en las sucursales de Sucre y Cochabamba. En el año 1991 fue transferido a la ciudad de La Paz como Subgerente Nacional de Finanzas. A partir del año 1992 ocupó el cargo de Gerente Nacional de Finanzas, hasta que en el  año 1998 fue nombrado como Gerente Nacional de Planificación y Control de Gestión. Durante el periodo comprendido entre los años 2000 a 2002 asumió la Gerencia Nacional de Operaciones y Finanzas. A partir del  2003 se responsabiliza de la Subgerencia General hasta el mes de marzo de 2012, mes en el que  asume la Vicepresidencia de Operaciones y Finanzas del BNB, en enero del año 2016 asume la Vicepresidencia Ejecutiva del Banco.</p>
                    <p>Ejerce también la Vicepresidencia del Directorio de las empresas Subsidiarias de grupo BNB;  BNB Valores S.A. Agencia de Bolsa en Bolivia, BNB SAFI S.A. Sociedad Administradora de Fondos de Inversión, BNB Leasing S.A. empresa especializada en Leasing  y BNB Valores Perú, Agencia de Bolsa en la República del Perú.</p>
                    <p>Por varios años fue presidente de la Comisión Técnica de ASOBAN, y durante los últimos tres años fue Vicepresidente del Directorio de ASOBAN. En la gestión 2013 fue Presidente del Directorio de la Empresa Trasportadora de Valores ETV S.A y Vicepresidente del Directorio de la Administradora de Cámaras de Compensación y Liquidación ACCL, finalmente fue presidente de la Asociación de Bancos de Bolivia en la gestión mar 2014 – mar 2016; a la fecha es director de ASOBAN.</p>

                    <strong>Luis Patricio Garrett Mendieta</strong><br />
                    Director titular<br />
                    Masculino - Año de nacimiento en 1964<br /><br />
                    <p>El Sr. Garrett realizó sus estudios en la Universidad del Estado de Utah, Estados Unidos, donde recibió el título de B.S. en Administración de Empresas (Marketing) y B.S. en Economía en el año 1987. Posteriormente realizó estudios de postgrado en España, donde recibió el título de Máster en Administración de Empresas (MBA) de la Universidad Autónoma de Madrid y posteriormente el título de Máster en Relaciones Internacionales de la Universidad Complutense de Madrid.</p>
                    <p>Inició sus actividades en el sistema financiero nacional en el año 1987 en el Banco Mercantil S.A., Sucursal La Paz. Posteriormente se desempeñó como Consultor y Coordinador del proyecto financiado por el  Banco Mundial (reforma del Estado – privatización) en el Ministerio de Planeamiento y Coordinación de Bolivia. Fue Presidente de La Comisión Nacional de Valores, Director Ejecutivo del Ministerio sin Cartera responsable de Capitalización (Banco Mundial 2647 BO), Gerente Regional del Interbanco S.A. en la ciudad de Cochabamba y posteriormente Gerente Nacional de Sucursales del Banco Boliviano Americano S.A. hasta julio del año 2000. En agosto del 2000 se incorporó al Banco Nacional de Bolivia S.A. desempeñando el cargo de Gerente Nacional de Productos y Relaciones Internacionales; a partir del mes de marzo de 2016 asumió el cargo de Vicepresidente de Finanzas e Internacional.</p>
                    <p>Ha sido Presidente de  BNB Valores S.A. Agencia de Bolsa y Presidente de la empresa Administradora de Tarjetas de Crédito (ATC) donde actualmente es Director. Asimismo, es Director de BNB SAFI S.A. y de BNB Leasing S.A. y Presidente de la Comisión de Imagen y Educación Financiera de la Asociación de Bancos Privados de Bolivia (ASOBAN).</p>

                    <strong>Federico Luis Oviedo Vidal</strong><br />
                    Director Independiente<br />
                    Masculino - Año de nacimiento en 1954<br /><br />
                    <p>El Sr. Oviedo es Abogado de profesión de la Pontificia Universidad Católica del Perú, es Director de BNB Valores Perú desde Mayo 2019, y ha sido Director de diferentes compañías como Candente Copper Corp, de Cobriza Metals Corp y de Datos Técnicos a Junio 2009.</p>
                    <p>De Enero 2001 a Junio 2009 ha sido Gerente General de la Bolsa de Valores de Lima, hasta el año 200 Gerente Legal de la Bolsa de Valores de Lima.</p>
                    <p>Desde 1987 hasta 2009 integró diversas comisiones de trabajo en la Federación Iberoamericana de Bolsas de Valores. Adicionalmente he sido expositor en diversos foros nacionales e internacionales en materias vinculadas a mercado de valores y Gobierno Corporativo, entre otras. Partícipe en las diversas comisiones de reforma de la Ley del Mercado de Valores de 1984 al 2009.</p>
                    <p>De otro lado dictó el curso de Mercado de Valores en la Facultad de Derecho de la Universidad de Piura 1994-2004. Asimismo integre el Tribunal de Defensa de la Competencia de Octubre 2000 a ENERO 2001.</p>


                    <strong>Eduardo Bedoya Corujo</strong><br />
                    Director suplente<br />
                    Masculino - Año de nacimiento en 1988<br /><br />
                    <p>
                      El Sr. Bedoya Corujo realizó sus estudios en el Centro de Estudios Macroeconómicos de Argentina UCEMA en el año 2013. Posteriormente realizó un MBA en el Instituto de Empresa en Madrid, España.
                    </p>
                    <p>
                      Se desempeño como Gerente de Operaciones en Bedmont Investment Funds desde 2016 al 2021, ejerció como Gerente General en Metalex, en enero de 2021 asume como director de Bedmont Investment Funds hasta la actualidad.
                    </p>
                    <p>
                      En enero de 2019 asume como miembro del directorio de BNB SAFI, BNB Agencia de Bolsa, posterior a ello en enero 2020 asume como director suplente del Banco Nacional de Bolivia hasta enero del 2022.
                    </p>
                    <p>
                      Ejerció la Gerencia administrativa y financiera de Agrosem de desde octubre 2021 hasta la actualidad.
                    </p>
                    <p>
                      En enero de 2022 asume como director suplente de BNB Valores Perú SA SAB.
                    </p>
                    <br /><br />

                    <strong>Álvaro Javier Zalles Ballivian</strong><br />
                    Gerente General de BNB Valores Perú SAB.<br /><br />
                    <p>Cuenta con la siguiente trayectoria profesional:</p>
                    • Más de quince años de experiencia en el sector financiero y bancario tanto en el Perú como en Bolivia; cuenta con amplia experiencia en la estructuración y administración crediticia, regulación bancaria, evaluación y gestión de riesgos y el desarrollo de productos financieros.<br />
                    • Ha desempeñado cargos en diferentes tanto del sector público como privado iniciando su carrera en el sector bancario peruano para luego desempañar funciones en prestigiosas entidades bolivianas:<br />
                    o Encargado nacional del negocio de Banca Pyme del BNB.<br />
                    o Jefe de crédito de Mutual La Paz.<br />
                    o Supervisor financiero de la Superintendencia de Bancos de Bolivia.<br />
                    • Cuenta con estudios de Economía de la Universidad Católica Santa María de Arequipa además de estudios de especialización en ESAN.<br /><br />

                    <strong>Betsy Ruth Palomino Achulla</strong><br />
                    Subgerente Legal<br />
                    Femenino - Año de nacimiento en 1990<br /><br />
                    <p>
                      Abogada especialista en Derecho Corporativo por la Universidad San Martin de Porres. Master en Finanzas y Derecho Corporativo con mención en Banca y Estructuración Financiera de la Universidad ESAN. Cuenta también con un Diplomado de Especialización en Finanzas y Derecho Europeo por la Universidad Carlos III de Madrid. Con experiencia en funciones de asesoría legal en el sector financiero; asesoría legal en el sector bursátil y mercado de capitales; prevención de lavado de activos y financiamiento del terrorismo; entre otros.
                    </p>
                    <br /><br />

                    <strong>Ricardo Gustavo Morales Briceño</strong><br />
                    Subgerente de Operaciones<br />
                    Masculino - Año de nacimiento en 1986<br /><br />
                    <p>
                      Economista por la Pontificia Universidad Católica del Peru, con más de 10 años experiencia en el Sector Financiero, principalmente en CAVALI I.C.L.V. (Registro Central de Valores y Liquidaciones). Adicionalmente, brinda asesorías financieras para la evaluación de proyectos de inversión, así como en valorización de empresas.
                    </p>

                  </div>
                  <div class="accordion-separator"></div>
                </li>
              </ul>
            </div>
          </div>
          <!--/Detalle del item-->

        </div>
      </div>
      <!--/Tab panes -->
    </div>
  </div>
</div>
<script>
  $(document).on('click', '.premio', function () {
    var route = '<button type="button" class="close-derecha" data-dismiss="modal" aria-label="Close" style="padding-top:20px;padding-right:30px"><span aria-hidden="true">×</span></button>'
    route += '<img src="../../Images/' + $(this).data('image') + '" />';
    $('#ModalGenericoContent').html(route);
    $('#ModalGenerico').modal('show');
  });


</script>