﻿
@{
 ViewBag.Title = "Noticias";
 Layout = "~/Views/Shared/_Layout.cshtml";
 var IdMenu = Model != null ? Model.IdSuperior : 1;
}
@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
<div class="container-green">
 <h1>Noticias</h1>
</div>

<div class="container">
    <div class="container-shadown" style="padding:40px 40px;">

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia37.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia37.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia37.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia37.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia37.png" href="~/Images/Noticias/noticia37.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia36.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia36.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia36.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia36.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia36.png" href="~/Images/Noticias/noticia36.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>


        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia35.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia35.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia35.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia35.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia35.png" href="~/Images/Noticias/noticia35.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia34.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia34.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia34.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia34.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia34.png" href="~/Images/Noticias/noticia34.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia33.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia33.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia33.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia33.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia33.png" href="~/Images/Noticias/noticia33.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia32.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia32.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia32.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia32.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia32.png" href="~/Images/Noticias/noticia32.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia31.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia31.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia31.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia31.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia31.png" href="~/Images/Noticias/noticia31.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia30.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia30.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia30.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia30.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia30.png" href="~/Images/Noticias/noticia30.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>




        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia29.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia29.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia29.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia29.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia29.png" href="~/Images/Noticias/noticia29.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia28.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia28.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia28.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia28.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia28.png" href="~/Images/Noticias/noticia28.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>


        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia27.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia27.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia27.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia27.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia27.png" href="~/Images/Noticias/noticia27.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia26.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia26.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia26.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia26.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia26.png" href="~/Images/Noticias/noticia26.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia25.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia25.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia25.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia25.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia25.png" href="~/Images/Noticias/noticia25.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia24.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia24.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia24.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia24.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia24.png" href="~/Images/Noticias/noticia24.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia23.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia23.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia23.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia23.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia23.png" href="~/Images/Noticias/noticia23.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia22.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia22.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia22.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia22.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia22.png" href="~/Images/Noticias/noticia22.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia21.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia21.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia21.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia21.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia21.png" href="~/Images/Noticias/noticia21.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia20.png" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia20.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia20.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia20.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <a class="d15 violetClr wsBold" style="cursor:pointer;" href="https://lnkd.in/eR6Qe7WW" target="_blank">
                            Programa
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="d15 violetClr wsBold" style="cursor:pointer;" href="https://lnkd.in/enG44uZV" target="_blank">
                            Inversión
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="d15 violetClr wsBold" style="cursor:pointer;" href="https://lnkd.in/evGbENDf" target="_blank">
                            Inscripción
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <a download="noticia20.png" href="~/Images/Noticias/noticia20.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia19.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia19.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia19.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia19.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia19.png" href="~/Images/Noticias/noticia19.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia18.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia18.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia18.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia18.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia18.png" href="~/Images/Noticias/noticia18.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia17.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia17.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia17.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia17.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia17.png" href="~/Images/Noticias/noticia17.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia16.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia16.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia16.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia16.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia16.png" href="~/Images/Noticias/noticia16.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia15.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia15.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia15.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia15.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia15.png" href="~/Images/Noticias/noticia15.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia14.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia14.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia14.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia14.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia14.png" href="~/Images/Noticias/noticia14.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia13.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia13.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia13.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia13.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia13.png" href="~/Images/Noticias/noticia13.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia12.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia12.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia12.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia12.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia12.png" href="~/Images/Noticias/noticia12.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>



        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia11.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia11.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia11.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia11.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia11.png" href="~/Images/Noticias/noticia11.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>


        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia10.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia10.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia10.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia10.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia10.png" href="~/Images/Noticias/noticia10.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia9.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia9.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia9.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia9.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia9.png" href="~/Images/Noticias/noticia9.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia8.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia8.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia8.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia8.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia8.png" href="~/Images/Noticias/noticia8.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>


        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia7.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia7.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia7.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia7.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia7.png" href="~/Images/Noticias/noticia7.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>


        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia6.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia6.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia6.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia6.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia6.png" href="~/Images/Noticias/noticia6.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia5.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia5.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia5.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia5.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia5.png" href="~/Images/Noticias/noticia5.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia4.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia4.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia4.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia4.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia4.png" href="~/Images/Noticias/noticia4.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia3.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia3.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia3.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia3.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia3.png" href="~/Images/Noticias/noticia3.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia1.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia1.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia1.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia1.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia1.png" href="~/Images/Noticias/noticia1.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>

        <div class="container-noticias">
            <img src="~/Images/Noticias/noticia2.png" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="container-share">
                    <span>Compartir: </span>
                    <a onclick="CompartirFacebook('/Images/Noticias/noticia2.png')"><img src="~/Images/Iconos/RedesSociales/fb-share.svg" /></a>
                    <a onclick="CompartirTwitter('/Images/Noticias/noticia2.png')"><img src="~/Images/Iconos/RedesSociales/tw-share.svg" /></a>
                    <a onclick="CompartirLinkedin('/Images/Noticias/noticia2.png')"><img src="~/Images/Iconos/RedesSociales/in-share.svg" /></a>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a download="noticia2.png" href="~/Images/Noticias/noticia2.png" class="d15 violetClr wsBold" style="cursor:pointer;">
                    Descargar
                </a>
            </div>
        </div>
    </div>
</div>

<script>
 var urlactual = document.createElement("textarea");
 document.body.appendChild(urlactual);
 urlactual.value = window.location.href;
 document.body.removeChild(urlactual);

 function CompartirFacebook(link) {
   url = urlactual.value.replace('/ValoresPeru/Noticias/14', '') + link;

  window.open("https://www.facebook.com/sharer/sharer.php?u=" + escape(url) + "&t=" + '', '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;

 }

 function CompartirTwitter(link) {
   url = urlactual.value.replace('/ValoresPeru/Noticias/14', '') + link;
  window.open('http://twitter.com/share?url=' + url, 'Twitter share', 'width=600,height=300,left=' + (screen.availWidth / 2 - 300) + ',top=' + (screen.availHeight / 2 - 150) + ''); return false;
  obj.href = url;
 }
 function CompartirLinkedin(link) {
   url = urlactual.value.replace('/ValoresPeru/Noticias/14', '') + link;
  window.open('http://www.linkedin.com/shareArticle?url=' + url, 'Twitter share', 'width=600,height=300,left=' + (screen.availWidth / 2 - 300) + ',top=' + (screen.availHeight / 2 - 150) + ''); return false;
  obj.href = url;
 }
</script>