﻿@model  BNB_PortalExterno.Models.Menu
@{
 ViewBag.Title = "Index";
 Layout = "~/Views/Shared/_Layout.cshtml";
 var IdMenu = Model != null ? Model.IdSuperior : 1;
}

@{Html.RenderAction("_HeaderSection", "Principal", new { Id = IdMenu });}
@Styles.Render("~/Content/tabs2css")
<link href="~/Content/accordion/accordion-horizontal.css" rel="stylesheet" />
@if (Model != null)
{

 <div id="homepage-feature" class="carousel">
  <div class="item" style="background-image:url('@Url.Content(Model.Banner)')"></div>
  <div class="izquierda">
   <div class="card-izquierda">
    <div class="notice notice-success" id="VivienaSocialContent">
     <h3 class="d38 wsBold bnrTitle">
      Registro Clientes
     </h3>
     <p class="d20 bnrpadTop">Obtén la documentación </p>
     <p class="d20">necesaria para registrarte.</p>
    </div>
   </div>
  </div>
 </div>
}

<!--Generar el Breadcrumb-->
<div class="row">
 <div class="col-sm-12 col-md-12 col-lg-12">
  <br />
  <div class="text-center">
   @foreach (var item in Model.BreadCrumbs.OrderBy(x => x.Id))
   {
    if (item.Id == Model.BreadCrumbs.First().Id)
    {
     <span class="violetClr d16 fuente-bold">
      @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
     </span>
    }
    else
    {
     <a class="textoplomo8c-bc d16" href="@Url.Action(item.Accion, item.Controlador, new { Id = item.Id })">
      @item.Desripcion.Replace("<br/>", " ").Replace("<strong>", "").Replace("</strong>", "")&nbsp;
     </a>
     <span>|</span>
    }
   }
  </div>
  <br />
 </div>
</div>
<!--/Generar el Breadcrumb-->
<!--Generar el contenido dinamico de acuerdo a parametros-->
<div class="container">
 <div class="row">
  <div class="col-sm-12">

   <!-- Tab panes -->
   <div class="tab-content">
    <div class="tab-pane active" id="tab-119">
     <br>
     <!--Detalle del item-->
     <div class="row">
      <div class="accordion">
       <ul>
        <li>
         <input type="radio" name="select" class="accordion-select" checked="'checked'">
         <img class="img-responsive img-accordion" src="~/Images/IconosTabs/caracteristicas.png" />
         <div class="accordion-title">
          <span>Documentos</span>
          <div class="caret-accordion"></div>
         </div>
         <div class="accordion-content">
          <a href="~/Documentos/RequisitosparaserCliente.pdf" target="_blank">Requisitos para ser Cliente</a> <br />
          <a href="~/Documentos/PoliticadeClientes.pdf?v7" target="_blank">Politica de Clientes</a><br />
          @*<a href="~/Documentos/ContratodeIntermediacion.pdf" target="_blank">Contrato de Intermediación Persona Natural</a><br />
           <a href="~/Documentos/ContratodeIntermediacionMancomunada.pdf" target="_blank">Contrato de Intermediación Cuenta Mancomunada</a><br />
           <a href="~/Documentos/CuestionarioCumplimientodeSujetosObligados.pdf" target="_blank">Cuestionario Cumplimiento de Sujetos Obligados</a><br />
           <a href="~/Documentos/DeclaracionJuradadeSituacionPatrimonial-PersonaJuridica.pdf" target="_blank">Declaracion Jurada de Situacion Patrimonial - Persona Juridica</a><br />
           <a href="~/Documentos/DeclaracionJuradadeSituacionPatrimonial-PersonaNatural.pdf" target="_blank">Declaracion Jurada de Situacion Patrimonial - Persona Natural</a><br />
           <a href="~/Documentos/FichadeRepresentantes.pdf" target="_blank">Ficha de Representantes</a><br />
           <a href="~/Documentos/FormatodeAccesoWeb.pdf" target="_blank">Formato de Acceso Web</a><br />
           <a href="~/Documentos/FormatodeOrden.pdf" target="_blank">Formato de Orden</a><br />
           <a href="~/Documentos/PerfildeRiesgo.pdf" target="_blank">Perfil de Riesgo</a><br />*@
          <a href="~/Documentos/REQUISITOS_CLIENTE_PERSONA_NATURAL_INDIVIDUAL.zip" target="_blank">Requisitos Cliente Persona Natural Individual</a><br />
          <a href="~/Documentos/REQUISITOS_CLIENTE_PERSONA_JURIDICA.zip" target="_blank">Requisitos Cliente Persona Jurídica</a><br />
          <a href="~/Documentos/REQUISITOS_CLIENTE_PERSONA_NATURAL_MANCOMUNADO.zip" target="_blank">Requisitos Cliente Persona Natural Mancomunado</a><br />
         </div>
         <div class="accordion-separator"></div>
        </li>
       </ul>
      </div>
     </div>
     <!--/Detalle del item-->

    </div>
   </div>
   <!--/Tab panes -->
  </div>
 </div>
</div>