﻿
#homepage-feature {
    height: 600px !important;
}

.contenido-medio span {
    font-size: 12px;
}

.contenido-minimo span {
    font-size: 12px;
}


.greenBg {
    background-color: #26B460;
}

.violetBg {
    background-color: #694780;
}

.greenClr {
    color: #26B460;
}

.violetClr {
    color: #694780;
}

.dirtClr {
    color: #7B7B7B;
}

.gray1Clr {
    color: #656565;
}

.notice p {
    margin: 0px;
}

    .notice p.hazclick {
        margin: 30px 0px;
    }


.containerForm {
    border-radius: 0px 20px 0px 20px;
}

.btnWhite, .btnWhite:visited {
    vertical-align: middle;
    background-color: white;
    color: #26B460;
    min-width: 110px;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top: 1px;
    border-radius: 0px 6px 0px 6px;
}

.btnViolet, .btnViolet:visited {
    vertical-align: middle;
    background-color: #694780;
    color: white;
    min-width: 110px;
    margin-bottom: 1px;
    margin-top: 1px;
    border-radius: 0px 6px 0px 6px;
}

.btnGreen, .btnGreen:visited {
    vertical-align: middle;
    background-color: #26B460;
    color: white;
    min-width: 110px;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top: 1px;
    border-radius: 0px 6px 0px 6px;
}

#navHeader {
    padding-top: 2.5%;
    padding-left: 8%;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

    #navHeader > li > a {
        position: relative;
        display: block;
        padding: 0px 10px;
    }

        #navHeader > li > a.linkHeader,
        #navHeader > li > a.linkHeader:visited {
            color: white;
            border-right: 0.5px solid white;
        }

    #navHeader > li:first-child > a.linkHeader,
    #navHeader > li:first-child > a.linkHeader:visited {
        border-left: 0.5px solid white;
    }

    #navHeader > li > span {
        border-left: 1px solid white;
        margin-top: 10px;
    }

.navbarbtn {
    display: inline-flex;
    margin-left: -155px;
    padding-top: 18px;
    color: white;
}


.swiper-container.swiper-hero .swiper-wrapper .swiper-slide .swiper-slide__content {
    background-color: none !important;
}

.wsBold {
    font-family: WorkSans-Bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

.wsExtraBold {
    font-family: WorkSans-ExtraBold
}

.greenCardText {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.subMenuItembnb {
    color: #694780 !important;
}

    .subMenuItembnb:hover {
        color: white !important;
    }

.navbarsubsection-seleccionado.subMenuItembnb {
    color: white !important;
}

.bnrTitle {
    margin-top: 5px;
}

.bnrpadTop {
    margin-top: 20px !important;
}

.popupinicio {
    padding: 50px;
    width: 700px;
}

    .popupinicio img {
        height: 110px;
    }

@media only screen and (max-width: 750px) {
    .popupinicio {
        width: 100vw;
        padding: 20px;
    }

        .popupinicio img {
            height: 80px;
        }
}


.form-reclamos{

}
.form-reclamos label{
    font-weight:normal;
}
.form-reclamos .formgroup{
    display:grid;
    margin:15px 0;
}
    .form-reclamos input {
        border-radius: 0 10px;
        box-shadow: inset 0 0 0 1px #AAA;
        border-color: white;
        border-style:solid;
        padding: 7px;
    }

    .form-reclamos select {
        border-radius: 0 10px;
        box-shadow: inset 0 0 0 1px #AAA;
        border-color: white;
        border-style: solid;
        padding: 7px;
    }

    .form-reclamos textarea {
        border-radius: 0 10px;
        box-shadow: inset 0 0 0 1px #AAA;
        border-color: white;
        border-style: solid;
        resize: none;
        min-height: 150px;
    }


.container-shadown {
 border-radius: 40px;
 box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
 padding: 80px 40px;
 margin: 30px 0px;
 text-align: center;
 font-family: WorkSans-Regular;
 display: inline-block;
}

 .container-shadown h1 {
  font-size: 30px;
  color: #B3B3B3;
  margin: 20px 0 !important;
 }

 .container-shadown h2 {
  font-size: 20px;
  color: #B3B3B3;
  margin: 20px 0 !important;
  margin: 0 50px !important;
 }

 .container-shadown hr {
  border-top: solid 1px #000;
  margin: 30px 0 60px 0;
 }

.container-noticias {
 padding:15px;
 box-shadow: 0px 0px 0px 2px rgba(224, 224, 230, 1);
 margin-bottom: 30px;
 text-align: justify;
 cursor: pointer;
}

 .container-noticias .img-banner {
  width: 100%;
  height: 350px;  
 }

 .container-noticias h1 {
  margin: 20px 0px 0px 0px !important;
  font-weight: bold;
  color: #8D8D8D !important;
  font-size: 60px;
  padding: 0 30px;
  text-align: left;
 }

 .container-noticias h2 {
  margin: 20px 0px 0px 0px !important;
  font-weight: bold;
  color: #8D8D8D !important;
  font-size: 30px;
  padding: 0 30px;
 }
 .container-noticias img {
  width:100%;
 }

.container-green {
 text-align: center;
 width: 100%;
 padding: 20px;
 color: white;
 font-size: 25px;
 background: #2BB461;
}

.container-share {
 display: inline-flex;
 width: 100%;
 text-align: left;
 align-items: center;
 margin-bottom: 90px;
}

 .container-share a {
  cursor: pointer;
 }

 .container-share img {
  height: 40px;
  margin: 0 10px 0px 0;
 }

 .container-share span {
  color: #8D8D8D;
  font-size: 22px;
  margin-right: 10px;
 }