﻿.snip {
  background-color: #fff;
  color: #444;
  display: block;
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left:auto;
  margin-right:auto;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-left:1px solid rgba(0, 0, 0, 0.2);
  border-right:1px solid rgba(0, 0, 0, 0.2);
  border-top:1px solid rgba(0, 0, 0, 0.2);
}

.snip-detail {
  color: #444;
  display: block;
  font-size: 24px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:15px;
  top:-12px;
  border-left:1px solid rgba(0, 0, 0, 0.2);
  border-right:1px solid rgba(0, 0, 0, 0.2);
  border-bottom:1px solid rgba(0, 0, 0, 0.2);
  padding-top:0px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.snip-detail h3 {
  margin-top: 15px;
 margin-bottom: 15px;
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip:after {
  /*background-color: rgba(39, 162, 56, 0.5);*/
  background-color: rgba(0, 0, 0, 0.2);
  height: 150%;
  bottom: -145%;
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.snip img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip h3 span {
  display: block;
  font-weight: 700;
}

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip:hover > img,
.snip.hover > img {
  opacity: 0.1;
}

.snip:hover:after,
.snip.hover:after {
  bottom: 95%;
}

.snip:hover figcaption,
.snip.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
