﻿figure.snip-sc {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip-sc * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip-sc img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip-sc figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip-sc h2,
figure.snip-sc h4 {
  margin: 0;
}
figure.snip-sc h2 {
  font-weight: 600;
}
figure.snip-sc h4 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip-sc i {
  font-size: 32px;
}
figure.snip-sc:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  left: 50px;
  right: 50px;
  bottom: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
  border-radius: 150px;
  padding: 20px;
}
figure.snip-sc a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip-sc:hover figcaption,
figure.snip-sc.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip-sc:hover:after,
figure.snip-sc.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.2;
}