﻿@font-face {
  font-family: WorkSans-Black;
  src: url('../fonts/Work_Sans/WorkSans-Black.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-Bold;
  src: url('../fonts/Work_Sans/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-ExtraBold;
  src: url('../fonts/Work_Sans/WorkSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-ExtraLight;
  src: url('../fonts/Work_Sans/WorkSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-Light;
  src: url('../fonts/Work_Sans/WorkSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-Medium;
  src: url('../fonts/Work_Sans/WorkSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-Regular;
  src: url('../fonts/Work_Sans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-SemiBold;
  src: url('../fonts/Work_Sans/WorkSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: WorkSans-Thin;
  src: url('../fonts/Work_Sans/WorkSans-Thin.ttf') format('truetype');
}

body {
  font-family: WorkSans-Regular !important;
  text-justify: inter-word;
  line-height: normal !important;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.no-padding-lateral {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-lateral {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-right: -0px !important;
  margin-left: -0px !important;
}
/*=====================================Codigo de colores=====================================*/
.fondoverde {
  background-color: #0C7F32;
  color: #fff;
}

.fondoplomo {
  background-color: #f4f4f4;
}

.fondonaranja {
  background-color: #f49600;
}

.fondoplomo-claro {
  background-color: #e5e5e5;
}

.textoverde {
  color: #0C7F32;
}

.textoverde4a {
  color: #52ac4a;
}

.textoverde3c {
  color: #26B460;
}

.textoverdeclaro {
  color: #2CA734;
}

.textoverde38 {
  color: #26B460;
}

.textovioleta {
  color: #723c90;
}

.textoazulclaro {
  color: #38aedc;
}

.textonaranja {
  color: #ff7e35;
}

.textoblanco, .textoblanco:hover, .textoblanco:visited {
  color: #fff !important;
  text-decoration: none !important;
}

.textoplomo {
  color: #9A9A9A;
}

.textoplomo8c {
  color: #8b8b8c;
}

.textoplomo8c-bc, .textoplomo8c-bc:visited {
  color: #8b8b8c;
  text-decoration: none !important;
}

  .textoplomo8c-bc:hover {
    color: #477e3c;
    text-decoration: none !important;
  }

.textoplomo3d {
  color: #3d3d3d;
}

.textoplomo9d {
  color: #9d9d9d;
}

.textoplomo78 {
  color: #787878;
}

.textoplomooscuro {
  color: #636363;
}
/*=====================================/Codigo de colores=====================================*/

/*=====================================configuracion de tamaños y tipos de letras =====================================*/
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.fuente-normal {
  font-family: WorkSans-Regular !important;
  line-height: normal !important;
}

.fuente-bold {
  font-family: WorkSans-Regular !important;
  line-height: normal !important;
}

.fuente-cursiva {
  font-family: WorkSans-Thin !important;
  font-style: italic;
  line-height: normal !important;
}

.listasinmarcas {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  padding-bottom: 1px;
}

.textoestandar {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
}
/*=====================================/configuracion de tamaños y tipos de letras =====================================*/
.lineaverde {
  border: 1px solid #0C7F32;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.lineaderecha {
  border-right: 1px solid #0C7F32;
}

.lineaderecha-plomo {
  border-right: 1px solid #e5e5e5;
}

.lineaizquierda {
  border-right: 1px solid #0C7F32;
}
/*============================================Efecto linea =====================================*/
.colored {
  margin-top: 0px;
  margin-bottom: 5px;
  height: 11px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 0px;
  background-image: linear-gradient(to right, #008C4D, #008B4D 10%, #00AE3F 20%, #00AE3F 20%, #00AE3F 50%, #00AE3F 60%, #EFF2EF 75%, #EFF2F0 87.5% );
  background-origin: content-box;
  background-size: 100%;
}
/*============================================/Efecto linea =====================================*/
/*============================================Imagenes con texto===========================================*/
.vertical-align {
  display: table;
  width: 100%;
  height: 100%;
}

  .vertical-align .align-middle {
    vertical-align: middle;
  }

.notice-sm {
  padding: 10px;
  font-size: 80%;
}

.notice-lg {
  padding: 35px;
  font-size: large;
}

@media only screen and (max-width: 466px) {
  .notice-success {
    /*border-color: #27A238;
    color: #00a541;*/
    border-color: #8b8b8c;
    color: #8b8b8c;
  }

  /*.notice {
    padding: 5px;
    /*border-left: 6px solid #00a541;*/
  border-left: 6px solid #8b8b8c;
  margin-bottom: 5px;
}

*/

#clickImg {
  background: url(../Images/IconosTabs/hazClickVerde.png) center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#passImg {
  background: url(../Images/IconosTabs/bnbPass-plomo.png) center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  height: 40px;
}

}

@media (min-width: 467px) and (max-width: 767px) {
  .notice-success {
    /*border-color: #27A238;
    color: #27A238;
    */
    border-color: #8b8b8c;
    color: #8b8b8c;
  }

  /*.notice {
    padding: 5px;
    border-left: 6px solid #8b8b8c;
    margin-bottom: 5px;
  }*/

  #clickImg {
    background: url(../Images/IconosTabs/hazClickVerde.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #passImg {
    background: url(../Images/IconosTabs/bnbPass-plomo.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 60px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .notice-success {
    border-color: #fff;
    color: #ffffff;
  }

  .notice {
    /*padding: 5px;
    border-left: 6px solid #ffffff;*/
    margin-bottom: 5px;
  }

  #clickImg {
    background: url(../Images/IconosTabs/hazClick.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #passImg {
    background: url(../Images/IconosTabs/bnbPass.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 60px;
  }
}

@media (min-width: 981px) and (max-width:1199px) {
  .notice-success {
    border-color: #fff;
    color: #ffffff;
  }

  /*.notice {
    padding: 15px;
    border-left: 6px solid #fff;
    margin-bottom: 5px;
  }*/

  #clickImg {
    background: url(../Images/IconosTabs/hazClick.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #passImg {
    background: url(../Images/IconosTabs/bnbPass.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  .notice-success {
    border-color: #fff;
    color: #ffffff;
  }

  /*.notice {
    padding: 15px;
    border-left: 6px solid #fff;
    margin-bottom: 5px;
  }*/

  #clickImg {
    background: url(../Images/IconosTabs/hazClick.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #passImg {
    background: url(../Images/IconosTabs/bnbPass.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 90px;
  }
}


.notice-success > strong {
  color: #80D651;
}

.notice-info {
  border-color: #45ABCD;
}

  .notice-info > strong {
    color: #45ABCD;
  }

.notice-warning {
  border-color: #FEAF20;
}

  .notice-warning > strong {
    color: #FEAF20;
  }

.notice-danger {
  border-color: #d73814;
}

  .notice-danger > strong {
    color: #d73814;
  }

.fieldsetmovil {
  padding: .35em .625em .75em;
  margin: 0 4px;
  border: 0px solid #c0c0c0;
  height: 100%;
}
/*=========================================== Imagenes =======================================*/
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*=========================================== /Imagenes =======================================*/
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
/*=========================================== tamaños de letra =======================================*/
.d12 {
  font-size: 12px !important;
}

.d17 {
  font-size: 17px !important;
}

.d20 {
  font-size: 20px !important;
}

.d22 {
  font-size: 22px !important;
}

.d30 {
  font-size: 30px !important;
}

@media (max-width: 320px) {
  .d14 {
    font-size: 14px !important;
  }

  .d15 {
    font-size: 13px !important;
  }

  .d16 {
    font-size: 12px !important;
  }

  .d26 {
    font-size: 20px !important;
  }

  .d38 {
    font-size: 14px !important;
  }

  .d40 {
    font-size: 18px !important;
  }

  .d44 {
    font-size: 20px !important;
  }

  .d60 {
    font-size: 25px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .d65 {
    font-size: 20px !important;
  }
}

@media (min-width: 321px) and (max-width: 466px) {
  .d14 {
    font-size: 14px !important;
  }

  .d15 {
    font-size: 13px !important;
  }

  .d16 {
    font-size: 14px !important;
  }

  .d26 {
    font-size: 26px !important;
  }

  .d38 {
    font-size: 21px !important;
  }

  .d40 {
    font-size: 23px !important;
  }

  .d44 {
    font-size: 25px !important;
  }

  .d60 {
    font-size: 30px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .d65 {
    font-size: 30px !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  .d14 {
    font-size: 14px !important;
  }

  .d15 {
    font-size: 15px !important;
  }

  .d16 {
    font-size: 12px !important;
  }

  .d26 {
    font-size: 26px !important;
  }

  .d38 {
    font-size: 27px !important;
  }

  .d40 {
    font-size: 29px !important;
  }

  .d44 {
    font-size: 35px !important;
  }

  .d60 {
    font-size: 45px !important;
  }

  .d65 {
    font-size: 40px !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .d12 {
    font-size: 10px !important;
  }

  .d14 {
    font-size: 14px !important;
  }

  .d15 {
    font-size: 15px !important;
  }

  .d16 {
    font-size: 15px !important;
  }

  .d26 {
    font-size: 26px !important;
  }

  .d40 {
    font-size: 30px !important;
  }

  .d38 {
    font-size: 30px !important;
  }

  .d44 {
    font-size: 40px !important;
  }

  .d60 {
    font-size: 50px !important;
  }

  .d65 {
    font-size: 40px !important;
  }
}

@media (min-width: 981px) and (max-width:1199px) {
  .d14 {
    font-size: 14px !important;
  }

  .d15 {
    font-size: 15px !important;
  }

  .d16 {
    font-size: 15px !important;
  }

  .d26 {
    font-size: 26px !important;
  }

  .d38 {
    font-size: 37px !important;
  }

  .d40 {
    font-size: 40px !important;
  }

  .d44 {
    font-size: 44px !important;
  }

  .d60 {
    font-size: 55px !important;
  }

  .d65 {
    font-size: 65px !important;
  }
}

@media (min-width: 1200px) {
  .d14 {
    font-size: 14px !important;
  }

  .d15 {
    font-size: 15px !important;
  }

  .d16 {
    font-size: 16px !important;
  }

  .d26 {
    font-size: 26px !important;
  }

  .d38 {
    font-size: 37px !important;
  }

  .d40 {
    font-size: 40px !important;
  }

  .d44 {
    font-size: 44px !important;
  }

  .d60 {
    font-size: 60px !important;
  }

  .d65 {
    font-size: 65px !important;
  }
}
/*=========================================== /tamaños de letra =======================================*/
/*=========================================== Encabezado =======================================*/
@media (max-width: 320px) {
  #separadores {
    display: none;
  }

  /*.navbarbuttons {
    display: inline-flex;
  }*/

  .btn-lg, .btn-group-lg > .btn {
    font-size: 16px;
    height: 45px;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-size: 18px;
    border-bottom: 1px lightgray solid;
  }
}

@media (min-width: 321px) and (max-width: 466px) {
  #separadores {
    display: none;
  }

  /*.navbarbuttons {
    display: inline-flex;
  }*/

  #headerLogo {
    margin-top: 3% !important;
    margin-left: 3% !important;
    width:200px !important;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-size: 20px;
    border-bottom: 1px #f5f5f5 solid;
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  #separadores {
    display: none;
  }

  #headerLogo {
    margin-top: 3% !important;
    margin-left :10% !important;
  }
  /*.navbarbuttons {
    display: inline-flex;
    width: 100%;
    text-align: center;
  }*/
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
    font-size: 18px;
    border-bottom: 1px lightgray solid;
  }
}

@media (min-width: 768px) and (max-width: 979px) {

  .navbar-right {
    padding-top: 6px !important;
    font-size: 12px;
  }

  /*.navbar-left {
    padding-top: 22px !important;
    padding-left: 4px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
  }*/

  /*.navbarbuttons {
    margin-left: -180px;
    display: inline-flex;
    padding-top: 15px;
  }*/

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 1px;
  }

  .navbar-banca-digital {
    padding: 0px 0px;
    margin-top: 9px;
    margin-right: -22px;
    margin-bottom: 20px;
    margin-left: -15px;
    min-height: 35px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .navbar-right {
    padding-top: 6px !important;
    font-size: 12px;
  }
  /*.navbar-left {
    padding-top: 22px !important;
    padding-left: 32px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }*/
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
  }
  /*.navbarbuttons {
    display: inline-flex;
    margin-left: -150px;
    padding-top: 15px;
  }*/
  .btn-lg, .btn-group-lg > .btn {
    font-size: 13px;
    height: 45px;
  }

  .navbar-banca-digital {
    min-height: 35px;
    padding: 0px 0px;
    margin-top: 9px;
    margin-right: -15px;
    margin-bottom: 20px;
    margin-left: -15px;
  }
}

@media (min-width: 1200px) {
  .navbar-right {
    padding-top: 6px !important;
    font-size: 12px;
  }

  /*.navbar-left {
    padding-top: 22px !important;
    padding-left: 32px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }*/

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
  }



  .navbar-banca-digital {
    min-height: 35px;
    padding: 0px 0px;
    margin-top: 9px;
    margin-right: -7px;
    margin-bottom: 20px;
    margin-left: -15px;
  }
}

.navbar-default {
  border-color: transparent !important;
}

  /*.navbar-fixed {
  background-color: #ffffff;
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-right: auto;
  margin-left: auto;
}*/
  .navbar-default .navbar-nav > li > a {
    color: white;
  }

    .navbar-default .navbar-nav > li > a:visited {
      color: white;
    }

.navbar-bnb .navbar-nav > li > a:hover {
  color: white;
}

.navbar-bnb {
  background-color: #ffffff;
}

.linkprincipal {
  color: #9A9A9A !important;
  font-size: 12px;
  text-decoration: none !important;
}

.linkprincipalseleccionado {
  color: #2CA734 !important;
}

.linkprincipal:hover {
  color: #00FC00 !important;
}

.navbar {
  position: relative;
  min-height: 120px;
  margin-bottom: 0px;
  background-color: #fff;
  border: 0px !important;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand {
  height: 100%;
  padding: 0px;
  width: auto;
}

.navbar-nav li .dropdown-menu {
  z-index: 9999;
}

.navbar-form {
  padding: 0px 0px;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
}


.buscador {
  height: 32px !important;
  border-radius: 5px !important;
  display: block;
}


@media only screen and (max-width: 767px) {
  #contenedorbotones {
    display: none;
  }

  .contenedorbotones-responsive {
    height: 70px;
    display: block;
    position: absolute;
    right: 0px;
    top: 20px;    
    margin-bottom: 0px;   
    margin-right:20px;
  }

  #itemsHeaderMenu {
    padding-left: 15px !important;
    margin-top: 5% !important;
  }
}

@media only screen and (min-width: 768px) {
  #contenedorbotones {
    display: block;
  }

  .contenedorbotones-responsive {
    display: none;
  }
}
/*========================================== /Encabezado =======================================*/
/*===========================================Botones.===================================*/
@media only screen and (max-width: 466px) {
  .btn-rojo {
    background-color: #fff;
    color: #c9302c;
    border-color: #ac2925;
    border: 1px solid #ac2925 !important;
  }

  .btn-blanco, .btn-blanco:visited {
    vertical-align: middle;
    background-color: #fff !important;
    border: 1px solid #27A238 !important;
    color: #27A238 !important;
    text-decoration: none !important;
  }

  .contenedorbotones-responsive {
    height: 70px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-bottom: 0px;
  }

  #itemsHeaderMenu {
    padding-left: 15px !important;
    margin-top: 5% !important;
  }
}

@media (min-width: 467px) and (max-width: 1199px) {
  .btn-rojo {
    background-color: #fff;
    color: #c9302c;
    border-color: #ac2925;
    border: 1px solid #ac2925 !important;
    min-width: 100px;
  }

  .btn-blanco, .btn-blanco:visited {
    vertical-align: middle;
    background-color: #fff !important;
    border: 1px solid #27A238 !important;
    color: #27A238 !important;
    min-width: 100px;
    text-decoration: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .btn-rojo {
    min-width: 144px;
    background-color: #fff;
    color: #c9302c;
    border-color: #ac2925;
    border: 1px solid #ac2925 !important;
  }

  .btn-blanco, .btn-blanco:visited {
    vertical-align: middle;
    background-color: #fff !important;
    border: 1px solid #26B460 !important;
    border-radius: 0px 15px 0px 15px !important;
    color: #26B460 !important;
    min-width: 144px;
    text-decoration: none !important;
  }
}

.btn-success {
  color: #fff;
  background-color: transparent;
  color: #0C7F32;
  border-color: #0C7F32;
  border-radius: 0px;
  border: 2px solid;
}

.btn-responsive {
  width: 100%;
}

.btn {
  vertical-align: middle;
  /*background-color: transparent !important;*/
  /*border: 1px solid gray;*/
  /*border-radius: 0px !important;*/
  font-size: 16px;
  /*border-radius: 5px !important;
  border-color: #398439;*/
}

  .btn:hover, .btn:visited, {
    vertical-align: middle;
    background-color: transparent !important;
    border: 1px solid gray;
    border-radius: 0px !important;
    color: #398439 !important;
    border-color: #398439;
    font-size: 16px;
    border-radius: 5px !important;
  }

.btn-rojo:hover {
  color: #fff;
  background-color: #c9302c !important;
  border-color: #c9302c !important;
}

.btnheader {
  padding-left: 5px;
  padding-right: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /* Reset */
  float: none;
  line-height: normal;
  /*vertical-align: middle;*/
  /*background-color: transparent !important;*/
  /*border: 1px solid gray;*/
  /*border-radius: 0px !important;*/
  height: 32px;
  font-size: 11px;
  font-family: WorkSans-Regular;
  /*border-radius: 5px !important;*/
  /*text-decoration: none;*/
}

  .btnheader:hover {
    text-decoration: none;
    cursor: pointer;
  }

.btn-lg {
  font-size: 18px !important;
  min-width: 187px !important;
  min-height: 47px;
  padding-top: 10px;
}

.btn-verde, .btn-verde:visited {
  vertical-align: middle;
  background-color: #27A238 !important;
  border: 1px solid #27A238;
  color: #fff !important;
  min-width: 146px;
  text-decoration: none !important;
  margin-bottom: 1px;
  margin-top: 1px;
}

  .btn-verde:hover {
    color: #fff !important;
    border: 1px solid #8b8b8c !important;
    background-color: #8b8b8c !important;
    margin-bottom: 1px;
    margin-top: 1px;
  }

/*.btn-verde-oscuro, .btn-verde-oscuro:visited {
  vertical-align: middle;
  background-color: #006f46 !important;
  border: 2px solid #006f46;
  color: #fff !important;
  min-width: 146px;
  text-decoration: none !important;
  margin-bottom:1px;
  margin-top:1px;
}*/
.btn-verde-oscuro:hover {
  color: #fff;
  border: 2px solid #8b8b8c;
  background-color: #8b8b8c !important;
  text-decoration: none !important;
  margin-bottom: 1px;
  margin-top: 1px;
}

.btn-verde-oscuro:active {
  vertical-align: middle;
  color: #fff !important;
  text-decoration: none !important;
}

.btn-blanco:active {
  color: #27A238;
  border: 1px solid #27A238;
  text-decoration: none !important;
}

.btn-blanco:hover, .seleccionado {
  border: 1px solid #26B460 !important;
  background-color: #26B460 !important;
  color: #ffffff !important;
  text-decoration: none !important;
  border-radius: 0px 15px 0px 15px;
}

.btn-verde4a {
  vertical-align: middle;
  background-color: #fff !important;
  border: 2px solid #52ac4a;
  color: #52ac4a !important;
  min-width: 190px;
}

  .btn-verde4a:hover, .btn-verde4a:visited, .btn-verde4a:active {
    color: #52ac4a !important;
    border: 2px solid #52ac4a !important;
  }

.btn-naranja {
  vertical-align: middle;
  background-color: #fff !important;
  border: 2px solid #ff7e35;
  color: #ff7e35 !important;
  min-width: 190px;
}

  .btn-naranja:hover, .btn-naranja:visited, .btn-naranja:active {
    color: #ff7e35 !important;
    border: 2px solid #ff7e35 !important;
  }


@media only screen and (max-width: 767px) {

  .btn-verdeclaro, .btn-verdeclaro:visited, .btn-verdeclaro:active {
    vertical-align: middle;
    border: 3px solid #00a541;
    background-color: #00a541 !important;
    /*background-color: #8b8b8c !important;
    border: 3px solid #8b8b8c;*/
    color: #ffffff;
    font-size: 25px;
  }

    .btn-verdeclaro:hover {
      color: #ffffff;
      /*border: 3px solid #00a541;
      background-color: #00a541 !important;*/
      background-color: #8b8b8c !important;
      border: 3px solid #8b8b8c;
      text-decoration: none;
    }

  /*.btn-verdeclaro,.btn-verdeclaro:visited, .btn-verdeclaro:active {
    vertical-align: middle;
    background-color: transparent !important;
    border: 3px solid #00FC00;
    color: #00a541;
    font-size: 25px;
  }

    .btn-verdeclaro:hover {
      color: #ffffff;
      border: 3px solid #00FC00;
      background-color: rgba(165, 163, 167, 1) !important;
      text-decoration: none;
    }*/
}

@media only screen and (min-width: 768px) {

  .btn-verdeclaro {
    vertical-align: middle;
    background-color: transparent !important;
    border: 3px solid #00FC00;
    color: #fff;
    font-size: 25px;
  }

    .btn-verdeclaro:hover, .btn-verdeclaro:visited, .btn-verdeclaro:active {
      color: #fff;
      border: 3px solid #00FC00;
      background-color: rgba(165, 163, 167, 1) !important;
      text-decoration: none;
    }
}



/*===========================================/Botones.===================================*/


/*=========================================== Listas ===================================*/
.ul-no-ident {
  list-style-position: inside;
  padding-left: 15px;
  list-style: disc;
}
/*=========================================== /Listas ===================================*/


/*=========================================== Buscador =======================================*/

@media (max-width: 320px) {
  .left-addon .glyphicon {
    left: 0px;
  }

  .right-addon .glyphicon {
    right: 0px;
  }
}

@media (min-width: 321px) and (max-width: 466px) {
  .left-addon .glyphicon {
    left: 0px;
  }

  .right-addon .glyphicon {
    right: 0px;
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  .left-addon .glyphicon {
    left: 0px;
  }

  .right-addon .glyphicon {
    right: 0px;
  }
}


@media (min-width: 768px) and (max-width: 979px) {
  .left-addon .glyphicon {
    left: -30px !important;
  }

  .right-addon .glyphicon {
    right: 0px !important;
  }
}

.inner-addon {
  position: relative;
}

  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 1px;
}

.right-addon input {
  padding-right: 1px;
}
/*=========================================== /Buscador =======================================*/


/*===========================================/Texto con linea===================================*/
@media (max-width: 320px) {
  .textolinea {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea:before, .textolinea:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 0px;
      content: '\a0';
      background-color: #636363;
    }

    .textolinea:before {
      margin-left: -50%;
      text-align: right;
      background-color: #636363;
    }
}

@media (min-width: 321px) and (max-width: 466px) {
  .textolinea {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea:before, .textolinea:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 0px;
      content: '\a0';
      background-color: #636363;
    }

    .textolinea:before {
      margin-left: -50%;
      text-align: right;
      background-color: #636363;
    }
}

@media (min-width: 467px) and (max-width: 767px) {
  .textolinea {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea:before, .textolinea:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 0px;
      content: '\a0';
      background-color: #636363;
    }

    .textolinea:before {
      margin-left: -50%;
      text-align: right;
      background-color: #636363;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
  .textolinea {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea:before, .textolinea:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 3px;
      content: '\a0';
      background-color: #636363;
    }

    .textolinea:before {
      margin-left: -50%;
      text-align: right;
      background-color: #636363;
    }


  .textolinea-blanco {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea-blanco:before, .textolinea-blanco:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 35%;
      height: 2px;
      content: '\a0';
      background-color: #ffffff;
    }

    .textolinea-blanco:before {
      margin-left: -35%;
      text-align: right;
      background-color: #ffffff;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .textolinea {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea:before, .textolinea:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: 3px;
      content: '\a0';
      background-color: #636363;
    }

    .textolinea:before {
      margin-left: -50%;
      text-align: right;
      background-color: #636363;
    }



  .textolinea-blanco {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea-blanco:before, .textolinea-blanco:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 35%;
      height: 2px;
      content: '\a0';
      background-color: #ffffff;
    }

    .textolinea-blanco:before {
      margin-left: -35%;
      text-align: right;
      background-color: #ffffff;
    }
}

@media (min-width: 1200px) {
  .textolinea {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea:before, .textolinea:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 35%;
      height: 2px;
      content: '\a0';
      background-color: #636363;
    }

    .textolinea:before {
      margin-left: -35%;
      text-align: right;
      background-color: #636363;
    }


  .textolinea-blanco {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
  }

    .textolinea-blanco:before, .textolinea-blanco:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 35%;
      height: 2px;
      content: '\a0';
      background-color: #ffffff;
    }

    .textolinea-blanco:before {
      margin-left: -35%;
      text-align: right;
      background-color: #ffffff;
    }
}

/*===========================================/Texto con linea===================================*/


/*===========================================Card de productos.===================================*/
.fieldsetproductos {
  display: block;
  margin: 20px 1%;
  padding: 15px 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: .35em .625em .75em;
  border: 1px solid #787878;
  min-height: 300px;
}

  .fieldsetproductos:last-of-type {
    margin-bottom: 0px;
  }

.legendproductos {
  border: 0px solid #c0c0c0;
  border: medium none;
  margin-left: 40%;
  margin-bottom: 10px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  color: #3C6EAC;
  font-size: 18px;
  font-weight: bold;
}

.legendMovil {
  border: 0px solid #c0c0c0;
  border: medium none;
  margin-left: 40%;
  padding: 0 10px;
  position: relative;
  text-align: right;
  width: auto;
  color: #3C6EAC;
}
/*===========================================/Card de productos.===================================*/
@media (max-width: 320px) {

  .smartphone-container {
    display: none;
  }

  .centro {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 2%;
    padding-bottom: 1%;
  }

    .centro h3 {
      font-size: 14px;
    }

  .izquierda-carrousel, .izquierda {
    width: 100%;
    min-height: 150px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
  }


  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.8);
  }


  .derecha {
    width: 100%;
    height: 200px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(80, 80,80, 0.8);
  }


  .derecha-carrousel {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    bottom: 0;
    padding-top: 0px;
    background-color: rgba(80, 80,80, 0.5);
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 100%;
    position: inherit;
    top: 0;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .centro-carrousel-con-fondo {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(80, 80,80, 0.5);
  }

  .centro-carrousel h3 {
    font-size: 14px;
  }


  /* MISC */
  #homepage-feature .item {
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }

  .cardbanner {
    padding-left: 10%;
    padding-top: 10%;
  }

  /*.cardbanner h1 {
      font-weight: bold;
      font-size: 19px;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .cardbanner h3 {
      font-weight: bolder;
      font-size: 12px;
      margin-top: 2px;
      margin-bottom: 2px;
    }*/

  .btn-lg, .btn-group-lg > .btn {
    /*padding: 2px 6px;*/
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .cardcredito {
    padding-left: 0%;
    padding-top: 0%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .cardcredito h3 {
      font-weight: bold;
      font-size: 12px;
      margin-bottom: 0px;
      margin-top: 0px;
    }

  #contenidotarjeta {
    display: none;
  }

  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }

  .card-derecha {
    display: table;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
  }
  /*#lineaResponsive {
     display:block;
  }*/
}

@media (min-width: 321px) and (max-width: 466px) {


  .smartphone-container {
    display: none;
  }

  .centro {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .izquierda-carrousel, .izquierda {
    width: 100%;
    min-height: 150px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.8);
  }

  .derecha {
    width: 100%;
    min-height: 250px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(165, 163, 167, 0.8);
  }


  .derecha-carrousel {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 0px;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
    align-items: center;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: inherit;
    position: inherit;
    top: 0;
    padding-top: 4%;
    padding-bottom: 4%;
  }


  /* MISC */
  #homepage-feature .item {
    min-height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
  }

  .cardbanner {
    padding-left: 15%;
    padding-top: 0%;
  }

  /*.cardbanner h1 {
      font-weight: bold;
    }

    .cardbanner h3 {
      font-weight: bolder;
    }*/

  .cardcredito {
    padding-left: 5%;
    padding-top: 5%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .cardcredito h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: bold;
      font-size: 16px;
    }

  #contenidotarjeta {
    display: none;
  }

  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }

  .card-derecha {
    padding-left: 20px;
    display: table;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }
  /*#lineaResponsive {
     display:block;
  }*/
}

@media (min-width: 467px) and (max-width: 551px) {

  .smartphone-container {
    display: none;
  }

  .centro {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: inherit;
    position: inherit;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }


  .izquierda-carrousel, .izquierda {
    width: 100%;
    min-height: 250px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }

  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.8);
  }

  .derecha {
    width: 100%;
    height: 320px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(80, 80,80, 0.8);
  }

  .derecha-carrousel {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 0px;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
    align-items: center;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 90%;
    position: inherit;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #homepage-feature .item {
    min-height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .cardbanner {
    padding-left: 35%;
    padding-top: 10%;
  }

  /*.cardbanner h1 {
      font-weight: bold;
    }

    .cardbanner h3 {
      font-weight: bolder;
    }*/

  .cardcredito {
    padding-left: 10%;
    padding-top: 5%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 25px;
    }

    .cardcredito h3 {
      font-weight: bold;
      font-size: 20px;
    }

  #contenidotarjeta {
    display: none;
  }

  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }

  .card-derecha {
    padding-left: 20px;
    display: table;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
  }
  /*#lineaResponsive {
     display:block;
  }*/
}

/* Landscape phone to portrait tablet */
@media (min-width: 551px) and (max-width: 767px) {


  .smartphone-container {
    display: none;
  }

  .centro {
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: inherit;
    position: inherit;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
  }


  .izquierda-carrousel, .izquierda {
    width: 100%;
    min-height: 200px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
  }

  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.8);
  }

  .derecha {
    width: 100%;
    height: 320px;
    position: inherit;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(80, 80,80, 0.8);
  }

  .derecha-carrousel {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    height: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 0px;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
    align-items: center;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 90%;
    position: inherit;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #homepage-feature .item {
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .cardbanner {
    padding-left: 35%;
    padding-top: 10%;
  }

  /*.cardbanner h1 {
      font-weight: bold;
    }

    .cardbanner h3 {
      font-weight: bolder;
    }*/

  .cardcredito {
    padding-left: 10%;
    padding-top: 5%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 25px;
    }

    .cardcredito h3 {
      font-weight: bold;
      font-size: 20px;
    }

  #contenidotarjeta {
    display: none;
  }

  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
  }

  .card-derecha {
    padding-left: 20px;
    display: table;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
  }
  /*#lineaResponsive {
     display:none;
  }*/
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container-fluid {
    max-width: 100%;
  }

  .smartphone-container {
    position: fixed;
    z-index: 100;
    top: -60px;
    width: 200px;
    height: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .centro {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 85%;
    position: absolute;
    top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .izquierda-carrousel, .izquierda {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(100% - 48px);
    position: absolute;
    top: 48px;
    bottom: 0;
    padding-top: 0px;
    /*background-color: rgba(80, 80,80, 0.5);*/
    display: flex;
    align-items: center;
  }

  .derecha-carrousel {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(100% - 48px);
    position: absolute;
    left: 50%;
    top: 48px;
    bottom: 0;
    padding-top: 0px;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
    align-items: center;
  }





  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.4);
  }

  .derecha {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    max-height: 400px;
    background: blue;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0px;
    height: 450px;
    left: 50%;
    background-color: rgba(80, 80,80, 0.8);
  }

  #homepage-feature .item {
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .cardbanner {
    padding-left: 20%;
    padding-top: 25%;
  }

  /*.cardbanner h1 {
      font-weight: bold;
    }

    .cardbanner h3 {
      font-weight: bolder;
    }*/

  .cardcredito {
    padding-left: 10%;
    padding-top: 5%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 20px;
    }

    .cardcredito h3 {
      font-weight: bold;
      font-size: 18px;
    }

  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    padding-right: 20px;
  }

  .card-derecha {
    padding-left: 20px;
    display: table;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
  }
  /*#lineaResponsive {
     display:none;
  }*/
}

/* Large desktop */

@media (min-width: 980px) and (max-width: 1199px) {

  .smartphone-container {
    position: relative;
    z-index: 100;
    top: -170px;
    width: 200px;
    height: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .centro {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 85%;
    position: absolute;
    top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
  }


  .izquierda-carrousel, .izquierda {
    width: 50%;
    align-items: center;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(100% - 48px);
    position: absolute;
    top: 48px;
    bottom: 0;
    padding-top: 0px;
    /*background-color: rgba(80, 80,80, 0.5);*/
    display: flex;
  }


  .derecha-carrousel {
    width: 50%;
    align-items: center;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(100% - 48px);
    position: absolute;
    left: 50%;
    top: 48px;
    bottom: 0;
    padding-top: 0px;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
  }


  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.4);
  }

  .derecha {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    max-height: 500px;
    background-color: rgba(80, 80,80, 0.8);
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    padding: 0px;
  }

  #homepage-feature .item {
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .cardbanner {
    padding-left: 20%;
    padding-top: 25%;
  }

  /*.cardbanner h1 {
      font-weight: bold;
      font-size: 50px;
    }

    .cardbanner h3 {
      font-weight: bolder;
      font-size: 30px;
    }*/

  .cardcredito {
    padding-left: 15%;
    padding-top: 15%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 25px;
    }

    .cardcredito h3 {
      font-weight: bold;
      font-size: 20px;
    }

  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: auto;
    padding-right: 20px;
    min-width: 320px;
  }

  .card-derecha {
    padding-left: 20px;
    display: table;
    vertical-align: middle;
    margin-right: auto;
  }

  /*#lineaResponsive {
     display:none;
  }*/
}

@media (min-width: 1200px) {

  .smartphone-container {
    position: relative;
    z-index: 100;
    top: -170px;
    width: 200px;
    height: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #contenidomovil {
    font-size: 20px;
    color: #ffffff;
  }

  .centro {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .izquierda {
    width: 50%;
    align-items: center;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(60%);
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0px;
    /*background-color: rgba(80, 80,80, 0.5);*/
    display: flex;
  }

  .izquierda-carrousel {
    width: 50%;
    align-items: center;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(100% - 48px);
    position: absolute;
    top: 48px;
    bottom: 0;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
  }

  .derecha-carrousel {
    width: 50%;
    align-items: center;
    border-top: 0px;
    border-bottom: 0px;
    height: calc(100% - 48px);
    position: absolute;
    left: 50%;
    top: 48px;
    bottom: 0;
    background-color: rgba(80, 80,80, 0.5);
    display: flex;
  }

  .centro-carrousel {
    padding-left: 2%;
    padding-right: 2%;
    width: inherit;
    height: 90%;
    position: absolute;
    top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .centro-carrousel-con-fondo {
    display: flex;
    position: absolute;
    top: 48px;
    margin-top: 60px;
    margin-bottom: 25px;
    align-items: center;
    width: inherit;
    height: calc(100% - 180px);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(80, 80,80, 0.5);
  }

  .izquierda-claro {
    background-color: rgba(165, 163, 167, 0.4);
  }

  .derecha {
    width: 50%;
    border-top: 0px;
    border-bottom: 0px;
    max-height: 600px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    padding: 0px;
    background-color: rgba(80, 80,80, 0.8);
  }

  #homepage-feature .item {
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  .cardbanner {
    padding-left: 25%;
    padding-top: 16%;
  }

  .cardizquierda {
    float: right;
    padding-left: 35% !important;
    padding-right: 5% !important;
  }

  .cardderecha {
    float: left;
    padding-left: 5% !important;
    padding-right: 25% !important;
  }

  .cardcredito {
    padding-left: 15%;
    padding-top: 15%;
  }

    .cardcredito h2 {
      font-weight: bold;
      font-size: 35px;
    }

    .cardcredito h3 {
      font-weight: bold;
      font-size: 25px;
    }
  /*.cardbanner h1 {
    font-weight: bold;
    font-size: 65px;
  }

  .cardbanner h3 {
    font-weight: bolder;
    font-size: 45px;
  }*/



  .card-izquierda {
    display: table;
    vertical-align: middle;
    margin-left: 52%;
    padding-right: 20px;
    min-width: 370px;
  }

  .card-derecha {
    padding-left: 20px;
    display: table;
    vertical-align: middle;
    margin-right: auto;
  }
  /*#lineaResponsive {
     display:none;
  }*/
}

.card-center {
  display: table;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.no-margin-horizontal {
  margin-top: 0px;
  margin-bottom: 0px;
}





/*==================================== Fieldset con imagenes ==================================== */

.FieldsetImagen {
  border: 1px solid #CCC;
  padding: 10px;
  margin: 10px;
  color: #8b8b8c;
  border-radius: 0px 15px 0px 15px;
}

.FieldsetImagenIcon {
  position: absolute;
  height: 70px;
  top: 15px;
  left: 15px;
}

.LegendImagen {
  margin-bottom: 0px;
  border: medium none;
  padding: 0 5px;
  position: relative;
  text-align: center;
  width: 100%;
  color: #3C6EAC;
  font-weight: bold;
}



.titulo {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 70px;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}

.titulo-inicio {
  min-height: 40px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color: #27A238;
}

.contenido-inicio {
  font-size: 14px !important;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
}

.contenido span {
  font-size: 12px;
}

@media (min-width: 0px) and (max-width: 463px) {
  .FieldsetImagen .titulo {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
  }

  .FieldsetImagen .contenido, .FieldsetImagen .contenido-minimo {
    text-align: justify;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }


  .FieldsetImagen .contenido, .FieldsetImagen .contenido-medio {
    text-align: justify;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
}




@media (min-width: 764px) {

  .FieldsetImagen .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    min-height: 45px;
    vertical-align: middle;
    text-align: center;
  }

  .FieldsetImagen .contenido {
    text-align: justify;
    letter-spacing: 0.36px;
    height: 115px;
    overflow-y: auto;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
  }

    .FieldsetImagen .contenido span {
      margin-top: 5px;
      margin-bottom: 5px;
    }

  .FieldsetImagen .contenido-minimo {
    text-align: justify;
    height: 50px;
    overflow-y: auto;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .FieldsetImagen .contenido-medio {
    text-align: justify;
    height: 90px;
    overflow-y: auto;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
}

.FieldsetImagen .pie {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
/*==================================== /Fieldset con imagenes ==================================== */
/*==================================== Centrado ==================================== */
.elementos-centrados {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
/*==================================== /Centrado ==================================== */
/*==================================== Fondos de color ==================================== */
@media (max-width: 320px) {
  .fondo-con-submenu {
    position: relative;
    padding-top: 5px;
    min-height: 70px;
  }

  .fondo-sin-submenu {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 75px;
  }
}

@media (min-width: 321px) and (max-width: 466px) {
  .fondo-con-submenu {
    position: relative;
    padding-top: 5px;
    min-height: 70px;
  }

  .fondo-sin-submenu {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 75px;
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  .fondo-con-submenu {
    position: relative;
    padding-top: 5px;
    min-height: 70px;
  }

  .fondo-sin-submenu {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 75px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .fondo-con-submenu {
    position: relative;
    margin-top: 48px;
    padding-top: 50px;
    min-height: 119px;
  }

  .fondo-sin-submenu {
    position: relative;
    margin-top: 48px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 75px;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .fondo-con-submenu {
    position: relative;
    margin-top: 48px;
    padding-top: 50px;
    min-height: 119px;
  }

  .fondo-sin-submenu {
    position: relative;
    margin-top: 48px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 75px;
  }
}

@media (min-width: 1200px) {
  .fondo-con-submenu {
    position: relative;
    margin-top: 48px;
    padding-top: 50px;
    min-height: 119px;
  }

  .fondo-sin-submenu {
    position: relative;
    margin-top: 48px;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 75px;
  }
}

.fondo {
  position: relative;
  padding-bottom: 2px;
  padding-top: 2px;
  min-height: 50px;
}

.transaparencia-verde {
  background-color: #52ac4a;
}

.transaparencia-amarillo {
  background-color: rgba(254,197,60,1);
}

.transaparencia-plomo {
  background-color: rgba(166,166,166,1);
}

.transaparencia-rojo {
  background-color: #c9302c;
}

/*====================================/Fondos de color ==================================== */
/*============================================Movile simulator===================================*/
.smartphone-container .phone-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../Images/Movil/celular.png) bottom left no-repeat;
  background-size: 100%;
}

.smartphone-container #smartphone {
  width: 173px;
  position: absolute;
  top: 184px;
  left: 13px;
  background: url(../Images/Movil/pantalla1.png) center top no-repeat;
  cursor: pointer;
}

.smartphone-container .carousel {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  .smartphone-container .carousel img {
    width: 100%;
    max-width: 335px;
  }

.smartphone-container .owl-controls {
  position: relative;
  top: -36px;
}

  .smartphone-container .owl-controls .owl-dots {
    height: 1rem;
  }

  .smartphone-container .owl-controls .owl-dot {
    -webkit-transition: background-color .25s ease-in-out 0s;
    transition: background-color .25s ease-in-out 0s;
    display: inline-block;
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #3c3c3b;
  }

    .smartphone-container .owl-controls .owl-dot:last-child {
      margin: 0;
    }

    .smartphone-container .owl-controls .owl-dot.active,
    .smartphone-container .owl-controls .owl-dot:hover {
      background-color: #3c3c3b;
    }
/*===========================================/Movile simulator===================================*/
/*=========================================== Carrousel ===================================*/
@media (max-width: 320px) {
  .carrousel-img {
    min-height: 200px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: 321px) and (max-width: 466px) {
  .carrousel-img {
    min-height: 300px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 30px;
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: 467px) and (max-width: 767px) {
  .carrousel-img {
    min-height: 300px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 30px;
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .carrousel-img {
    min-height: 440px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 50px;
    height: 50px;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 30px;
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .carrousel-img {
    min-height: 540px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 70px;
    height: 70px;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 50px;
    background-color: rgba(255,255,255,.5);
  }
}

@media (min-width: 1200px) {
  .carrousel-img {
    min-height: 640px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 70px;
    height: 70px;
    margin-top: -10px;
    padding-top: 10px;
    font-size: 50px;
    background-color: rgba(255,255,255,.5);
  }
}

.img-border {
  border: 1px solid #52ac4a;
  border-radius: 150px;
  padding: 20px;
}

.carousel-control {
  width: 5% !important;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0,0,0,0);
  filter: alpha(opacity=50);
  opacity: .5;
}

  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50%;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
    margin-left: -50%;
  }

  .carousel-control.left {
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
  }

  .carousel-control.right {
    right: 0;
    left: auto;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
  }

  .carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
  }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
/*=========================================== /Carrousel ===================================*/
/*=========================================== Modal popup ===================================*/
@media only screen and (max-width: 466px) {
  .modal-content {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
  }
}

@media (min-width: 467px) and (max-width: 979px) {
  .modal-content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0px;
  }
}

@media (min-width: 981px) and (max-width:1199px) {
  .modal-content {
    padding: 60px;
    border-radius: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .modal-content {
    padding: 60px;
    border-radius: 0px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 760px;
    margin: 15px auto;
    padding: 50px !important;
  }
}

@media (min-width: 990px) {
  .modal-dialog {
    width: 80%;
    margin: 30px auto;
    padding: 50px !important;
  }
}
/*=========================================== /Modal popup ===================================*/
/*=========================================== Contenido Modal popup ===================================*/
@media only screen and (max-width: 466px) {
  .fieldset-image {
    background-color: #fff;
    display: block;
    z-index: 2;
  }

  .fieldset-tarjeta {
    padding: .35em .625em .75em;
    margin: 0 4px;
    border: 1px solid #27A238;
    display: block;
  }
}

@media (min-width: 467px) and (max-width: 677px) {
  .fieldset-image {
    background-color: #fff;
    display: block;
    z-index: 2;
  }

  .legend-tarjeta {
    width: auto;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 0px;
  }
}

@media (min-width: 678px) and (max-width: 979px) {
  .fieldset-image {
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
  }
}

@media (min-width: 981px) and (max-width:1199px) {
  .fieldset-image {
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .fieldset-image {
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
  }
}

.fieldset-tarjeta {
  padding: .35em .625em .75em;
  margin: 0 4px;
  border: 1px solid #27A238;
  position: relative;
}

.legend-tarjeta {
  width: auto;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 0px;
}

.fieldset-verde {
  padding: 5px;
  border: 1px solid #27A238 !important;
}

.fieldset-naranja {
  padding: 5px;
  border: 1px solid #27A238 !important;
}

.fieldset-plomo {
  padding: 15px;
  border: 1px solid #eee !important;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.close {
  position: absolute;
  top: 8px;
  left: 14px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: red;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .8;
  z-index: 1;
}

button.close-derecha {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.close-derecha {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: red;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .8;
  z-index: 1;
}
/*=========================================== /Contenido Modal popup ===================================*/
button {
  outline: none !important;
}
/*=========================================== google captcha ===================================*/

@media only screen and (max-width: 466px) {
  .g-recaptcha {
    transform: scale(0.7);
  }
}

div.g-recaptcha {
  margin: 0 auto;
  max-width: 304px;
}

@media only screen and (max-width: 477px) {
  #___gcse_0 {
    display: none !important;
  }
}

@media only screen and (min-width: 477px) and (max-width: 767px) {


  .cse .gsc-control-cse, .gsc-control-cse {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: 35px !important;
    height: 27px !important;
    padding: 5px 8px !important;
    min-width: 28px !important;
    margin-top: 1px !important;
  }

  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: #CECECE !important;
    background-color: #CECECE !important;
    background-image: none;
    filter: none;
  }

  .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px !important;
    padding-top: 1px !important;
    padding-bottom: 0px !important;
  }

  .gsc-control-cse {
    padding-bottom: 1px !important;
    padding-top: 1px !important;
  }

  .gsib_a {
    padding-top: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 2px !important;
  }

  table.gsc-search-box td {
    vertical-align: top !important;
  }

  .gsc-input-box {
    border: 1px solid #D9D9D9;
    background: #fff;
    height: 27px !important;
  }
}


.cse .gsc-control-cse, .gsc-control-cse {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  width: 35px !important;
  height: 27px !important;
  padding: 5px 8px !important;
  min-width: 28px !important;
  margin-top: 1px !important;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  border-color: #CECECE !important;
  background-color: #CECECE !important;
  background-image: none;
  filter: none;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0px !important;
  padding-top: 1px !important;
  padding-bottom: 0px !important;
  font-family: WorkSans-Regular !important;
  font-size: 14px !important;
}

.gsc-control-cse {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.gsib_a {
  padding-top: 4px !important;
  padding-right: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 2px !important;
}

table.gsc-search-box td {
  vertical-align: top !important;
}

.gsc-input-box {
  border: 1px solid #D9D9D9;
  background: #fff;
  height: 27px !important;
}
/*.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0px !important;
    height:28px !important;
    padding:0px !important;
}

  input.gsc-input {
    border-color: #004220 !important;
    width: 10px !important;
  }

  input.gsc-search-button {
    border-color: #004220 !important;
    background-color: #ffff !important;
    width: 10px !important;
    height:28px !important;
  }

  .cse .gsc-control-cse, .gsc-control-cse {
    padding: 0px !important;
}
  .gsib_a {
     padding-right: 1px !important;  
     padding-left: 1px !important; 
}*/
.cse .gsc-search-button-v2, .gsc-search-button-v2 {
  padding: 6px 10px !important;
  border: 1px solid #cccccc !important;
}

/*=========================================== /recaptcha ===================================*/
/*=========================================== Iconos ===================================*/
@media only screen and (max-width: 767px) {
  .glyphicon-left {
    position: relative;
    top: 1px;
    right: 11px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right !important;
  }
}

@media only screen and (min-width: 768px) {
  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
/*=========================================== /Iconos ===================================*/
/*=========================================== Menu Responsivo ===================================*/
.dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  font-weight: normal !important;
  line-height: normal !important;
  height: 45px;
  font-size: 20px !important;
  border-bottom: 1px solid #f5f5f5;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #694780 !important;
  border-color: #694780 !important;
  color: white !important;
}

.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 10px !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: #694780
  }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  min-width: 160px;
  padding-top: 0px;
  padding-bottom: 0px;
}


@media only screen and (max-width: 767px) {
  .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
/*===========================================/Menu Responsivo ===================================*/
.vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

  .vid iframe,
  .vid object,
  .vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.tab-contenth > .tab-pane {
  display: none;
}

.tab-contenth > .active {
  display: block;
}

#menu-movil-in > ul, ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu-movil-in {
  width: 100%;
}

.menu-grupo-in {
  color: #777;
  font-size: 18px;
  font-family: WorkSans-Regular !important;
}

.menu-opcion-in {
  color: #27a238;
  text-decoration: none;
  padding: 5px 15px 5px 10px !important;
  font-size: 20px;
  font-family: WorkSans-Regular !important;
  position: relative !important;
  display: block !important;
  min-height: 40px;
}



.menu > li {
  border-bottom: 1px #d3d3d3 solid;
}

  .menu > li > a {
    position: relative !important;
    display: block !important;
    padding: 10px 5px;
  }

.menu-grupo-in.active {
  border-bottom: 1px #27a238 solid;
  background-color: rgb(232, 232, 232);
}

/*Evento grupos*/
.menu > li > a:link {
  text-decoration: none !important;
  color: #777;
}

.menu > li > a:visited {
  text-decoration: none !important;
  color: #777;
}

.menu > li > a:hover {
  text-decoration: none !important;
  color: #777;
}

.menu > li > a:active {
  text-decoration: none !important;
  color: #777;
}

/*Evento opciones*/
.menu > li > ul > li > a:link {
  text-decoration: none !important;
  color: #27a238;
}

.menu > li > ul > li > a:visited {
  text-decoration: none !important;
  color: #27a238;
}

.menu > li > ul > li > a:hover {
  text-decoration: none !important;
  background-color: rgb(232, 232, 232);
  color: #27a238;
}

.menu > li > ul > li > a:active {
  text-decoration: none !important;
  color: #27a238;
}

/*===========================================/Menu Formulario ===================================*/

#menu-frm-in > ul, ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu-frm-in {
  width: 100%;
}

.menu-frm > li {
  border-bottom: 1px #d3d3d3 solid;
}

  .menu-frm > li > a {
    position: relative !important;
    display: block !important;
    padding: 10px 5px;
  }

.menu-grupo-frm-in.active {
  border-bottom: 1px #27a238 solid;
  background-color: rgb(232, 232, 232);
}

/*Evento grupos*/
.menu-frm > li > a:link {
  text-decoration: none !important;
  color: #777;
}

.menu-frm > li > a:visited {
  text-decoration: none !important;
  color: #777;
}

.menu-frm > li > a:hover {
  text-decoration: none !important;
  color: #777;
}

.menu-frm > li > a:active {
  text-decoration: none !important;
  color: #777;
}

/*Evento opciones*/
.menu-frm > li > ul > li > a:link {
  text-decoration: none !important;
  color: #27a238;
}

.menu-frm > li > ul > li > a:visited {
  text-decoration: none !important;
  color: #27a238;
}

.menu-frm > li > ul > li > a:hover {
  text-decoration: none !important;
  background-color: rgb(232, 232, 232);
  color: #27a238;
}

.menu-frm > li > ul > li > a:active {
  text-decoration: none !important;
  color: #27a238;
}

.menu-grupo-frm-in {
  color: #27a238;
  text-decoration: none;
  padding: 15px 5px 15px 5px !important;
  font-size: 18px;
  font-family: WorkSans-Regular !important;
  position: relative !important;
  display: block !important;
  min-height: 40px;
  text-align: center;
}

.contenedor-opcion-frm {
  border: 1px #d3d3d3 solid;
}

/*===========================================/ General ===================================*/

.padding-10 {
  padding: 10px;
}

.w-30-por {
  width: 30%;
}

.w-70-por {
  width: 70%;
}

.float-left {
  float: left;
}

.w-min-84 {
  min-height: 84px;
}

#contenidoTabla tr td {
  padding: 2px;
  margin: 2px;
}

.tabla {
  width: 100%;
}

td, th, .tabla {
  border-width: 1px;
  border-color: #52ac4a;
  border-style: none;
}

thead th {
  background-color: #e5e5e5;
  font-weight: bold;
  color: #52ac4a;
  font-family: Helvetica, Arial, sans-serif;
}

@media screen and (max-width:720px) {
  table, thead, tr, th, tbody, td {
    display: block;
  }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

    td:before {
      position: absolute;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    td:nth-of-type(1):before {
      content: "Nombre";
    }

    td:nth-of-type(2):before {
      content: "Dirección";
    }

    td:nth-of-type(3):before {
      content: "Horarios";
    }
}

*:focus {
  outline: none;
}
