﻿@media only screen and (max-width: 466px) {
    .accordion {
    border-color: #72d085;
    border-width: 5px;
    border-radius: 0px;
    margin: 0 auto;
    width: 100%;
    }
    .img-accordion {
      top:2px;
      max-width:50px;
      max-height:50px;
      position:absolute;
      z-index:10;
}
}
@media (min-width: 467px) and (max-width: 979px) {
  .accordion {
    border-color: #72d085;
    border-width: 5px;
    border-radius: 0px;
    margin: 0 auto;
    width: 100%;
  }
  .img-accordion {
  top:-4px;
  max-width:60px;
  max-height:60px;
  position:absolute;
  z-index:10;
}

}
@media (min-width: 981px) and (max-width:1199px) {
  .accordion {
    border-color: #72d085;
    border-width: 5px;
    border-radius: 0px;
    margin: 0 auto;
    width: 100%;
    padding-left:100px;
    padding-right:100px;
  }
  .img-accordion {
  top:-9px;
  max-width:70px;
  max-height:70px;
  position:absolute;
  z-index:10;
}
}
@media only screen and  (min-width: 1200px) {
  .accordion {
    border-color: #72d085;
    border-width: 5px;
    border-radius: 0px;
    margin: 0 auto;
    width: 100%;
    padding-left:100px;
    padding-right:100px;
  }
  .img-accordion {
  top:-9px;
  max-width:70px;
  max-height:70px;
  position:absolute;
  z-index:10;
}
}

.caret-accordion {
  top:30px;
  float:right;
  right:15px;
  position:relative;
  width: 0;
height: 0;
border-style: solid;
border-width: 0 0 10px 10px;
border-color: transparent transparent #27A238 transparent;
line-height: 0px;
_border-color: #000000 #000000 #27A238 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');


}

.accordion > ul > li,
.accordion-title,
.accordion-content,
.accordion-separator {
    float: none;
}

.accordion > ul > li {
    margin-right: -0px;
    margin-top: 10px;
    margin-bottom: -150px;
    padding-bottom:10px;
}

.accordion-select:checked ~ .accordion-separator {
    margin-right: 0px;
    margin-bottom: 150px;
}

.accordion-title,
.accordion-select {
    background-color: #f4f4f4;
    color: #26B460;
    width: 100%;
    height: 54px;
    font-size: 30px;
    text-align: center;
    border-radius: 0px 15px 0px 15px;
}

.accordion-title span {
    margin-bottom: 20px; 
    margin-left: 30px;
}

.accordion-select:hover ~ .accordion-title,
.accordion-select:checked ~ .accordion-title {
    background-color: #e7e7e7;
}

.accordion-title span  {	
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 50px;
}

.accordion-content {
    background-color: #ffffff;
    color: #666060;
    height: 150px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.accordion-title,
.accordion-select:checked ~ .accordion-content {
    margin-right: 5px;
    margin-bottom: 5px;
      visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 500ms, opacity 500ms;
}

.accordion-select:checked ~ .accordion-content {
    margin-right: 5px;
    margin-bottom: 5px;
    border-bottom:2px solid #f4f4f4;
    border-left:2px solid #f4f4f4;
    border-right:2px solid #f4f4f4;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 500ms, opacity 500ms;
}

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
    visibility:hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 500ms;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}