﻿@media only screen and (max-width: 809px) {
      .timestamp {
  margin-bottom: 10px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #9A9A9A;
  position: relative;
  transition: all 200ms ease-in;
}
.status span {
  padding-top:25px;
}
.status:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #9A9A9A ;
  border-radius: 15px;
  border: 1px solid #9A9A9A ;
  position: absolute;
  top: -10px;
  left: 30%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 1px solid #66DC71;
}
.li.complete .status:before {
  background-color: #00AE3F;
  border:3px solid #66DC71;
  transition: all 200ms ease-in;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -10px;
  left: 30%;
}

.li.inprogress .status:before {
  background-color: #00AE3F;
  border:3px solid #66DC71;
  transition: all 200ms ease-in;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  top: -13px;
  left: 30%;
}

}


@media only screen and (min-width: 810px) and (max-width:1199px) {
  .timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #9A9A9A;
  position: relative;
  transition: all 200ms ease-in;
}
.status span {
  padding-top:25px;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #9A9A9A ;
  border-radius: 25px;
  border: 1px solid #9A9A9A ;
  position: absolute;
  top: -14px;
  left: 45%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 1px solid #66DC71;
}
.li.complete .status:before {
  background-color: #00AE3F;
  border:3px solid #66DC71;
  transition: all 200ms ease-in;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  top: -17px;
  left: 42%;
}

.li.inprogress .status:before {
  background-color: #00AE3F;
  border:3px solid #66DC71;
  transition: all 200ms ease-in;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  top: -17px;
  left: 42%;
}

}
@media only screen and  (min-width: 1200px) {

  .timestamp {
  margin-bottom: 20px;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #9A9A9A;
  position: relative;
  transition: all 200ms ease-in;
}
.status span {
  padding-top:25px;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #9A9A9A ;
  border-radius: 25px;
  border: 1px solid #9A9A9A ;
  position: absolute;
  top: -14px;
  left: 45%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 1px solid #66DC71;
}
.li.complete .status:before {
  background-color: #00AE3F;
  border:3px solid #66DC71;
  transition: all 200ms ease-in;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  top: -17px;
  left: 42%;
}

.li.inprogress .status:before {
   background-color: #00AE3F;
  border:3px solid #66DC71;
  transition: all 200ms ease-in;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  top: -17px;
  left: 42%;
}
}


.timeline {
  margin-top:5px;
  padding-top:5px;
  margin-bottom:5px;
  padding-bottom:5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border:1px solid #9A9A9A  !important;*/
}

.li {
  transition: all 200ms ease-in;
}



.li.inprogress .status {
  /*border-top: 1px solid #F3C13A;*/
   border-top: 1px solid #66DC71;
}



.li.complete .status h4 {
  color: #66DC71;
}


/*@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}*/

ul{
    -webkit-padding-start: 0px;
    padding:0px;
}