﻿.menu-ciudad {
  border-right: 1px solid #27a238;
  padding: 5px 10px;
  width: 11%;
  text-align: center;
}

.menu-ciudad-sin-borde{
  padding: 5px 10px;
  width: 11%;
  text-align: center;
}

.Ciudad a:hover{
  text-decoration:none;
  font-weight:bold;
}

.Ciudad a:active{
  text-decoration:none;
}

.Ciudad a:link{
  text-decoration:none;
}

.Ciudad a:visited{
  text-decoration:none;
}

seccion-mapa-in {
  display: block;
}

#MapaGoogle {
  height: 500px;
  width: 100%;
  display: block;
}

option:checked {
  border: 1px solid #4c8f52;
}

#ddlFiltroGrupos {
  margin: 20px;
  padding: 5px 10px;
  border: 1px solid #4c8f52;
  color: #4c8f52;
  width: 300px;
}

.combo-verde-in {
  margin: 20px;
  padding: 5px 10px;
  border: 1px solid #4c8f52;
  color: #4c8f52;
  width: 95%;
}

/*TODO COMBO ACTIVE*/
.Celda50 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.SucursalItem:hover {
  text-decoration: none !important;
}

.SucursalItem:active {
  text-decoration: none !important;
}

.SucursalItem:link {
  text-decoration: none !important;
}

.SucursalItem:visited {
  text-decoration: none !important;
}

/*.SucursalItem:hover > div {
  background-color: #dff0d8 !important;
}*/

#DetalleEntidad p {
  margin: 0 0 4px;
}

.border-verde-in {
    border: 1px solid #26B460;
}

.border-verde-arriba-in {
    border-top: 1px solid #26B460;
}

.margen-abajo-20-in {
  margin-bottom: 20px;
}

.scroll-item {
  overflow-y: visible;
  overflow-x: hidden;
  max-height: 500px;
}

.Titulo {
    font-size: 15px !important;
    font-family: CalibriBold-1 !important;
    line-height: normal !important;
    color: #26B460;
}

.fondo-sucursal-in {
  background-image: url("../Images/Banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.visible-in {
  display: inline;
}

.no-visible-in {
  display: none;
}

#txtBuscador {
  padding: 6px 10px;
  margin: 20px;
  background-image: url(/Images/Iconos/buscar15.png), -webkit-linear-gradient(#ffffff, #ffffff, #ffffff);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #4c8f52;
  color: #4c8f52;
  font-size: inherit;
  width: 300px;
}

/*sm*/
@media (max-width: 468px) {

  #cmbCiudad {
    width: 95%;
    margin: 0px 20px 0px 20px;
  }

  #ddlFiltroGrupos {
    width: 95%;
    margin: 0px 20px 0px 20px;
  }

  #txtBuscador {
    width: 95%;
    margin: 0px 20px 20px 20px;
  }

  .espacio-seccion {
    display: none;
  }

  .scroll-item {
    max-height: 220px;
  }
}

/*md*/
@media (max-width: 992px) and (min-width: 769px) {

  #cmbCiudad {
    width: 97%;
    margin: 0px 20px 0px 20px;
  }

  #ddlFiltroGrupos {
    width: 95%;
    margin: 0px 20px 0px 20px;
  }

  #txtBuscador {
    width: 95%;
    margin: 0px 20px 20px 20px;
  }

  .espacio-seccion {
    display: none;
  }

  .scroll-item {
    max-height: 300px;
  }
}

input.middle:focus {
    outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}