﻿@media (max-width: 320px) {
  .footerSecciones {
    min-height: initial;
    vertical-align: middle;
    text-align:center;
    border-right: 0px solid transparent;
  }
}
@media (min-width: 321px) and (max-width: 466px) {
  .footerSecciones {
    min-height: initial;
    vertical-align: middle;
    border-right: 0px solid transparent;
    text-align:center;
  }
}
@media (min-width: 467px) and (max-width: 767px) {
  .footerSecciones {
    min-height: initial;
    vertical-align: middle;
    border-right: 0px solid transparent;
    text-align:center;
  }
}
@media only screen and (min-width: 768px) {
  .footerSecciones {
    margin-top:10px;
    margin-bottom:10px;
    height:230px;
  }
}