﻿.form-horizontal .control-label {
    color: #52ac4a;
    text-align: left !important;
    padding-top:10px !important;
    padding-bottom:5px !important;
    line-height: normal !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: normal !important;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px 5px 0 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label {
  font-weight: normal !important;
}

.modal.fade:not(.in).left .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
	-webkit-transform: translate3d(125%, 0, 0);
	transform: translate3d(125%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
	-webkit-transform: translate3d(0, 125%, 0);
	transform: translate3d(0, 125%, 0);
}
.modal-dialog {
    margin: 0px auto;
    padding: 0px !important;
}
.modal-content {
    padding: 10px;
}
.modal-content {
  border-radius:0px;
}
@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }
.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }
.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }
.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; }
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }
.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }
.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }
.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }
.magic-radio + label:before {
  border-radius: 50%; }
.magic-radio + label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }
.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }
.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }
.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }
.magic-checkbox + label:before {
  border-radius: 3px; }
.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }
.magic-checkbox:checked + label:before {
  border: #42b72a;
  background: #42b72a; }
.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #8b8b8c;
}
.fieldset-tarjeta {
  padding: .35em .625em .75em;
  margin: 0 4px;
  border: 1px solid #27A238 !important;
  position: relative;
}
.fieldset-image{
    background-color:#fff;
    position:absolute;
    top:30px;
    right:30px;
}
.fieldset-tarjeta:before, .fieldset-tarjeta:after {
  content: "";
  position: absolute;
  bottom: -0px;
  left: -0px;
}
.fieldset-tarjeta:before {
  top: -0px;
  width: 0px;
  background-image: -webkit-gradient(linear, 0 50%, 0 0, from(#27A238), #fff);
  background-image: -webkit-linear-gradient(#fff 20%, #27A238 0%);
  background-image: -moz-linear-gradient(#fff, #27A238);
  background-image: -o-linear-gradient(#fff, #27A238);
}
.fieldset-tarjeta:after {
  right: -0px;
  height: 0px;
  background-image: -webkit-gradient(linear, 0 0, 80% 0, from(#27A238), #fff);
  background-image: -webkit-linear-gradient(left, #27A238 60%, #fff 40%);
  background-image: -moz-linear-gradient(left, #27A238, #fff);
  background-image: -o-linear-gradient(left, #27A238, #fff);
}