﻿/*===========================================EncabezadoSecciones=======================================*/
@media (max-width: 320px) {
  .navbarsectionbackground {
    background-color: rgba(104, 71, 141, 1);
    min-height: 51.32px;
    position: initial;
    z-index: 100;
    /*width: 100%;*/
    display: none;
  }

  .navbarsection {
    overflow: hidden;
    display: none;
  }

    .navbarsection a {
      float: none;
      display: block;
      color: #f2f2f2;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 15px;
    }

      .navbarsection a:hover {
        color: #00FC00;
      }

      .navbarsection a::selection {
        color: #00FC00;
      }
}

@media (min-width: 321px) and (max-width: 466px) {
  .navbarsectionbackground {
    background-color: rgba(104, 71, 141, 1);
    position: initial;
    z-index: 100;
    /*width: 100%;*/
    display: none;
  }

  .navbarsection {
    overflow: hidden;
    display: none;
  }

    .navbarsection a {
      float: none;
      display: block;
      color: #f2f2f2;
      text-align: left;
      padding: 0px;
      text-decoration: none;
      font-size: 15px;
      width: 100%;
    }

      .navbarsection a:hover {
        color: #00FC00;
      }

      .navbarsection a::selection {
        color: #00FC00;
      }
}

@media (min-width: 467px) and (max-width: 767px) {
  .navbarsectionbackground {
    background-color: rgba(104, 71, 141, 1);
    position: initial;
    z-index: 100;
    /*width: 100%;*/
    display: none;
  }

  .navbarsection {
    overflow: hidden;
    height: 57px;
    display: none;
  }

    .navbarsection a {
      float: none;
      display: block;
      color: #f2f2f2;
      text-align: left;
      padding: 0px;
      text-decoration: none;
      font-size: 15px;
      width: 100%;
    }

      .navbarsection a:hover {
        color: #00FC00;
      }

      .navbarsection a::selection {
        color: #00FC00;
      }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbarsectionbackground {
    background-color: rgba(104, 71, 141, 1);
    position: absolute;
    z-index: 100;
    width: 100%;
    overflow: hidden;
  }

  .navbarsection {
    overflow: hidden;
    height: 48px;
  }

    .navbarsection a, .navbarsubsection a {
      float: none;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 0px;
      text-decoration: none;
      font-size: 13px;
    }

      .navbarsection a:hover, .navbarsubsection a:hover {
        color: #00FC00;
      }

  .navbarsubsection-seleccionado {
    color: #00FC00 !important;
  }

  .navbarsection a::selection {
    color: #00FC00;
  }

  .contenedor-menu-section {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .navbarsectionbackground {
    background-color: rgba(104, 71, 141, 1);
    position: absolute;
    z-index: 100;
    width: 100%;
    overflow: hidden;
  }

  .navbarsection {
    overflow: hidden;
    /*height: 48px;*/
  }

    .navbarsection a, .navbarsubsection a {
      float: none;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 0px;
      text-decoration: none;
      font-size: 13px;
    }

      .navbarsection a:hover, .navbarsubsection a:hover {
        color: #00FC00;
      }

  .navbarsubsection-seleccionado {
    color: #00FC00 !important;
  }

  .navbarsection a::selection {
    color: #00FC00;
  }

  .contenedor-menu-section {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .navbarsectionbackground {
    background-color: rgba(104, 71, 141, 1);
    /*position: absolute;*/
    z-index: 100;
    width: 100% !important;
    overflow: hidden;
    height: 35px;
  }

  .navbarsection {
    overflow: hidden;
    height: 30px;
  }

    .navbarsection a, .navbarsubsection a {
      float: none;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 0px;
      text-decoration: none;
      font-size: 14px;
    }

      .navbarsection a:hover, .navbarsubsection a:hover {
        color: #26B460;
      }

  .navbarsubsection-seleccionado {
    color: #26B460 !important;
  }

  .navbarsection a::selection {
    color: #00FC00;
  }

  .contenedor-menu-section {
    display: inline-flex;
    display: -ms-inline-flexbox;
    margin-left: auto;
    margin-right: auto;
  }
}
/*===========================================EncabezadoSecciones=======================================*/
@media (max-width: 767px) {
  .navbarsubsection {
    min-height: 40px;
    background-color: rgba(26,32,34, 0.41);
    /*padding-top: 13px;
        padding-bottom: 10px;*/
    margin-top: 3px;
  }
}

@media (min-width: 768px) {
  .navbarsubsection {
    min-height: 20px;
    background-color: rgb(192,192,192);    
    margin-top: 3px;
  }
}

.texto-menu-section {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  font-size: 11px;
  line-height: 11px;
}

.visited {
  color: #00FC00;
}

.td-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.borde-derecha-blanco {
  border-right: 1px #ffffff solid;
  /*margin-top: 5px;
    margin-bottom: 5px;*/
}

/*.navbarsectionbackground-fixed {
    background-color: rgba(104, 71, 141,1);
    position: fixed;
    top: 118px;
    height:30px;
    width: 100%;
    z-index: 99;
}*/
