﻿/*=================================== Chat bot flotante =============================*/
@media (max-width: 320px) {
  #floater {
    position: absolute;
    bottom: 1px;
    right: 10px;
    width: 40px;
    height: 40px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 1001;
    border-radius: 3px 0 0 3px;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
  }
    #floater:hover span:after {
	position: absolute;
	visibility: visible;
  opacity: 1;
	content: "";
  border-color: rgba(0,111,70,.8) transparent transparent transparent;
	/*border-color: rgba(166,166,166,1) transparent transparent transparent;*/
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -20px;
	left: 9.5em;
}
 #floater:hover span {
	visibility: visible;
  opacity: 1;
	position: absolute;
	padding: .5em;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: -55px;
  left:-90%;
  -webkit-transform:translate(-50%, 0);
  background: rgba(0,111,70,.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
}
}

@media (min-width: 321px) and (max-width: 466px) {
  #floater {
    position: absolute;
    bottom: 1px;
    right: 10px;
    width: 50px;
    height: 50px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 1001;
    border-radius: 3px 0 0 3px;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
  }
    #floater:hover span:after {
	position: absolute;
	visibility: visible;
  opacity: 1;
	content: "";
  border-color: rgba(0,111,70,.8) transparent transparent transparent;
	/*border-color: rgba(166,166,166,1) transparent transparent transparent;*/
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -20px;
	left: 9.7em;
}
     #floater:hover span {
	visibility: visible;
  opacity: 1;
	position: absolute;
	padding: .5em;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: -55px;
  left:-70%;
  -webkit-transform:translate(-50%, 0);
  background: rgba(0,111,70,.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
}
}

@media (min-width: 467px) and (max-width: 767px) {
  #floater {
    position: absolute;
    bottom: 1px;
    right: 10px;
    width: 60px;
    height: 60px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 1001;
    border-radius: 3px 0 0 3px;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
  }
    #floater:hover span:after {
	position: absolute;
	visibility: visible;
  opacity: 1;
	content: "";
  border-color: rgba(0,111,70,.8) transparent transparent transparent;
	/*border-color: rgba(166,166,166,1) transparent transparent transparent;*/
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -20px;
	left: 9.3em;
}
         #floater:hover span {
	visibility: visible;
  opacity: 1;
	position: absolute;
	padding: .5em;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: -55px;
  left:-35%;
  -webkit-transform:translate(-50%, 0);
  background: rgba(0,111,70,.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
  #floater {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 60px;
    height: 60px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 1001;
    border-radius: 3px 0 0 3px;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
  }
    #floater:hover span:after {
	position: absolute;
	visibility: visible;
  opacity: 1;
	content: "";
  border-color: rgba(0,111,70,.8) transparent transparent transparent;
	/*border-color: rgba(166,166,166,1) transparent transparent transparent;*/
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -20px;
	left: 9em;
}
             #floater:hover span {
	visibility: visible;
  opacity: 1;
	position: absolute;
	padding: .5em;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: -55px;
  left:-35%;
  -webkit-transform:translate(-50%, 0);
  background: rgba(0,111,70,.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
}
}

@media (min-width: 980px) and (max-width: 1199px) {
  #floater {
    position: absolute;
    bottom: 5px;
    right: 30px;
    width: 60px;
    height: 60px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 1001;
    border-radius: 3px 0 0 3px;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
    display:inline-block;
  }
    #floater:hover span:after {
	position: absolute;
	visibility: visible;
  opacity: 1;
	content: "";
  border-color: rgba(0,111,70,.8) transparent transparent transparent;
	/*border-color: rgba(166,166,166,1) transparent transparent transparent;*/
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -20px;
	left: 9em;
}
             #floater:hover span {
	visibility: visible;
  opacity: 1;
	position: absolute;
	padding: .5em;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: -55px;
  left:-35%;
  -webkit-transform:translate(-50%, 0);
  background: rgba(0,111,70,.8);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
}
}

@media (min-width: 1200px) {
  #floater {
    position: absolute;
    bottom: 5px;
    right: 250px;
    width: 60px;
    height: 100px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 1001;
    border-radius: 3px 0 0 3px;
    padding: 1px;
    text-align: center;
    box-sizing: border-box;
     display:inline-block;
  }
    #floater:hover span:after {
	position: absolute;
	visibility: visible;
  opacity: 1;
	content: "";
  border-color: rgba(255,255,255,.8) transparent transparent transparent;
	/*border-color: rgba(166,166,166,1) transparent transparent transparent;*/
	border-style: solid;
	border-width: 10px;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -20px;
	left: 9em;
}
    #floater:hover span {
        visibility: visible;
        opacity: 1;
        position: absolute;
        padding: .5em;
        text-align: center;
        width: auto;
        height: auto;
        white-space: nowrap;
        top: -55px;
        left: -35%;
        -webkit-transform: translate(-50%, 0);
        background: #fff;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 0px 10px 0px 10px;
        color: #26B460;
        font-size: 14px;
    }
}

  #floater span 
  {
    position:fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }




/*=================================== /Chat bot flotante =============================*/



.form-control:focus {
    border-color: #694780;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 1px #47a447, 0 0 1px #47a447;
    box-shadow: inset 0 0px 1px #694780, 0 0 1px #694780;
}

div#divLoading {
  padding: 0px;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: #fff;
  z-index: 2000;
  opacity: .8;
  filter: alpha(opacity=90);
  display: none;
}

div#divLoadingsub {
  position: relative;
  text-align:center;
  background-color: #fff;
  top:40%;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #27A238;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 0px;
}
